﻿@model IEnumerable<d_customer>
@{
    ViewBag.Title = "Part Positions";
}

@Html.PageTitle( ViewBag.Title as string )

<h4 class="text-center">By Shop Date</h4>

@using (Html.BeginForm( "ByShopDateForm",
    null,
    FormMethod.Post,
    new
    {
        @class = "form-horizontal"
    } ))
{
    <div class="row-fluid">
        <div class="offset4 span8">
            <div class="control-group">
                <label class="control-label" for="dietype">
                    Die Type
                </label>
                <div class="controls">
                    <select name="dietype" id="dietype">
                        <option value="hollow">Hollow</option>
                        <option value="solid">Solid</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="offset4 span8">
            <div class="control-group">
                <label class="control-label" for="locale_date">
                    Shop Date
                </label>
                <div class="controls">
                    <!-- <input type="hidden" name="date" id="date" value="@DateTime.Now.ToString( "MM/dd/yyyy" )"/> -->
                    <input type="text" class="datepicker input-small" name="date" id="date" value="@DateTime.Now.ToShortDateString()" data-alt-field="date"/>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="offset4 span8">
            <div class="controls">
                <button type="submit" class="btn btn-primary">View By Shop Date</button>
            </div>
        </div>
    </div>
}

<h4 class="text-center">By Customer</h4>

@using (Html.BeginForm( "ByCustomer",
    null,
    FormMethod.Post,
    new
    {
        @class = "form-horizontal"
    } ))
{
    <div class="row-fluid">
        <div class="offset4 span8">
            <div class="control-group">
                <label class="control-label">
                    Customer:
                </label>
                <div class="controls">
                    <select name="customers" multiple="multiple" size="15" class="span6">
                        @foreach (d_customer customer in Model)
                        {
                            <option value="@customer.customercode">@customer.customercode - @customer.name</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="offset4 span8">
            <div class="controls">
                <button type="submit" class="btn btn-primary">View By Customer</button>
            </div>
        </div>
    </div>
}

<h4 class="text-center">Fast Tracks</h4>
@using (Html.BeginForm( "FastTrack",
    null,
    FormMethod.Post,
    new
    {
        @class = "form-horizontal"
    } ))
{
    <div class="row-fluid">
        <div class="offset4 span8">
            <div class="controls">
                <button type="submit" class="btn btn-primary">View Fast Tracks</button>
            </div>
        </div>
    </div>
}

@section scripts
{
    @Html.DisplayModelErrors()
}