﻿@model PartPositionModel
@{
    ViewBag.Title = "Part Positions";
    int i = 0;
    string prevCust = String.Empty;
}

@Html.PrintButton()
@Html.PageRendered()

@*******    Add Button For Hot List     *******@
@if (Model.PositionType == PartPositionType.HotList)
{
    <div style="float: right; padding-top: 20px; position: fixed; right: 100px;" class="noprint nomobile">
        <a href="#addjobsmodal" class="btn btn-small pull-right" data-toggle="modal"><i class="icon-plus"></i> Add</a>
    </div>
}

<h2>@Model.PageTitle</h2>

@foreach (d_order order in Model.Orders)
{
    if (( Model.PositionType == PartPositionType.HotList || Model.PositionType == PartPositionType.ByCustomer )
        && order.customercode != prevCust)
    {
        <h3>@order.Customer.name</h3>
    }
    else if (i > 0)
    {
        <br class="@Html.OutputIf( "noprint",
                       Model.PositionType != PartPositionType.HotList || Model.PositionType == PartPositionType.HotList && order.shipdate.HasValue )"/>
    }

    @Html.Partial( "_PartPositionStub",
        new PartPositionStubModel( Model.PositionType,
            order ) )
    i++;
    prevCust = order.customercode;
}



@* Modal Window to add jobs to Hot List *@
@if (Model.PositionType == PartPositionType.HotList)
{
    <div class="modal hide fade" id="addjobsmodal" tabindex="-1" role="dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Hot List Add</h3>
        </div>
        <div class="modal-body">
            <form class="hotlistform">
                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group" data-bind="validationElement: ordernumber, validationOptions: { insertMessages: false }">
                            <label class="control-label" for="ordernumber">
                                Order Number:
                            </label>
                            <div class="controls">
                                <input type="text" class="input-small ordernumber" id="ordernumber" name="ordernumber" data-bind="value: ordernumber"/>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="control-group" data-bind="validationElement: hotlistdate, validationOptions: { insertMessages: false }">
                            <label class="control-label" for="hotlistdate">
                                Hot List Date:
                            </label>
                            <div class="controls">
                                <input type="text" class="input-small datepicker clearondblclick" id="hotlistdate" name="hotlistdate" data-bind="datepicker: hotlistdate"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="control-group" data-bind="validationElement: notes, validationOptions: { insertMessages: false }">
                            <label class="control-label" for="ordernotes">
                                Hot List Notes:
                            </label>
                            <div class="controls">
                                <textarea class="span12" rows="5" id="ordernotes" name="ordernotes" data-bind="value: notes"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <a href="#" class="btn btn-primary" id="saveorder">Save Changes</a>
        </div>
    </div>

@section script
{
    <script type="text/javascript">
        var ViewModel = new HotListViewModel();
        var LookUpJobTimer = null;
        var ChangesMade = false;

        function GetHotListInfo() {
            var order = $("#ordernumber").val();
            $.get("/api/Order/GetHotListInfo", { id: order }, function(data) {
                $("#hotlistdate").val(moment(data.hotlistdate).format('L')).change();
                $("#ordernotes").focus().val(data.hotlistnotes).change();

                setTimeout(function() {
                    $("#ordernotes").focus();
                    return false;
                }, 200);
            });
        }

        $(document).ready(function() {
            // Open Edit Menu and Load Data
            $(document).on("click", ".EditJobLink", function() {
                var order = $(this).data("id");

                $("#ordernumber").val(order).change();
            });

            // Load Hot List Info when Order is changed
            $("#ordernumber").on("input change", function() {
                if (!OrderIsValid($(this).val())) {
                    return;
                }

                if (LookUpJobTimer != null) {
                    clearTimeout(LookUpJobTimer);
                }

                LookUpJobTimer = setTimeout(GetHotListInfo, 350);
            });

            // Save on button press
            $("#saveorder").click(function() {
                if (ViewModel.errors().length == 0) {
                    $("#saveorder").attr('disabled', 'disabled');

                    $.post('/api/Order/PostHotListOrder', { "": ko.toJSON(ViewModel) }, function(data) {
                    }).done(function(data) {
                        if (!data.isValid) {
                            $.pnotify({
                                title: "Error",
                                text: data.message,
                                type: "error"
                            });
                        } else {
                            $.pnotify({
                                title: "Success",
                                text: "Saved successfully",
                                type: "success"
                            });

                            $("#ordernumber").val("");
                            $("#hotlistdate").val("");
                            $("#ordernotes").val("");

                            ChangesMade = true;
                        }

                        $("#saveorder").removeAttr('disabled');
                    }).fail(function(jqXHR, textStatus, errorThrown) {
                        $.pnotify({
                            title: "Error",
                            text: "Error while saving.",
                            type: "error"
                        });
                        console.log("Error in Post " + textStatus + " - " + errorThrown + " - " + jqXHR);
                        console.log(jqXHR);
                        $("#saveorder").removeAttr('disabled');
                    });

                } else {
                    $.pnotify({
                        title: "Error",
                        text: "Error while saving.",
                        type: "error"
                    });
                }
            });

            // Reload the page if necessary
            $("#addjobsmodal").on("hidden", function() {
                if (ChangesMade) {
                    window.location.reload(true);
                }
            });
        });
    </script>
}}