﻿@model PartPositionStubModel
@{
    string OrderTitle = Model.Order.ordernumber + ( Model.Order.OrderItems.Where( x => x.hasnitride ).Count() > 0
                                                        ? "(N)"
                                                        : "" ),
           Banner = String.Empty;

    switch (Model.PositionType)
    {
        case PartPositionType.HotList:
            Banner = " - Promise Ship Date: <b>{HotListDate:d}</b>{EditLink}".FormatWithName( new
            {
                HotListDate = Model.Order.hotListDate.Value,
                EditLink = User.IsInRole( DecadeRole.HotListAdmin )
                               ? " - <a href=\"#addjobsmodal\" data-toggle=\"modal\" class=\"EditJobLink\" data-id=\"{ordernumber}\" data-keyboard=\"true\">Edit</a>".FormatWithName( new
                               {
                                   Model.Order.ordernumber
                               } )
                               : String.Empty
            } );
            break;

        case PartPositionType.ByShopDate:
            Banner = " - Customer: <b>{Customer}</b> - Exp. Rec. Date: <b>{RecvDate:d}</b>".FormatWithName( new
            {
                Customer = Model.Order.Customer.name,
                RecvDate = Model.Order.expreceiveddate
            } );
            break;

        case PartPositionType.ByCustomer:
            Banner = " - HT Date: <b>{HTDate}</b> - Shop Date: <b>{ShopDate:d}</b> - Die Numbers: {DieNumbers}".FormatWithName( new
            {
                HTDate = ( Model.Order.htdate.HasValue
                               ? Model.Order.htdate.Value.ToShortDateString()
                               : "TBD" ),
                ShopDate = Model.Order.shopdate,
                DieNumbers = Model.Order.DieNumbers.JoinWith( "," )
            } );
            break;

        case PartPositionType.FastTrack:
        default:
            Banner = "";
            break;
    }
}

@Html.OutputIf( Html.Raw( "<del class=\"noprint\">" ),
    Model.Order.shipdate.HasValue )

<div id="@("order_{OrderNumber}".FormatWithName( new
           {
               OrderNumber = Model.Order.ordernumber
           } ))">
    <div id="head_@Model.Order.ordernumber">
        <a href="@Url.TrackByOrder( Model.Order.ordernumber )">@OrderTitle</a> - Die Diameter: @Model.Order.OrderItems[0].Diameter @Html.Raw( Banner )
    </div>

    @if (Model.PositionType == PartPositionType.HotList
         && Model.Order.OrderNotes != null)
    {
        <div id="note_@Model.Order.ordernumber">
            <b>
                @Model.Order.OrderNotes.notes
            </b>
        </div>
    }

    @if (Model.Order.TrackingInfo != null)
    {
        foreach (d_task task in Model.Order.TrackingInfo.OrderBy( x => Part.PART_CODE_SORT_ORDER.IndexOf( x.PartCode,
            StringComparison.Ordinal ) ))
        {
            <div id="@("info_{OrderNumber}_{PartCode}".FormatWithName( new
                       {
                           OrderNumber = Model.Order.ordernumber,
                           task.PartCode
                       } ))">
                Part @task.PartCode - Last Station: @StationAliases.GetStationAlias( task.station,
                                                        false ) (@task.task) Station Time: @task.tasktime
            </div>
        }
    }
</div>

@Html.OutputIf( Html.Raw( "</del>" ),
    Model.Order.shipdate.HasValue )