﻿@{
    ViewBag.Title = "Dashboard";
}

@Html.PageTitle( ViewBag.Title as string )

<div class="row-fluid">
    <div class="span12">
        <div id="chart"></div>
    </div>
</div>

@section script
{
    <script type="text/javascript">
        $("#chart").highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: "This is the title"
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: "#000",
                            connectorColor: "#000",
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                    }
                },
                series: [
                    {
                        type: 'pie',
                        name: 'Asdf',
                        data: [
                            ['018500', 45.0],
                            ['064000', 22.0],
                            ['094200', 18.0],
                            ['064500', 5.0],
                            ['010200', 10.0]
                        ]
                    }
                ]
            }
        );
    </script>
}