﻿@model CustomerSummaryModel
@{
    ViewBag.Title = "Summary";
}

@Html.PageTitle( ViewBag.Title as string )

<div class="row-fluid">
    <div class="offset3 span6">
        <ul class="nav nav-tabs" id="tabs">
            <li class="active">
                <a href="#attention" data-toggle="tab">Attention</a>
            </li>
            <li>
                <a href="#open" data-toggle="tab">Open</a>
            </li>
            <li>
                <a href="#summary" data-toggle="tab">Summary</a>
            </li>
        </ul>
    </div>
</div>

<div class="row-fluid">
    <div class="offset2 span8">
        <div class="tab-content">
            <div class="tab-pane active" id="attention">
                <table class="table table-bordered table-condensed table-striped sortable">
                    <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Die Number</th>
                        <th>Reason</th>
                    </tr>
                    </thead>

                    <tbody>
                    @foreach (KeyValuePair<d_order, IEnumerable<AttentionReason>> item in Model.AttentionOrders)
                    {
                        <tr>
                            <td>@Url.TrackingLink( @item.Key.ordernumber )</td>
                            <td>@item.Key.OrderItems.First().dienumber</td>
                            <td>
                                @String.Join( ",",
                                    item.Value )</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>

            <div class="tab-pane" id="open">
                <table class="table table-bordered table-condensed table-striped sortable">
                    <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Die Number</th>
                        <th>Order Date</th>
                        <th>Shop Date</th>
                        <th>Exp Ship Date</th>
                        <th>Exp Recv Date</th>
                        <th>Stock</th>
                        <th>Hold</th>
                        <th>PO</th>
                    </tr>
                    </thead>

                    <tbody>
                    @foreach (var order in Model.OpenOrders)
                    {
                        <tr>
                            <td>@Url.TrackingLink( order.ordernumber )</td>
                            <td>@order.OrderItems.First().dienumber</td>
                            <td>@order.orderdate.ToShortDateString()</td>
                            <td>@order.shopdate.ToShortDateString()</td>
                            <td>@order.expshipdate.ToShortDateString()</td>
                            <td>@order.expreceiveddate.ToShortDateString()</td>
                            <td>@order.IsStockJob.ToYesNo()</td>
                            <td>@order.onhold.ToYesNo()</td>
                            <td>@order.customerpo</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
