﻿@{
    ViewBag.Title = "Non-Conformances";
}

@Html.PageTitle( ViewBag.Title as string )

@using (Html.BeginForm())
{
    <div class="row-fluid">
        <div class="span6">
            <label class="pull-right" for="startdate">
                Start Date:
            </label>
        </div>
        <div class="span6">
            <input type="text" class="datepicker input-small" value="@DateTime.Now.ToFirstDayOfMonth().ToShortDateString()" name="startdate" id="startdate"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label class="pull-right" for="enddate">
                End Date:
            </label>
        </div>
        <div class="span6">
            <input type="text" class="datepicker input-small" value="@DateTime.Now.ToLastDayOfMonth().ToShortDateString()" name="enddate" id="enddate"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label class="pull-right" for="employeenumber">
                Employee:
            </label>
        </div>
        <div class="span6">
            <input type="text" class="input-small" placeholder="Employee" id="employeenumber" name="employeenumber"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label class="pull-right" for="department">
                Department
            </label>
        </div>
        <div class="span6">
            <select name="department" id="department" class="input-small">
                <option value="all">All</option>
                <option value="shop">Shop</option>
                <option value="cam">CAM</option>
                <option value="cad">CAD</option>
            </select>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12 text-center">
            <button type="submit" class="btn btn-primary">
                View
            </button>
        </div>
    </div>
}

@section script
{
    @*
    // Code for Autocomplete on employeenumber Textbox
    *@
    <script type="text/javascript">
        new UserAutoComplete("employeenumber");
    </script>

    @Html.DisplayModelErrors()
}