﻿@model IEnumerable<scrapdes>
@{
    ViewBag.Title = "Add Non-Conformance";
}

@Html.PageTitle( ViewBag.Title as string )

<div class="form-horizontal">
    <div class="row-fluid">
        <div class="span4">
            <div class="control-group" data-bind="validationElement: sonum, validationOptions: { insertMessages: false }">
                <label class="control-label" for="sonum">
                    Order Number:
                </label>
                <div class="controls">
                    <input type="text" class="input focus" placeholder="Order Number" id="sonum" name="sonum" autocomplete="off" data-bind="value: sonum"/>
                </div>
            </div>
        </div>

        <div class="span4">
            <div class="control-group" data-bind="validationElement: empnum, validationOptions: { insertMessages: false }">
                <label class="control-label" for="empnum">
                    Employee:
                </label>
                <div class="controls">
                    <input type="text" class="input" placeholder="Employee" id="empnum" name="empnum" autocomplete="off" data-bind="value: empnum"/>
                </div>
            </div>
        </div>

        <div class="span4">
            <div class="control-group" data-bind="validationElement: department, validationOptions: { insertMessages: false }">
                <label class="control-label" for="department">
                    Department:
                </label>
                <div class="controls">
                    <select id="department" name="department" data-bind="value: department">
                        <option value="">Select Department</option>
                        <option value="SALES">Sales</option>
                        <option value="CAD">CAD</option>
                        <option value="CAM">CAM</option>
                        <option value="L-CNC">CNC Lathe</option>
                        <option value="H-CNC">CNC Mill</option>
                        <option value="C-MILL">Manual Mills</option>
                        <option value="H.T.">Heat Treat</option>
                        <option value="GRIND">Blanchard</option>
                        <option value="V-CNC">Finish Mill</option>
                        <option value="EDM">EDM</option>
                        <option value="WIRE">Wire</option>
                        <option value="C-LATHE">C. Lathe</option>
                        <option value="DRILL">Drill</option>
                        <option value="FINISH">Finish</option>
                        <option value="SHIPPING">Shipping</option>
                        <option value="CUSTOMER">Customer</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span4">
            <div class="control-group" data-bind="validationElement: part, validationOptions: { insertMessages: false }">
                <label class="control-label" for="part">
                    Part:
                </label>
                <div class="controls">
                    <select name="part" id="part" data-bind="value: part">
                        <option value="">Select Part</option>
                        <option value="FDR">Feeder</option>
                        <option value="HSG">Mandrel</option>
                        <option value="T-Die">Hollow Plate</option>
                        <option value="S-Die">Solid Plate</option>
                        <option value="BCK">Backer</option>
                        <option value="BOL">Bolster</option>
                        <option value="Misc">Misc.</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="span4">
            <div class="control-group" data-bind="validationElement: Errorcode, validationOptions: { insertMessages: false }">
                <label class="control-label" for="Errorcode">
                    Error Code:
                </label>
                <div class="controls">
                    <select id="Errorcode" name="Errorcode" data-bind="value: Errorcode">
                        <option value="">Select Error Code</option>
                        @foreach (scrapdes errorcode in Model)
                        {
                            <option value="@errorcode.errorcode">@errorcode.department - @errorcode.scrapdesc</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="span4">
            <div class="control-group" data-bind="validationElement: correctioncode, validationOptions: { insertMessages: false }">
                <label class="control-label" for="correctioncode">
                    Correction:
                </label>
                <div class="controls">
                    <select name="correctioncode" id="correctioncode" data-bind="value: correctioncode">
                        <option value="">Select Correction Code</option>
                        <option value="ASIS">Use As Is</option>
                        <option value="REWORK">Rework</option>
                        <option value="WELD">Repair / Weld</option>
                        <option value="SCRAP">Scrap</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div class="control-group" data-bind="validationElement: problem, validationOptions: { insertMessages: false }">
                <label class="control-label" for="problem">
                    Root Cause:
                </label>
                <div class="controls">
                    <textarea class="span11" rows="7" name="problem" id="problem" data-bind="value: problem"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12 text-center">
            <button class="btn btn-primary" id="entererror">
                Enter
            </button>
        </div>
    </div>
</div>

@section script
{
    <script type="text/javascript">
        var VM = new NonConformanceViewModel();

        $(document).ready(function() {
            new UserAutoComplete("empnum");

            $("#entererror").click(function() {
                if (VM.errors().length > 0)
                    return;

                $("#entererror").attr('disabled', 'disabled');
                var json = ko.toJSON(VM);

                $.post("/api/NonConformance/PostNewError", { "": json }, function() {
                }).done(function(data) {
                    $("#entererror").removeAttr('disabled');
                    window.location = '/NonConformance/Print/' + data.errorid;
                }).fail(function(jqXHR, textStatus, errorThrown) {
                    $.pnotify({
                        title: "Error",
                        text: "Error while saving.",
                        type: "error"
                    });
                    console.log("Error in Post " + textStatus + " - " + errorThrown + " - " + jqXHR);
                    console.log(jqXHR);
                    $("#entererror").removeAttr('disabled');
                });
            });
        });
    </script>
}