﻿@{
    ViewBag.Title = "Non-Conformance";
}

@Html.PageTitle( ViewBag.Title as string )

<div class="row-fluid">
    <div class="row-fluid">
        @Html.ActionLink( "Insert New Shop Non-Conformance",
            "Add" )
    </div>
    <div class="row-fluid">
        @Html.ActionLink( "View Non-Conformance",
            "List" )
    </div>
</div>

@section script
{
    @Html.DisplayModelErrors()
}