﻿@model IEnumerable<scraplog>
@{
    ViewBag.Title = "Non-Conformances";
}

@Html.PageTitle( ViewBag.Title as string )

<div class="row-fluid">
    <div class="offset1 span10">
        <table class="table table-bordered table-condensed sortable">
            <thead>
            <tr>
                <th>Order Number</th>
                <th>Part</th>
                <th>Department</th>
                <th>Problem</th>
                <th>Correction Code</th>
                <th>Error Code</th>
                <th>Employee</th>
                <th>Date Logged</th>
                <th>Shop Date</th>
            </tr>
            </thead>

            <tbody>
            @foreach (scraplog log in Model)
            {
                string empName = log.Employee != null
                                     ? ( "{name} ({number})".FormatWithName( new
                                     {
                                         name = log.Employee.Name,
                                         number = log.empnum
                                     } ) )
                                     : "{number}".FormatWithName( new
                                     {
                                         number = log.empnum
                                     } );
                <tr>
                    <td>
                        <p class="text-center">@Url.TrackingLink( log.sonum )</p>
                    </td>
                    <td>
                        <p class="text-center">@log.part</p>
                    </td>
                    <td>
                        <p class="text-center">@log.department</p>
                    </td>
                    <td>
                        <p>@Html.Raw( log.problem.ToUpper() )</p>
                    </td>
                    <td>
                        <p class="text-center">@log.correctioncode</p>
                    </td>
                    <td>
                        <p class="text-center">@log.ScrapDescription.scrapdesc</p>
                    </td>
                    <td>
                        <p class="text-center">@empName</p>
                    </td>
                    <td>
                        <p>@log.date</p>
                    </td>
                    <td>
                        <p>@log.Order.shopdate.ToShortDateString()</p>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<div class="row-fluid">
    <div class="offset4 span4">
        <table class="table table-bordered table-condensed">
            <thead>
            <tr>
                <th>Error</th>
                <th>Total</th>
                <th>Scrap Count</th>
            </tr>
            </thead>

            <tbody>
            @foreach (string error in Model.Select( x => x.ScrapDescription.scrapdesc ).Distinct())
            {
                <tr>
                    <td>
                        <p>@error</p>
                    </td>
                    <td>
                        <p class="text-center">@Model.Count( x => x.ScrapDescription.scrapdesc.EqualsIgnoreCase( error ) )</p>
                    </td>
                    <td>
                        <p class="text-center">@Model.Count( x => x.ScrapDescription.scrapdesc.EqualsIgnoreCase( error ) && x.correctioncode.EqualsIgnoreCase( "Scrap" ) )</p>
                    </td>
                </tr>
            }

            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>

            <tr>
                <td>As-Is</td>
                <td colspan="2">
                    <p class="text-center">@Model.Count( x => x.correctioncode.EqualsIgnoreCase( "ASIS" ) )</p>
                </td>
            </tr>
            <tr>
                <td>Rework</td>
                <td colspan="2">
                    <p class="text-center">@Model.Count( x => x.correctioncode.EqualsIgnoreCase( "Rework" ) )</p>
                </td>
            </tr>
            <tr>
                <td>Scrap</td>
                <td colspan="2">
                    <p class="text-center">@Model.Count( x => x.correctioncode.EqualsIgnoreCase( "Scrap" ) )</p>
                </td>
            </tr>
            <tr>
                <td>Weld</td>
                <td colspan="2">
                    <p class="text-center">@Model.Count( x => x.correctioncode.EqualsIgnoreCase( "Weld" ) )</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
