﻿@model scraplog
@{
    ViewBag.Title = "Non-Conformance";
}

@Html.PrintButton()

<center>
    <table width="85%">
        <tr>
            <td colspan="2">TO: @Model.Employee.Name</td>
            <td>SO Number: @Model.sonum</td>
        </tr>
        <tr>
            <td colspan="2">FROM: EXCO Management</td>
            <td>Date: @Model.date</td>
        </tr>
        <tr>
            <td colspan="3">
                <center>
                    <b>Non-Conformance</b>
                </center>
            </td>
        </tr>
        <tr>
            <td width="40%" align="left">@Model.ScrapDescription.scrapdesc</td>
            <td width="20%" align="center">@Model.part</td>
            <td width="40%" align="right">@Model.correctioncode</td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">@Model.problem.ToUpper()</td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">Employee Signature: __________________________________________________</td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">Supervisor Signature: _________________________________________________</td>
        </tr>
    </table>
</center>