﻿@{
    ViewBag.Title = "Admin Schedule";
}

@Html.PageTitle( ViewBag.Title as string )

@using (Html.BeginForm( "Admin",
    null,
    FormMethod.Post,
    new
    {
        @class = "form-horizontal"
    } ))
{
    <div class="row-fluid">
        <div class="offset4 span8">
            <div class="row-fluid">
                <div class="control-group input-prepend">
                    <label class="control-label" for="startdate">
                        Date:
                    </label>
                    <div class="controls">
                        <span class="add-on"><i class="icon-calendar"></i></span>
                        @Html.TextBox( "date",
                            DateTime.Now.Date.ToShortDateString(),
                            new
                            {
                                @class = "input-small datepicker"
                            } )
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="control-group">
                    <fieldset>
                        <label class="control-label">Show:</label>
                        <div class="controls inline">
                            <label class="checkbox inline">
                                @Html.RadioButton( "mode",
                                    "die",
                                    false,
                                    new
                                    {
                                        id = "mode_die",
                                        @class = "checkbox savedata"
                                    } )
                                Die Numbers
                            </label>
                            <label class="checkbox inline">
                                @Html.RadioButton( "mode",
                                    "order",
                                    true,
                                    new
                                    {
                                        id = "mode_order",
                                        @class = "checkbox savedata"
                                    } )
                                Order Numbers
                            </label>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row-fluid">
                <div class="control-group">
                    <fieldset>
                        <label class="control-label">Die Type:</label>
                        <div class="controls inline">
                            <label class="checkbox inline">
                                @Html.RadioButton( "dietype",
                                    "solid",
                                    true,
                                    new
                                    {
                                        id = "type_solid",
                                        @class = "checkbox savedata"
                                    } )
                                Solid
                            </label>
                            <label class="checkbox inline">
                                @Html.RadioButton( "dietype",
                                    "hollow",
                                    false,
                                    new
                                    {
                                        id = "type_hollow",
                                        @class = "checkbox savedata"
                                    } )
                                Hollow
                            </label>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row-fluid">
                <div class="control-group">
                    <label class="control-label">
                        Track HT Done:
                    </label>
                    <div class="controls inline">
                        <input type="checkbox" name="checkht" id="checkht" class="checkbox savedata" value="HT"/>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="controls">
                    <button class="btn btn-primary" type="submit">View</button>
                </div>
            </div>
        </div>
    </div>
}