﻿@{
    ViewBag.Title = "HT Schedule";
}

@Html.PageTitle( ViewBag.Title as string )

@using (Html.BeginForm())
{
    <div class="row-fluid">
        <div class="span6">
            <label for="startdate" class="pull-right">
                Start Date
            </label>
        </div>
        <div class="span6">
            <input type="text" class="input-small datepicker" id="startdate" name="startdate" value="@DateTime.Now.ToWorkDay( -1 ).ToShortDateString()"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label for="enddate" class="pull-right">
                End Date
            </label>
        </div>
        <div class="span6">
            <input type="text" class="input-small datepicker" id="enddate" name="enddate" value="@DateTime.Now.ToWorkDay( 1 ).ToShortDateString()"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12 text-center">
            <button type="submit" class="btn btn-primary">View</button>
        </div>
    </div>
}