﻿@using System.Globalization
@model AdminSchedModel
@{
    ViewBag.Title = "Admin Schedule";

    // Used to track if we have no more dies to output
    bool moreRows = true;
    int curLine = 0;
    // Determine what the opposite DieType is to link to the other schedule
    DieType tmpType = Model.DieType == DieType.Solid
                          ? DieType.Hollow
                          : DieType.Solid;
}

@section AddToHead
{
    <meta http-equiv="refresh" content="300"/>
}

<style type="text/css">
    .test { opacity: 0.65; }
</style>

@Html.PrintButton()

@Html.PageRendered()

<div class="row-fluid noprint">
    <div class="offset2 span2">
        <a href="@Url.AdminSchedule( Model.DieType,
                     Model.DispMode,
                     Model.StartDate.AddDays( -7 ),
                     Model.CheckHTDone )">
            &lt;&lt; Prev Week
        </a>
    </div>
    <div class="span4">
        <p class="text-center">
            <a href="@Url.AdminSchedule( tmpType,
                         Model.DispMode,
                         Model.StartDate,
                         Model.CheckHTDone )">
                @tmpType</a>
        </p>
    </div>
    <div class="span2">
        <a href="@Url.AdminSchedule( Model.DieType,
                     Model.DispMode,
                     Model.StartDate.AddDays( 7 ),
                     Model.CheckHTDone )" class="pull-right">
            Next Week &gt;&gt;
        </a>
    </div>
</div>

@Html.PageTitle( "{dietype} Schedule  -  Week #{weeknumber}".FormatWithName( new
{
    dietype = Model.DieType,
    weeknumber = CultureInfo.InvariantCulture.Calendar.GetWeekOfYear( Model.StartDate,
        CalendarWeekRule.FirstDay,
        DayOfWeek.Sunday )
} ) )

<div class="row-fluid">
    <div class="offset2 span8">
        <table class="table table-condensed table-bordered">
            <thead>
            <tr>
                @foreach (KeyValuePair<DateTime, List<d_orderitem>> curDate in Model.Orders)
                {
                    <th>@curDate.Key.ToShortDateString()</th>
                }
            </tr>
            <tr>
                @foreach (KeyValuePair<DateTime, List<d_orderitem>> curDate in Model.Orders)
                {
                    int nit = curDate.Value.Count( n => n.hasnitride ),
                        ship = curDate.Value.Count() - nit;
                    <th>N:@nit / S:@ship</th>
                        @* ** Use this For a Hold Count:
                              @Html.OutputIf("/ H:{HoldCount}".FormatWithName(new { HoldCount = curDate.Value.Where(h => h.Order.onhold).Count() }), curDate.Value.Where(h => h.Order.onhold).Count() > 0)
                        *@
                }
            </tr>
            </thead>
            @while (moreRows)
            {
                @Html.PrintAdminSchedRow( Model.Orders,
                    Model.DispMode,
                    curLine,
                    out moreRows )
                curLine++;
            }
        </table>
    </div>
</div>
