﻿@using System.Globalization
@model IEnumerable<d_order>
@{
    ViewBag.Title = "HT Schedule";
    StationAliases.GetStationAlias( "DS200",
        true );
}

@foreach (DateTime htDate in Model.Select( x => x.htdate.Value ).Distinct())
{
    IEnumerable<d_order> orders = Model
        .Where( x => x.htdate.Value == htDate )
        .OrderByDescending( x => x.fasttrack )
        .ThenByDescending( x => x.hotListDate.HasValue )
        .ThenBy( x => x.hotListDate )
        .ThenBy( x => x.shopdate );

    // @Orders.Select(p => p.Parts).Where(p => !p.All(o => o == null || o.IsHTDone)).Sum(p => p.Count())

    if (orders.Select( p => p.Parts ).Any( p => !p.All( o => o == null || o.IsHTDone ) ))
    {
        @Html.PageTitle( htDate.ToShortDateString() )

        <div class="row-fluid">
            <div class="offset4 span4">
                <table class="table table-bordered table-condensed table-striped">
                    <thead>
                    <tr>
                        <th>Order</th>
                        <th>F</th>
                        <th>M</th>
                        <th>P</th>
                        <th>B</th>
                        <th>O</th>
                        <th>R</th>
                    </tr>
                    </thead>

                    <tbody>
                    @foreach (d_order order in orders)
                    {
                        if (!order.Parts.All( p => p == null || p.IsHTDone ))
                        {
                            <tr>
                                <td>
                                    <p class="text-center">
                                        @Html.Raw( order.fasttrack || order.hotListDate.HasValue
                                                       ? "<strong>"
                                                       : String.Empty )@Url.TrackingLink( order ) @Html.Raw( order.fasttrack || order.hotListDate.HasValue
                                                                                                                 ? "</strong>"
                                                                                                                 : String.Empty )</p>
                                </td>

                                @foreach (char c in "FMPBOR")
                                {
                                    <td>
                                        <p class="text-center">
                                            @{
                                                Part part = order.Parts.SingleOrDefault( p => p.PartCode == c.ToString( CultureInfo.InvariantCulture ) );

                                                if (part != null)
                                                {
                                                    if (part.IsHTDone)
                                                    {
                                                        <text>DONE</text>
                                                    }
                                                    else
                                                    {
                                                        if (part.LastTrack != null)
                                                        {
                                                            <text>@StationAliases.GetStationAlias( part.LastTrack.station,
                                                                      false )</text>
                                                        }
                                                        else
                                                        {
                                                            <text>*NONE*</text>
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    <text>N/A</text>
                                                }
                                            }
                                        </p>
                                    </td>
                                }
                            </tr>
                        }
                    }
                    </tbody>

                    <tfoot>
                    <tr>
                        <td>
                            <p class="text-center">
                                @orders.Select( p => p.Parts ).Where( p => !p.All( o => o == null || o.IsHTDone ) ).Sum( p => p.Count( o => o.IsHTDone ) )
                                /
                                @orders.Select( p => p.Parts ).Where( p => !p.All( o => o == null || o.IsHTDone ) ).Sum( p => p.Count() )
                            </p>
                        </td>

                        @foreach (char c in "FMPBOR")
                        {
                            <td>
                                <p class="text-center">
                                    @orders.Select( p => p.Parts ).Where( p => !p.All( o => o == null || o.IsHTDone ) ).Sum( p => p.Count( o => o.PartCode == c.ToString( CultureInfo.InvariantCulture ) && o.IsHTDone ) )
                                    /
                                    @orders.Select( p => p.Parts ).Where( p => !p.All( o => o == null || o.IsHTDone ) ).Sum( p => p.Count( o => o.PartCode == c.ToString( CultureInfo.InvariantCulture ) ) )
                                </p>
                            </td>
                        }
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    }
}