﻿@model ScheduleOrderModel

@{
    ViewBag.Title = "Order Schedule";


    var prevRowGroup = 1;
}

@Html.PageTitle(ViewBag.Title as string)

@section AddToHead{
    <meta http-equiv="refresh" content="300"/>


    <style>
        .overlimit {
            background-color: #ffc0c0 !important;
        }
    </style>
}





<div class="row-fluid">
    <div class="span12 text-center">
        <h4>@DateTime.Now</h4>
    </div>
</div>


<div class="row-fluid">
    <div class="span12">
        <table class="table table-condensed table-bordered table-striped">
            <thead>
            <tr>
                <th>(Max #) Type</th>
                @for (var i = -1; i < Model.Days; i++)
                {
                    <th>
                        @if (i == -1)
                        {
                            <a href="@Url.PartPositionByOrders(Model.Orders[i].Select(x => x.ordernumber))">Backlog</a>
                        }
                        else
                        {
                            <a href="@Url.PartPositionByOrders(Model.Orders[i].Select(x => x.ordernumber))">@DateTime.Today.ToWorkDay(i).ToString("ddd MMM. d")</a>
                            <br/>
                            @("(" + (i + 1) + ")" )
                        }
                    </th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var row in Model.Rows)
            {
                if (prevRowGroup != row.Limit.displaygroup)
                {
                    <tr>
                        <td colspan="@(Model.Days + 2)">&nbsp;</td>
                    </tr>
                }


                <tr>
                    <td>
                        @row.Title
                    </td>


                    @for (var i = -1; i < Model.Days; i++)
                    {
                        var val = row.Value( Model.Orders[i] );

                        var strClass = ( i >= 0 && row.Limit.limit > 0 && val > row.Limit.limit )
                                           ? "overlimit"
                                           : "";

                        <td class="@strClass">
                            <div class="text-center">@val.ToString(row.Limit.formatstring)</div>
                        </td>
                    }
                </tr>


                prevRowGroup = row.Limit.displaygroup;
            }
            </tbody>
        </table>
    </div>
</div>