﻿.ui-autocomplete {
    -moz-background-clip: padding;
    -moz-border-radius: 5px;
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    background-color: #ffffff;
    *border-bottom-width: 2px;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    *border-right-width: 2px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    left: 0;
    list-style: none;
    margin: 2px 0 0 0;
    min-width: 160px;
    padding: 4px 0;
    position: absolute;
    top: 100%;
    z-index: 1000;
    _width: 160px;
}

.ui-menu-item > a.ui-corner-all {
    clear: both;
    color: #555555;
    display: block;
    font-weight: normal;
    line-height: 18px;
    padding: 3px 15px;
    white-space: nowrap;
}

.ui-state-hover, .ui-state-active {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background-color: #0088cc;
    background-image: none;
    border-radius: 0px;
    color: #ffffff;
    text-decoration: none;
}

.datetimepicker {
    position: relative
}