﻿@{
    ViewBag.Title = "Daily Totals";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="row-fluid">
        <div class="offset4 span8">
            <div class="control-group">
                <label class="control-label">
                    Totals Mode
                </label>
                <div class="controls">
                    <label class="checkbox inline">
                        @Html.RadioButton("mode", "order", true, new { @class = "checkbox inline" })
                        <b class="plusone">Daily Orders Total</b>
                    </label><br />
                    <label class="checkbox inline">
                        @Html.RadioButton("mode", "invoice", false, new { @class = "checkbox inline" })
                        <b class="plusone">Invoices Total</b>
                    </label><br />
                    <label class="checkbox inline">
                        @Html.RadioButton("mode", "shipped", false, new { @class = "checkbox inline" })
                        <b class="plusone">Shipped Total</b>
                    </label>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row-fluid">
        <div class="offset4 span8">
            <div class="control-group input-prepend">
                <label class="control-label">
                    Exchange Rate:
                </label>
                <div class="controls">
                    <span class="add-on">$</span>
                    @Html.TextBox("exchangerate", 1, new { @class = "input-small savedata" })
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="offset4 span8">
            <div class="control-group input-prepend">
                <label class="control-label">
                    Start Date:
                </label>
                <div class="controls">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                    <input type="text" class="monthpicker input-small" id="startdate" name="startdate" value="@DateTime.Now.ToString(
                                                                                                                  "MM/yyyy" )"/>
                </div>
            </div>
        </div>
    </div>

    <!--
    <div class="row-fluid">
        <div class="offset4 span8">
            <div class="control-group input-prepend">
                <label class="control-label">
                    End Date:
                </label>
                <div class="controls">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                    <input type="text" class="monthpicker input-small" id="enddate" name="enddate" value="@DateTime.Now.ToString(
                                                                                                              "MM/yyyy" )"/>
                </div>
            </div>
        </div>
    </div>
    -->

    <div class="row-fluid">
        <div class="offset4 span8">
            <div class="controls">
                <button type="submit" class="btn btn-primary">View</button>
            </div>
        </div>
    </div>
}