﻿@{
    ViewBag.Title = "Invoice Audit";
}

@Html.PageTitle( "Invoice Audit" )

@Html.DisplayModelErrors()

@using (Html.BeginForm())
{
    <div class="row-fluid">
        <div class="span6">
            <label for="date" class="pull-right">
                Invoice Date:
            </label>
        </div>
        <div class="span6">
            <input type="text" class="input-small datepicker" id="date" name="date" value="@DateTime.Now.ToPrevWorkDay().ToShortDateString()"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12 text-center">
            <button type="submit" class="btn btn-primary">View</button>
        </div>
    </div>
}

@section script
{
    @Html.DisplayModelErrors()
}