﻿@model OrdersListModel
@{
    ViewBag.Title = Model.Title;
}

@Html.PageRendered()

@Html.PageTitle( Model.Title )

<div class="row-fluid">
<div class="offset2 span8">
    <table class="table table-condensed table-bordered table-striped sortable">
        <thead>
        <tr>
            <th>Order Number</th>
            <th>Die Number(s)</th>
            <th>Customer</th>
            <th>Order Date</th>
            <th>Exp. Ship Date</th>
            @if (Model.IsLateList)
            {
                <th>Predicted Ship</th>
            }
        </tr>
        </thead>

        @foreach (d_order order in Model.Orders)
        {
            <tr>
                <td>
                    <a href="@Url.TrackByOrder( order.ordernumber )">@order.ordernumber</a>
                </td>
                <td>@order.DieNumbers.JoinWith( ", " )</td>
                <td>@order.customercode @order.Customer.name</td>
                <td>@order.orderdate.ToShortDateString()</td>
                <td>@order.expshipdate.ToShortDateString()</td>
                @if (Model.IsLateList)
                {
                    <td>
                        @order.PredictedShipDate.ToShortDateString()
                    </td>
                }
            </tr>
        }
    </table>
</div>
</div>
