﻿@model d_order
@{
    ViewBag.Title = "Open Orders";
}

@Html.PageTitle( ViewBag.Title as string )

@using (Html.BeginForm())
{
    <div class="row-fluid">
        <div class="span12 text-center">
            <h3>By Customer</h3>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label class="pull-right" for="customercode">
                Customer:
            </label>
        </div>
        <div class="span6">
            <input type="text" class="input-small customerautocomplete" id="customercode" name="customercode" placeholder="Customer"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12 text-center">
            <button class="btn btn-primary" type="submit">View</button>
        </div>
    </div>
}

@using (Html.BeginForm())
{
    <div class="row-fluid">
        <div class="span12 text-center">
            <h3>By Order Range</h3>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label class="pull-right" for="minorder">
                Start:
            </label>
        </div>
        <div class="span6">
            <input type="text" id="minorder" name="minorder" class="input-small" value="@Model.ordernumber"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label class="pull-right" for="maxorder">
                End:
            </label>
        </div>
        <div class="span6">
            <input type="text" id="maxorder" name="maxorder" class="input-small" value="999999"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label class="pull-right" for="ordercustomercode">
                Customer:
            </label>
        </div>
        <div class="span6">
            <input type="text" id="ordercustomercode" name="customercode" class="input-small customerautocomplete" placeholder="Customer"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12 text-center">
            <button type="submit" class="btn btn-primary">View</button>
        </div>
    </div>
}

@using (Html.BeginForm())
{
    <div class="row-fluid">
        <div class="span12 text-center">
            <h3>By Date Range</h3>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label class="pull-right" for="startdate">
                Start Date:
            </label>
        </div>
        <div class="span6">
            <input type="text" id="startdate" name="startdate" class="input-small datepicker" value="@Model.orderdate.ToShortDateString()"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label class="pull-right" for="enddate">
                End Date:
            </label>
        </div>
        <div class="span6">
            <input type="text" id="enddate" name="enddate" class="input-small datepicker" value="@Model.orderdate.ToShortDateString()"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label class="pull-right" for="datecustomercode">
                Customer:
            </label>
        </div>
        <div class="span6">
            <input type="text" id="datecustomercode" name="customercode" class="input-small customerautocomplete" placeholder="Customer"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12 text-center">
            <button type="submit" class="btn btn-primary">View</button>
        </div>
    </div>
}