﻿@model d_order
@{
    ViewBag.Title = "Order Action";
}

@Html.PageTitle( ViewBag.Title as string )

@using (Html.BeginForm( "OrderActionForm",
    "Orders" ))
{
    <div class="row-fluid">
        <div class="span6">
            <label class="pull-right" for="minorder">
                Start:
            </label>
        </div>
        <div class="span6">
            <input type="text" class="input-small" id="minorder" name="minorder" value="@Model.ordernumber"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label class="pull-right" for="maxorder">
                End:
            </label>
        </div>
        <div class="span6">
            <input type="text" class="input-small" id="maxorder" name="maxorder" value="999999"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label class="pull-right" for="ordercustomercode">
                Customer:
            </label>
        </div>
        <div class="span6">
            <input type="text" class="input-small customerautocomplete" id="ordercustomercode" name="customercode" placeholder="Customer"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12 text-center">
            <button type="submit" class="btn btn-primary">
                View
            </button>
        </div>
    </div>
}

@using (Html.BeginForm( "OrderActionForm",
    "Orders" ))
{
    <div class="row-fluid">
        <div class="span6">
            <label class="pull-right" for="startdate">
                Start Date:
            </label>
        </div>
        <div class="span6">
            <input type="text" class="input-small datepicker" id="startdate" name="startdate" value="@Model.orderdate.ToShortDateString()"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label class="pull-right" for="maxorder">
                End:
            </label>
        </div>
        <div class="span6">
            <input type="text" class="input-small datepicker" id="enddate" name="enddate" value="@Model.orderdate.ToShortDateString()"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label class="pull-right" for="datecustomercode">
                Customer:
            </label>
        </div>
        <div class="span6">
            <input type="text" class="input-small customerautocomplete" id="datecustomercode" name="customercode" placeholder="Customer"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12 text-center">
            <button type="submit" class="btn btn-primary">
                View
            </button>
        </div>
    </div>
}