﻿@using DecadeWeb.Code.Extensions
@model DailyTotalsModel
@{
    ViewBag.Title = "Daily Totals";
}

@section AddtoHead{
    <meta http-equiv="refresh" content="300" />
}

@Html.PageRendered()

@Html.PageTitle( "Daily {mode} Totals - {date}".FormatWithName( new
{
    mode = Model.Mode,
    date = Model.StartDate.ToString( "MMMM yyyy" )
} ) )

<p class="text-center">@DateTime.Now</p>

<div class="row-fluid">
    <div class="span10">
        <table class="table table-condensed table-bordered table-striped">
            <thead>
            <tr>
                <th rowspan="2">Date</th>
                <th colspan="@(Model.Territories.Count() + 1)">Sales</th> @* +1 is for the Misc column where sales go if they do not fall into any other category *@
                <th rowspan="2">Gross Sales</th>
                <th colspan="2">Delivery</th>
                <th rowspan="2">GST</th>
                <th rowspan="2">Total Receivable</th>
                <th rowspan="2">Total W/Exch (No Freight)</th>
                <th colspan="3"># Orders</th>
                <th colspan="5">Job Breakdown</th>
                <th rowspan="2">Paid Jobs</th>
            </tr>
            <tr>
                @foreach (d_territories curTer in Model.Territories)
                {
                    <th>@curTer.name</th>
                }
                <th>Misc.</th> @* Territories *@
                <th>USA</th> @* Delivery *@
                <th>CDN</th> @* Delivery *@
                <th>
                    <abbr title="No charge, rework/repair">NCR</abbr>
                </th> @* # Orders *@
                <th>
                    <abbr title="No charge, new die being build.">NCRS</abbr>
                </th> @* # Orders *@
                <th>
                    <abbr title="Total # of jobs (Including NCR/NCRS)">Jobs</abbr>
                </th> @* # Orders *@
                <th>
                    <abbr title="# of solid orders">S</abbr>
                </th> @* Job Breakdown *@
                <th>
                    <abbr title="# of hollow orders">H</abbr>
                </th> @* Job Breakdown *@
                <th>
                    <abbr title="# of bolster only orders">B</abbr>
                </th> @* Job Breakdown *@
                <th>
                    <abbr title="# of ring only orders">R</abbr>
                </th> @* Job Breakdown *@
                <th>
                    <abbr title="# of misc. only orders">M</abbr>
                </th> @* Job Breakdown *@
        </tr>
        </thead>

        <tbody>
        @{
            DateTime curDate = Model.StartDate;

            while (curDate < Model.EndDate)
            {
                List<d_order> dayOrders;

                if (Model.Mode == DailyTotalsMode.Shipped)
                {
                    dayOrders = Model.Orders.Where( d => d.shipdate.Value.Date == curDate.Date ).ToList();
                }
                else if (Model.Mode == DailyTotalsMode.Invoice)
                {
                    dayOrders = Model.Orders.Where( d => d.invoicedate.Value.Date == curDate.Date ).ToList();
                }
                else
                {
                    dayOrders = Model.Orders.Where( d => d.orderdate.Date == curDate.Date ).ToList();
                }

                if (dayOrders.Any())
                {
                    <tr>
                        @{
                            var orderActionMode = "order";

                            if (Model.Mode == DailyTotalsMode.Invoice)
                            {
                                orderActionMode = "invoice";
                            }
                            else if (Model.Mode == DailyTotalsMode.Shipped)
                            {
                                orderActionMode = "shipped";
                            }
                        }
                        <td>
                            <a href="@Url.OrderAction( curDate,
                                         curDate,
                                         datefield: orderActionMode )" target="_blank">
                                @curDate.ToShortDateString()</a>
                        </td> @* Order Date *@

                        @foreach (d_territories curTer in Model.Territories)
                        {
                            <td class="ralign">@dayOrders.Where( x => x.Customer.territory == curTer.code ).Sum( x => x.SubTotal ).ToCurrency()</td>
                        }
                        <td class="ralign">@dayOrders.Where( x => !( Model.Territories.Select( t => t.code ).Contains( x.Customer.territory ) ) ).Sum( x => x.SubTotal ).ToCurrency()</td>

                        <td class="ralign">@dayOrders.Sum( x => x.SubTotal ).ToCurrency()</td> @* Gross Sales *@
                        <td class="ralign">@dayOrders.Where( c => !c.Customer.territory.EqualsIgnoreCase( "CA" ) ).Sum( x => x.freight ).ToCurrency()</td> @* Non-CA Freight *@
                        <td class="ralign">@dayOrders.Where( c => c.Customer.territory.EqualsIgnoreCase( "CA" ) ).Sum( x => x.freight ).ToCurrency()</td> @* CA Freight *@
                        <td class="ralign">
                            @dayOrders.ApplyExchange( x => x.gst,
                                Model.ExchangeRate ).ToCurrency()</td> @* GST *@
                        <td class="ralign">@dayOrders.Sum( x => x.SubTotal + x.freight ).ToCurrency()</td> @* Total Receivable *@
                        <td class="ralign">@dayOrders.ApplyExchange( Model.ExchangeRate ).ToCurrency()</td> @* Total W/ Exch No Freight *@
                        <td class="ralign">@dayOrders.Count( x => x.ncr )</td> @* NCR Count *@
                        <td class="ralign">@dayOrders.Count( x => x.ncrs )</td> @* NCR Scrap Count *@
                        <td class="ralign">@dayOrders.Count()</td> @* Order Count *@
                        <td class="ralign">@dayOrders.Count( x => x.DieType == DieType.Solid )</td> @* Solid Count *@
                        <td class="ralign">@dayOrders.Count( x => x.DieType == DieType.Hollow )</td> @* Hollow Count *@
                        <td class="ralign">@dayOrders.Count( x => x.DieType == DieType.Bolster )</td> @* Bolster Count *@
                        <td class="ralign">@dayOrders.Count( x => x.DieType == DieType.Ring )</td> @* Ring Count *@
                        <td class="ralign">@dayOrders.Count( x => x.DieType == DieType.Misc )</td> @* Misc Count *@
                        <td class="ralign">@dayOrders.Count( x => x.IsPaidJob )</td> @* Paid Work Count *@
                    </tr>
                }

                curDate = curDate.AddDays( 1 );
            }
        }
        </tbody>

        <tr>
            <td colspan="@(20 + Model.Territories.Count())">&nbsp;</td>
        </tr>

        <!-- Summary Line NO EXCHANGE -->
        <tr>
            <td></td>
            @foreach (d_territories curTer in Model.Territories)
            {
                <td class="ralign">@Model.Orders.Where( x => x.Customer.territory == curTer.code ).Sum( x => x.SubTotal ).ToCurrency()</td>
            }
            <td class="ralign">@Model.Orders.Where( x => !Model.Territories.Select( t => t.code ).Contains( x.Customer.territory ) ).Sum( x => x.SubTotal ).ToCurrency()</td>
            <td class="ralign">@Model.Orders.Sum( x => x.SubTotal ).ToCurrency()</td>
            <td class="ralign">@Model.Orders.Where( c => !c.Customer.territory.EqualsIgnoreCase( "CA" ) ).Sum( x => x.freight ).ToCurrency()</td>
            <td class="ralign">@Model.Orders.Where( c => c.Customer.territory.EqualsIgnoreCase( "CA" ) ).Sum( x => x.freight ).ToCurrency()</td>
            <td class="ralign">
                @Model.Orders.ApplyExchange( x => x.gst,
                    Model.ExchangeRate ).ToCurrency()</td>
            <td class="ralign">@Model.Orders.Sum( x => x.SubTotal + x.freight + x.gst ).ToCurrency()</td>
            <td class="ralign">@Model.Orders.ApplyExchange( Model.ExchangeRate ).ToCurrency()</td>
            <td class="ralign">@Model.Orders.Count( x => x.ncr )</td>
            <td class="ralign">@Model.Orders.Count( x => x.ncrs )</td>
            <td class="ralign">@Model.Orders.Count()</td>
            <td class="ralign">@Model.Orders.Count( x => x.DieType == DieType.Solid )</td>
            <td class="ralign">@Model.Orders.Count( x => x.DieType == DieType.Hollow )</td>
            <td class="ralign">@Model.Orders.Count( x => x.DieType == DieType.Bolster )</td>
            <td class="ralign">@Model.Orders.Count( x => x.DieType == DieType.Ring )</td>
            <td class="ralign">@Model.Orders.Count( x => x.DieType == DieType.Misc )</td>
            <td class="ralign">@Model.Orders.Count( x => x.IsPaidJob )</td>
        </tr>


        <!-- EXCHANGE OUTPUT LINE -->
        <tr>
            <td>
                <b>EXCHANGE</b>
            </td>
            @foreach (var curTer in Model.Territories)
            {
                <td class="ralign">
                    @Model.Orders.Where( x => x.Customer.territory.EqualsIgnoreCase( curTer.code ) ).GetExchange( x => x.SubTotal,
                        Model.ExchangeRate ).ToCurrency()</td>
            }
            <td class="ralign">
                @Model.Orders.Where( x => !Model.Territories.Select( t => t.code ).Contains( x.Customer.territory ) ).GetExchange( x => x.SubTotal,
                    Model.ExchangeRate ).ToCurrency()</td>
            <td class="ralign">
                @Model.Orders.GetExchange( x => x.SubTotal,
                    Model.ExchangeRate ).ToCurrency()</td>
            <td class="ralign">
                @Model.Orders.Where( x => !x.Customer.territory.EqualsIgnoreCase( "CA" ) ).GetExchange( x => x.freight,
                    Model.ExchangeRate ).ToCurrency()</td>
            <td class="ralign">
                @Model.Orders.Where( x => x.Customer.territory.EqualsIgnoreCase( "CA" ) ).GetExchange( x => x.freight,
                    Model.ExchangeRate ).ToCurrency()</td>
            <td class="ralign">
                @Model.Orders.GetExchange( x => x.gst,
                    Model.ExchangeRate ).ToCurrency()</td>
            <td class="ralign">
                @Model.Orders.GetExchange( x => x.SubTotal + x.freight + x.gst,
                    Model.ExchangeRate ).ToCurrency()</td>
            <td class="ralign">@(0.ToCurrency())</td>
            <th>NCR</th> @* # Orders *@
            <th>NCRS</th> @* # Orders *@
            <th>Jobs</th> @* # Orders *@
            <th>S</th> @* Job Breakdown *@
            <th>H</th> @* Job Breakdown *@
            <th>B</th> @* Job Breakdown *@
            <th>R</th> @* Job Breakdown *@
            <th>M</th> @* Job Breakdown *@
            <th>Paid</th>
        </tr>


        <!-- Summary Line WITH EXCHANGE -->
        <tr>
            <td>
                <b>TOTALS</b>
            </td>
            @foreach (d_territories curTer in Model.Territories)
            {
                <td class="ralign">@Model.Orders.Where( x => x.Customer.territory == curTer.code ).ApplyExchange( Model.ExchangeRate ).ToCurrency()</td>
            }
            <td class="ralign">@Model.Orders.Where( x => !Model.Territories.Select( t => t.code ).Contains( x.Customer.territory ) ).ApplyExchange( Model.ExchangeRate ).ToCurrency()</td>
            <td class="ralign">@Model.Orders.ApplyExchange( Model.ExchangeRate ).ToCurrency()</td>
            <td class="ralign">
                @Model.Orders.Where( c => !c.Customer.territory.EqualsIgnoreCase( "CA" ) ).ApplyExchange( x => x.freight,
                    Model.ExchangeRate ).ToCurrency()</td>
            <td class="ralign">
                @Model.Orders.Where( c => c.Customer.territory.EqualsIgnoreCase( "CA" ) ).ApplyExchange( x => x.freight,
                    Model.ExchangeRate ).ToCurrency()</td>
            <td class="ralign">
                @Model.Orders.ApplyExchange( x => x.gst,
                    Model.ExchangeRate ).ToCurrency()</td>
            <td class="ralign">
                @Model.Orders.ApplyExchange( x => x.SubTotal + x.freight + x.gst,
                    Model.ExchangeRate ).ToCurrency()</td>
            <td class="ralign">@Model.Orders.ApplyExchange( Model.ExchangeRate ).ToCurrency()</td>
            <td class="ralign">@Model.Orders.Count( x => x.ncr )</td>
            <td class="ralign">@Model.Orders.Count( x => x.ncrs )</td>
            <td class="ralign">@Model.Orders.Count()</td>
            <td class="ralign">@Model.Orders.Count( x => x.DieType == DieType.Solid )</td>
            <td class="ralign">@Model.Orders.Count( x => x.DieType == DieType.Hollow )</td>
            <td class="ralign">@Model.Orders.Count( x => x.DieType == DieType.Bolster )</td>
            <td class="ralign">@Model.Orders.Count( x => x.DieType == DieType.Ring )</td>
            <td class="ralign">@Model.Orders.Count( x => x.DieType == DieType.Misc )</td>
            <td class="ralign">@Model.Orders.Count( x => x.IsPaidJob )</td>
</tr>
</table>
</div>
</div>