﻿@model IEnumerable<d_order>
@{
    ViewBag.Title = "Invoice Audit for {invoicedate}".FormatWithName( new
    {
        invoicedate = @Model.First().invoicedate.Value.ToShortDateString()
    } );
}

@Html.PrintButton()
@Html.PageRendered()

@Html.PageTitle( "Invoice Audit {date}".FormatWithName( new
{
    date = @Model.First().invoicedate.Value.ToShortDateString()
} ) )

<div class="row-fluid">
    <div class="offset3 span6">
        <center>
            <table class="table table-bordered table-condensed table-striped sortable">
                <thead>
                <tr>
                    <th>Order</th>
                    <th>Customer</th>
                    <th>Sales</th>
                    <th>Freight</th>
                    <th>GST</th>
                    <th>Total</th>
                </tr>
                </thead>

                <tbody>
                @foreach (d_order order in Model)
                {
                    <tr>
                        <td>
                            <p>@Url.TrackingLink( order )</p>
                        </td>
                        <td>
                            <p>@order.customercode (@order.Customer.name)</p>
                        </td>
                        <td>
                            <p class="pull-right">@order.sales.ToCurrency()</p>
                        </td>
                        <td>
                            <p class="pull-right">@order.freight.ToCurrency()</p>
                        </td>
                        <td>
                            <p class="pull-right">@order.gst.ToCurrency()</p>
                        </td>
                        <td>
                            <p class="pull-right">@order.total.ToCurrency()</p>
                        </td>
                    </tr>
                }
                </tbody>

                <tfoot>
                <tr>
                    <td>
                        <p>Count: @Model.Count()</p>
                    </td>
                    <td>
                        <b class="pull-right">Total:</b>
                    </td>
                    <td>
                        <p class="pull-right">@Model.Sum( x => x.sales ).ToCurrency()</p>
                    </td>
                    <td>
                        <p class="pull-right">@Model.Sum( x => x.freight ).ToCurrency()</p>
                    </td>
                    <td>
                        <p class="pull-right">@Model.Sum( x => x.gst ).ToCurrency()</p>
                    </td>
                    <td>
                        <p class="pull-right">@Model.Sum( x => x.total ).ToCurrency()</p>
                    </td>
                </tr>
                </tfoot>
            </table>
        </center>
    </div>
</div>
