﻿@{
    ViewBag.Title = "Place orders on/off hold";
}

@Html.PageTitle( ViewBag.Title as string )


<form id="holdform">
    <div class="row-fluid">
        <div class="span6">
            <label class="pull-right" for="ordernumbers">
                Order Number(s):
            </label>
        </div>
        <div class="span6">
            <input type="text" name="ordernumbers" id="ordernumbers" data-bind="value: orders" class="input-large focus"/>
        </div>
    </div>

    <fieldset id="holdtype">

        <div class="row-fluid">
            <div class="offset6 span6">
                <label>
                    <input type="radio" name="holdtype" value="onhold" data-bind="checked: mode"/>
                    On Hold
                </label>
            </div>
        </div>

        <div class="row-fluid">
            <div class="offset6 span6">
                <label>
                    <input type="radio" name="holdtype" value="release" data-bind="checked: mode"/>
                    Release
                </label>
            </div>
        </div>

        <div class="row-fluid">
            <div class="offset6 span6">
                <label>
                    <input type="radio" name="holdtype" value="remove" data-bind="checked: mode"/>
                    Remove
                </label>
            </div>
        </div>

    </fieldset>

    <div class="row-fluid">
        &nbsp;
    </div>

    <div class="row-fluid">
        <div class="span12 text-center">
            <input type="button" class="btn btn-primary" id="processhold" data-bind="enable: CanSubmit()" value="Process"/>
        </div>
    </div>
</form>

@section script
{
    <script type="text/javascript">
        var VM = new ManageHoldViewModel();
    </script>
}
