﻿@model IEnumerable<d_order>
@{
    ViewBag.Title = "Open Orders";
}

@Html.PageRendered()

@Html.PageTitle( ViewBag.Title as string )

<div class="row-fluid">
    <div class="offset1 span10">
        <table class="table table-condensed table-striped table-bordered">
            <thead>
            <tr>
                <th>Order</th>
                <th>Ter</th>
                <th>Customer</th>
                <th>Order Date</th>
                <th>HT Date</th>
                <th>Shop Date</th>
                <th>Exp. Received</th>
                <th>PO #</th>
                <th>Die #</th>
                <th>Description</th>
                <th>Qty</th>
                <th>Price</th>
            </tr>
            </thead>

            <tbody>
            @{
                foreach (d_order order in Model)
                {
                    var displayHeader = true;

                    foreach (var item in order.OrderItems)
                    {
                        <tr>
                            @if (displayHeader)
                            {
                                <td>@Url.TrackingLink( order.ordernumber )</td>
                                <td>@order.Customer.territory</td>
                                <td>@order.customercode</td>
                                <td>@order.orderdate.ToShortDateString()</td>
                                <td>
                                    @(order.htdate.HasValue
                                          ? order.htdate.Value.ToShortDateString()
                                          : String.Empty)
                                </td>
                                <td>@order.shopdate.ToShortDateString()</td>
                                <td>@order.expreceiveddate.ToShortDateString()</td>
                                <td>@order.customerpo</td>
                            }
                            else
                            {
                                <td colspan="8">&nbsp;</td>
                            }
                            <td>@item.dienumber</td>
                            <td>@item.description</td>
                            <td>@item.qty</td>
                            <td>
                                <p class="pull-right">@item.price.ToCurrency()</p>
                            </td>
                        </tr>

                        foreach (var charge in item.Charges)
                        {
                            <tr>
                                <td colspan="9">&nbsp;</td>
                                <td>@charge.chargename</td>
                                <td>@charge.qty</td>
                                <td>
                                    <p class="pull-right">@charge.price.ToCurrency()</p>
                                </td>
                            </tr>
                        }

                        displayHeader = false;
                    }

                    // Display Steel Surcharge
                    if (!order.steelsurcharge.Equals( 0 ))
                    {
                        <tr>
                            <td colspan="9">&nbsp;</td>
                            <td>Steel Surcharge</td>
                            <td>&nbsp;</td>
                            <td>
                                <p class="pull-right">@order.steelsurcharge.ToCurrency()</p>
                            </td>
                        </tr>
                    }

                    // Display Fast Track
                    if (!order.fasttrackcharge.OrDefault( 0 ).Equals( 0 ))
                    {
                        <tr>
                            <td colspan="9">&nbsp;</td>
                            <td>Fast Track</td>
                            <td>&nbsp;</td>
                            <td>
                                <p class="pull-right">@order.fasttrackcharge.OrDefault( 0 ).ToCurrency()</p>
                            </td>
                        </tr>
                    }

                    // Display Discount
                    if (!order.discountamount.OrDefault( 0 ).Equals( 0 ))
                    {
                        <tr>
                            <td colspan="9">&nbsp;</td>
                            <td>Discount</td>
                            <td>&nbsp;</td>
                            <td>
                                <p class="pull-right">@(( order.discountamount.OrDefault( 0 ) * -1 ).ToCurrency())</p>
                            </td>
                        </tr>
                    }

                    // Display Summary
                    <tr>
                        <td colspan="12">
                            <p class="pull-right">
                                <b>@order.ordernumber Total:</b> @order.total.ToCurrency()</p>
                        </td>
                    </tr>
                }
            }
            </tbody>

            <tfoot>
            <tr>
                <th>
                    <b>@(Model.Count()) Items</b>
                </th>
                <th colspan="11">
                    <b class="pull-right">Grand Total: @(Model.Sum( x => x.total ).ToCurrency())</b>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>