﻿@model OrderActionModel
@{
    const string pageName = "Order Action";
    ViewBag.Title = String.Format("{0} {1}", pageName,
        Model.Title );
}

@Html.PageTitle( pageName )
@Html.PageTitle( Model.Title )

<div class="row-fluid">
    <div class="offset2 span8">
        <table class="table table-bordered table-condensed table-striped sortable">
            <thead>
            <tr>
                <th>Order Number</th>
                <th>Customer</th>
                <th>Sales</th>
                <th>Steel Surcharge</th>
                <th>Freight</th>
                <th>GST</th>
                <th>Total</th>
            </tr>
            </thead>

            <tbody>
            @foreach (d_order order in Model.Orders)
            {
                <tr>
                    <td>
                        <p>@Url.TrackingLink( order )</p>
                    </td>
                    <td>
                        <p>@order.customercode (@order.Customer.name)</p>
                    </td>
                    <td>
                        <p class="pull-right">@order.sales.ToCurrency()</p>
                    </td>
                    <td>
                        <p class="pull-right">@order.steelsurcharge.ToCurrency()</p>
                    </td>
                    <td>
                        <p class="pull-right">@order.freight.ToCurrency()</p>
                    </td>
                    <td>
                        <p class="pull-right">@order.gst.ToCurrency()</p>
                    </td>
                    <td>
                        <p class="pull-right">@order.total.ToCurrency()</p>
                    </td>
                </tr>
            }
            </tbody>

            <tfoot>
            <tr>
                <th>Count: @Model.Orders.Count()</th>
                <th>
                    <p class="pull-right">Total</p>
                </th>
                <th>
                    <p class="pull-right">@Model.Orders.Sum( x => x.sales ).ToCurrency()</p>
                </th>
                <th>
                    <p class="pull-right">@Model.Orders.Sum( x => x.steelsurcharge ).ToCurrency()</p>
                </th>
                <th>
                    <p class="pull-right">@Model.Orders.Sum( x => x.freight ).ToCurrency()</p>
                </th>
                <th>
                    <p class="pull-right">@Model.Orders.Sum( x => x.gst ).ToCurrency()</p>
                </th>
                <th>
                    <p class="pull-right">@Model.Orders.Sum( x => x.total ).ToCurrency()</p>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>