﻿@{
    ViewBag.Title = "Surcharge Calculator";
}

@Html.PageTitle( ViewBag.Title as string )

<form id="surchargeform">
    <div class="row-fluid">
        <div class="span6">
            <label class="pull-right" for="customercode">
                Customer Code:
            </label>
        </div>
        <div class="span6">
            <input type="text" name="customercode" id="customercode" placeholder="Customer Code" class="focus selectall customerautocomplete" data-bind="value: customercode"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label class="pull-right" for="diameter">
                Diameter:
            </label>
        </div>
        <div class="span6">
            <input type="text" name="diameter" id="diameter" placeholder="Diameter" class="selectall" data-bind="value: diameter"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label class="pull-right" for="thickness">
                Thickness:
            </label>
        </div>
        <div class="span6">
            <input type="text" name="thickness" id="thickness" placeholder="Thickness" class="selectall" data-bind="value: thickness"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label class="pull-right" for="piececount">
                Piece Count:
            </label>
        </div>
        <div class="span6">
            <input type="text" name="piececount" id="piececount" placeholder="Piece Count" class="selectall" data-bind="value: piececount"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label class="pull-right" for="dietype">
                Die Type:
            </label>
        </div>
        <div class="span6">
            <select name="dietype" id="dietype" data-bind="value: dietype">
                <option value="DI">Solid</option>
                <option value="HO">Hollow</option>
            </select>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label class="pull-right" for="mode">
                Mode
            </label>
        </div>
        <div class="span6">
            <select name="mode" id="mode" data-bind="value: mode">
                <option value="steelsurcharge">Steel Surcharge</option>
                <option value="freight">Freight</option>
            </select>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label class="pull-right" for="customrate">
                Custom Rate
            </label>
        </div>
        <div class="span6 input-prepend">
            <span class="add-on">$</span>
            <input type="text" name="customrate" id="customrate" placeholder="Custom Rate" class="selectall" data-bind="value: customrate"/>
        </div>
    </div>
</form>

<div class="row-fluid">
    <div class="offset5 span2">
        <table class="table table-bordered table-condensed">
            <tr>
                <th>Rate:</th>
                <td data-bind="currency: rate()">&nbsp;</td>
            </tr>
            <tr>
                <th>Weight:</th>
                <td data-bind="text: fixedWeight()">&nbsp;</td>
            </tr>
            <tr>
                <th>Total:</th>
                <td data-bind="currency: total()">&nbsp;</td>
            </tr>
        </table>
    </div>
</div>

@section script
{
    <script type="text/javascript">
        var VM = new SurchargeCalculatorViewModel();
        new CustomerAutoComplete("customercode");
    </script>
}