﻿@model IEnumerable<d_orderitem>
@{
    ViewBag.Title = "ZeroDollarDies";
}


@Html.PageTitle("Zero Dollar Dies (" + Model.Count() + ")")

<div class="row-fluid">
    <div class="offset2 span8">
        <table class="table table-condensed table-bordered table-striped sortable">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>SO#</th>
                    <th>Invoice Date</th>
                    <th>Description</th>
                    <th>Die Number</th>
                </tr>
            </thead>

            @foreach (d_orderitem orderitem in Model)
            {
                <tr>
                    <td>
                        @orderitem.Order.customercode
                    </td>
                    <td>@Url.TrackingLink(orderitem.Order.ordernumber)</td>
                    <td>@orderitem.Order.invoicedate.Value.ToShortDateString()</td>
                    <td>@orderitem.description</td>
                    <td>@orderitem.dienumber</td>
                </tr>
            }
        </table>
    </div>
</div>


