﻿@{
    ViewBag.Title = "ZeroDollarDiesForm";
}


@using (Html.BeginForm("ZeroDollarDiesForm",
                            null,
                            FormMethod.Post,
                            new
                            {
                                @class = "form-horizontal"
                            }))
{
    <div class="row-fluid">
        <div class="offset4 span8">
            <div class="row-fluid">
                <div class="control-group input-prepend">
                    <label class="control-label" for="startDate">
                        Start Date
                    </label>
                    <div class="controls">
                        <span class="add-on"><i class="icon-calendar"></i></span>
                        @Html.TextBox("startDate",
                            DateTime.Now.ToFirstDayOfMonth().ToShortDateString(),
                            new
                            {
                                @class = "datetimepicker input-small"
                            })
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="control-group input-prepend">
                    <label class="control-label" for="endDate">
                        End Date
                    </label>
                    <div class="controls">
                        <span class="add-on"><i class="icon-calendar"></i></span>
                        @Html.TextBox("endDate",
                            DateTime.Now.ToLastDayOfMonth().ToShortDateString(),
                            new
                            {
                                @class = "datetimepicker input-small"
                            })
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="control-group input-prepend">
                    <div class="offset4 span4 text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


