﻿@model IEnumerable<d_department>
@{
    ViewBag.Title = "Department Tasks";
}

@Html.PageTitle( ViewBag.Title as string )

@using (Html.BeginForm( "Department",
    null,
    FormMethod.Post,
    new
    {
        @class = "form-horizontal"
    } ))
{
    <div class="row-fluid">
        <div class="offset4 span8">
            <div class="row-fluid">
                <div class="control-group input-prepend">
                    <label class="control-label" for="startDate">
                        Start Date
                    </label>
                    <div class="controls">
                        <span class="add-on"><i class="icon-calendar"></i></span>
                        @Html.TextBox( "startDate",
                            DateTime.Now.ToPrevWorkDay().SetTime(Settings.DayStart),
                            new
                            {
                                @class = "datetimepicker input-medium"
                            } )
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="control-group input-prepend">
                    <label class="control-label" for="endDate">
                        End Date
                    </label>
                    <div class="controls">
                        <span class="add-on"><i class="icon-calendar"></i></span>
                        @Html.TextBox( "endDate",
                            DateTime.Now.ToPrevWorkDay().AddDays(1).SetTime(Settings.DayStart),
                            new
                            {
                                @class = "datetimepicker input-medium"
                            } )
                    </div>
                </div>
            </div>

            @foreach (d_department curDep in Model)
            {
                <div class="row-fluid">
                    <div class="controls">
                        <label class="checkbox inline">
                            <input type="checkbox" name="departments" value="@curDep.ID" checked="checked" class="savedata"/>
                            @curDep.name
                        </label>
                    </div>
                </div>
            }

            <div class="row-fluid">
                &nbsp;
            </div>

            <div class="row-fluid">
                <div class="control-group">
                    <label class="control-label" for="options">
                        Force Task List:
                    </label>
                    <div class="controls">
                        <input type="checkbox" name="options" value="List" class="savedata"/>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@section scripts
{
    @Html.DisplayModelErrors()
}