﻿@model DisplayTasksModel
@{
    ViewBag.Title = Model.Title;
    StationAliases.GetStationAlias( "DS100",
        true );
}

@Html.PageTitle( ViewBag.Title as string )

<div class="row-fluid">
    <div class="span12 text-center">
        <h4>@Model.SubTitle</h4>
    </div>
</div>

@if (Model.Tasks.Count() <= 200
     || Model.ForceDisplayTaskList)
{
    <div class="row-fluid">
        <div class="offset3 span6">
            <table class="table table-condensed table-striped sortable">
                <thead>
                <tr>
                    <th>Employee</th>
                    <th>Order</th>
                    <th>Station</th>
                    <th>Part</th>
                    <th>Side</th>
                    <th>Task</th>
                    <th>Time</th>
                </tr>
                </thead>

                <tbody>
                @foreach (d_task task in Model.Tasks)
                {
                    string employee = task.User != null
                                          ? "{name} ({number})".FormatWithName( new
                                          {
                                              name = task.User.Name,
                                              number = task.employeenumber
                                          } )
                                          : "{number}".FormatWithName( new
                                          {
                                              number = task.employeenumber
                                          } );

                    <tr>
                        <td>@employee</td>
                        <td>@Url.TrackingLink( @task.ordernumber )</td>
                        <td>
                            @StationAliases.GetStationAlias( task.station,
                                false )</td>
                        <td>@task.part</td>
                        <td>@task.subpart</td>
                        <td>@task.task</td>
                        <td>@task.tasktime</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}

<div class="row-fluid">
    <div class="offset4 span4">
        <table class="table table-bordered table-condensed table-striped">
            <thead>
            <tr>
                <th colspan="2">Summary</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Distinct Orders</td>
                <td>@Model.Tasks.DistinctBy( x => x.ordernumber ).Count()</td>
            </tr>
            @if (Model.Tasks.Select( x => x.station ).Distinct().Count() < 5)
            {
                <tr>
                    <td>Distinct Station</td>
                    <td>@Model.Tasks.Select( x => x.station ).Distinct().JoinWith( "," )</td>
                </tr>
            }
            <tr>
                <td>Distinct Parts</td>
                <td>
                    @Model.Tasks.DistinctBy( x => new
                    {
                        x.ordernumber,
                        x.part
                    } ).Count()</td>
            </tr>
            @{
                var tasks = Model.Tasks.Select( x => x.task ).Distinct().ToList();
            }
            @foreach (string task in tasks)
            {
                var distinctTasks = Model.Tasks.Where( x => x.task.EqualsIgnoreCase( task ) )
                                         .DistinctBy( x => new {x.ordernumber, x.part} )
                                         .ToList();

                <tr>
                    <td>@Model.Tasks.First( x => x.task == task ).TaskCode.taskname (@task)</td>
                    <td>
                        @Model.Tasks.Count( x => x.task == task )
                        (@distinctTasks.Count)
                        (@distinctTasks.GroupBy(x => x.part).Select(x => x.Key + ":" + x.Count()).JoinWith(" "))
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>