﻿@model IEnumerable<Mset.Exco.Decade.d_user>
@{
    ViewBag.Title = "Employee Tasks";
}

@Html.PageTitle( ViewBag.Title as string )

@using (Html.BeginForm())
{
    <div class="row-fluid">
        <div class="span6">
            <label for="employeenumber" class="pull-right">
                Employee:
            </label>
        </div>
        <div class="span6">
            <input type="text" id="employeenumber" name="employeenumber" class="input-small focus" placeholder="Employee"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label for="startdate" class="pull-right">
                Start Date:
            </label>
        </div>
        <div class="span6">
            <input type="text" id="startdate" name="startdate" class="input-medium datetimepicker" value="@DateTime.Now.ToPrevWorkDay().SetTime(Settings.DayStart)"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label for="enddate" class="pull-right">
                End Date:
            </label>
        </div>
        <div class="span6">
            <input type="text" id="enddate" name="enddate" class="input-medium datetimepicker" value="@DateTime.Now.ToPrevWorkDay().AddDays(1).SetTime(Settings.DayStart)"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12 text-center">
            <button type="submit" class="btn btn-primary">View</button>
        </div>
    </div>
}

@section script
{
    @*
    // Code for Autocomplete on employeenumber Textbox
    *@
    <script type="text/javascript">
        new UserAutoComplete("employeenumber");

        @*
        var users = [
            @{
                int i = 0;

                foreach (Mset.Exco.Decade.d_user user in Model)
                {
                    if (i > 0)
                    {
                        @:,
                    }
                    
                    @Html.Raw(Json.Encode(new Dictionary<string, string>() {{ "label", "{0} - {1}".FormatWith(user.employeenumber, user.Name) }, { "value", user.employeenumber.ToString() }}));
                
                    i++;
                }
            }
        ];

        $(document).ready(function () {
            $("#employeenumber").autocomplete({
                source: users,
                select: function (e, ui) {
                    $("#employeenumber").val(ui.item.value);
                },
                minLength: 1
            });
        });
        *@
    </script>
}