﻿@using System.Threading
@model IEnumerable<d_task>
@{
    ViewBag.Title = "Station Tasks";

    // Check for Updates to Station Aliases
    StationAliases.GetStationAlias( "DS101" );
}

@Html.PageTitle( ViewBag.Title as string )

@using (Html.BeginForm())
{
    <div class="row-fluid">
        <div class="span6">
            <label for="station" class="pull-right">
                Station:
            </label>
        </div>
        <div class="span6">
            <input type="text" id="station" name="station" class="input-small focus" placeholder="Station"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label for="startdate" class="pull-right">
                Start Date:
            </label>
        </div>
        <div class="span6">
            <input type="text" id="startdate" name="startdate" class="input-medium datetimepicker" value="@DateTime.Now.ToPrevWorkDay().SetTime(Settings.DayStart)"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label for="enddate" class="pull-right">
                End Date:
            </label>
        </div>
        <div class="span6" style="position: relative">
            <input type="text" id="enddate" name="enddate" class="input-medium datetimepicker" value="@DateTime.Now.ToPrevWorkDay().AddDays(1).SetTime(Settings.DayStart)"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12 text-center">
            <button type="submit" class="btn btn-primary">View</button>
        </div>
    </div>
}

@section script
{
    @*
    // Code for Autocomplete on station Textbox
    *@
    <script type="text/javascript">
        var stations = [
            @{
                int i = 0;

                foreach (d_task task in Model)
                {
                    if (i > 0)
                    {
                        @:,
                    }

                    @Html.Raw( Json.Encode( new Dictionary<string, string>
                    {
                        {
                            "label", String.Format("{0} - {1}", StationAliases.GetStationAlias( task.station,
                                false ),
                                task.station )
                        },
                        { "value", task.station }
                    } ) )

                    i++;
                }
            }
        ];

        $(document).ready(function() {
            $("#station").autocomplete({
                source: stations,
                select: function(e, ui) {
                    $("#station").val(ui.item.value);
                },
                minLength: 1
            });
        });
    </script>
}