﻿@using d_user = Mset.Exco.Decade.d_user
@model AdminConfigModel
@{
    ViewBag.Title = "Index";
}

@Html.PageTitle( "Admin Options" )

<div id="content">
    <div class="row-fluid">
        <div class="offset4 span4">
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li class="active">
                    <a href="#users" data-toggle="tab">Users</a>
                </li>
                <li>
                    <a href="#limits" data-toggle="tab">Limits</a>
                </li>
                <li>
                    <a href="#rates" data-toggle="tab">Exchange Rates</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane active" id="users">
            @using (Html.BeginForm())
            {
                <div class="row-fluid">
                    <div class="offset4 span4">
                        <table class="table table-condensed table-bordered table-striped sortable">
                            <thead>
                            <tr>
                                <th>Employee</th>
                                <th>Last Name</th>
                                <th>First Name</th>
                                <th>Option</th>
                            </tr>
                            </thead>

                            <tbody>
                            @foreach (d_user user in Model.Users)
                            {
                                <tr>
                                    <td>@user.employeenumber</td>
                                    <td>@user.lastname</td>
                                    <td>@user.firstname</td>
                                    <td>
                                        <button class="btn btn-primary">Edit</button>
                                        <button class="btn btn-danger">Disable</button>
                                    </td>
                                </tr>
                            }
                            </tbody>

                            <tfoot>
                            <tr>
                                <td colspan="4">
                                    <p class="text-center">
                                        <button type="button" class="btn btn-primary">Add New</button>
                                    </p>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            }
        </div>

        <div class="tab-pane" id="limits">
            @using (Html.BeginForm())
            {
                foreach (d_dailylimits limit in Model.DailyLimits)
                {
                    <div class="row-fluid">
                        <div class="span6">
                            <label class="pull-right" for="@limit.dietype">
                                @limit.dietype.ToUpper()
                            </label>
                        </div>
                        <div class="span6">
                            <input type="text" class="input-small focus" name="@limit.dietype" id="@limit.dietype" value="@limit.maxitems"/>
                        </div>
                    </div>
                }

                <div class="row-fluid">
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            }
        </div>

        <div class="tab-pane" id="rates">
            @using (Html.BeginForm())
            {
                foreach (d_exchangerates rate in Model.ExchangeRates)
                {
                    string inputname = "{basecur}_{destcur}".FormatWithName( new
                    {
                        basecur = rate.basecurrency,
                        destcur = rate.destcurrency
                    } );
                    <div class="row-fluid">
                        <div class="span6">
                            <label class="pull-right" for="@inputname">
                                @rate.basecurrency -&gt; @rate.destcurrency
                            </label>
                        </div>
                        <div class="span6">
                            <input type="text" class="input-small focus" name="@inputname" id="@inputname" value="@rate.factor"/>
                        </div>
                    </div>
                }

                <div class="row-fluid">
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>