﻿@{
    ViewBag.Title = "Detailed On-Time";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    <input type="hidden" name="mode" value="day" />
    <h2 class="text-center">Detailed On Time</h2>
    <div class="row-fluid">
        <div class="offset4 span8">
            <div class="control-group input-prepend">
                <label class="control-label" for="ontimeday">
                    By Date
                </label>
                <div class="controls">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                    <input type="text" id="ontimeday" name="date" class="datepicker input-small" value="@DateTime.Now.ToPrevWorkDay().ToShortDateString()" />
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="offset4 span8">
            <div class="controls">
                <button type="submit" class="btn btn-primary">View</button>
            </div>
        </div>
    </div>
}

<div class="row-fluid">
    <div class="span12">&nbsp;</div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    <input type="hidden" name="mode" value="month" />
    <div class="row-fluid">
        <div class="offset4 span8">
            <div class="control-group input-prepend">
                <label class="control-label" for="ontimemont">
                    By Month
                </label>
                <div class="controls">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                    <input type="text" class="monthpicker input-small" id="ontimemonth" name="date" data-start-year="@DateTime.Now.AddYears( -5 ).Year" data-final-year="@DateTime.Now.Year" data-selected-year="@DateTime.Now.Year" value="@DateTime.Now.ToString("MM/yyyy")" />
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="offset4 span8">
            <div class="controls">
                <button type="submit" class="btn btn-primary">View</button>
            </div>
        </div>
    </div>
}