﻿@{
    ViewBag.Title = "Detailed On-Time";
}

@Html.PageTitle( "Month On Time By Customer" )

@using (Html.BeginForm( null,
    null,
    FormMethod.Post,
    new
    {
        @class = "form-horizontal"
    } ))
{
    <div class="row-fluid">
        <div class="offset4 span8">
            <div class="control-group input-prepend">
                <label class="control-label" for="ontimemonth">
                    By Date
                </label>
                <div class="controls">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                    <input type="text" id="ontimemonth" name="date" class="monthpicker input-small" value="@DateTime.Now.ToString( "MM/yyyy" )"/>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="offset4 span8">
            <div class="controls">
                <button type="submit" class="btn btn-primary">View</button>
            </div>
        </div>
    </div>
}