﻿@{
    ViewBag.Title = "On-Time Performance";
}

@Html.PageTitle("Detailed On Time")

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    <input type="hidden" name="daymode" value="day" />
    <div class="row-fluid">
        <div class="offset4 span8">
            <div class="control-group input-prepend">
                <label class="control-label" for="ontimeday">
                    By Date
                </label>
                <div class="controls">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                    <input type="text" id="ontimeday" name="date" class="datepicker input-small" value="@DateTime.Now.ToShortDateString()" />
                </div>
            </div>
        </div>
    </div>
    
    <div class="row-fluid">
        <div class="offset4 span8">
            <div class="control-group">
                <label class="control-label">
                    Order Type
                </label>
                <div class="controls inline">
                    <label>
                        <input type="radio" name="orderfilter" value="all" checked="checked" />
                        All
                    </label>
                    <label>
                        <input type="radio" name="orderfilter" value="normal" />
                        Normal
                    </label>
                    <label>
                        <input type="radio" name="orderfilter" value="fasttrack" />
                        Fast Track
                    </label>
                    <label>
                        <input type="radio" name="orderfilter" value="hotlist" />
                        Hot List
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="offset4 span8">
            <div class="controls">
                <button type="submit" class="btn btn-primary">View</button>
            </div>
        </div>
    </div>
}

<div class="row-fluid">
    <div class="span12">&nbsp;</div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    <input type="hidden" name="daymode" value="month" />
    <div class="row-fluid">
        <div class="offset4 span8">
            <div class="control-group input-prepend">
                <label class="control-label" for="ontimemont">
                    By Month
                </label>
                <div class="controls">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                    <input type="text" class="monthpicker input-small" id="ontimemonth" name="date" data-start-year="@DateTime.Now.AddYears( -5 ).Year" data-final-year="@DateTime.Now.Year" data-selected-year="@DateTime.Now.Year" value="@DateTime.Now.ToString("MM/yyyy")" />
                </div>
            </div>
        </div>
    </div>
    
        <div class="row-fluid">
        <div class="offset4 span8">
            <div class="control-group">
                <label class="control-label">
                    Order Type
                </label>
                <div class="controls inline">
                    <label>
                        <input type="radio" name="orderfilter" value="all" checked="checked" />
                        All
                    </label>
                    <label>
                        <input type="radio" name="orderfilter" value="normal" />
                        Normal
                    </label>
                    <label>
                        <input type="radio" name="orderfilter" value="fasttrack" />
                        Fast Track
                    </label>
                    <label>
                        <input type="radio" name="orderfilter" value="hotlist" />
                        Hot List
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="offset4 span8">
            <div class="controls">
                <button type="submit" class="btn btn-primary">View</button>
            </div>
        </div>
    </div>
}