﻿@model OnTimeModel
@{
    ViewBag.Title = "Detailed On-Time";

    int totalOnTime = 0,
        totalEarly = 0,
        totalLate = 0;

    string headerTitle = "Detailed On Time - " + Model.Date.ToTitleDate( Model.Mode );

    if (!String.IsNullOrEmpty( Model.CustomerCode ))
    {
        headerTitle += " ({custcode})".FormatWithName( new
        {
            custcode = Model.CustomerCode
        } );
    }
}

<style type="text/css">
    .wid50 { width: 50%; }
</style>

@Html.PageRendered()

@Html.PageTitle( headerTitle )

@foreach (string terr in Model.Orders.Select( t => t.Customer.territory ).Distinct())
{
    var territoryOrders = Model.Orders.Where( t => t.Customer.territory == terr ).ToList();
    int terrEarly = 0;
    int terrOnTime = 0;
    int terrLate = 0;

    <div class="row-fluid">
        <div class="offset2 span8">
            <table class="table table-bordered table-condensed table-striped sortable">
                <thead>
                @if (String.IsNullOrEmpty( Model.CustomerCode ))
                {
                    <tr>
                        <th colspan="6">@terr</th>
                    </tr>
                }
                <tr>
                    <th>
                        Order
                    </th>
                    <th colspan="2">
                        Customer
                    </th>
                    <th>
                        Expected to Ship
                    </th>
                    <th>
                        Shipped
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
                </thead>
                @foreach (d_order curOrder in territoryOrders)
                {
                    if (curOrder.DiffFromExpShip > 0)
                    {
                        totalLate += 1;
                        terrLate += 1;
                    }
                    else if (curOrder.DiffFromExpShip < 0)
                    {
                        totalEarly += 1;
                        terrEarly += 1;
                    }
                    else
                    {
                        totalOnTime += 1;
                        terrOnTime += 1;
                    }

                    <tr class="@(curOrder.DiffFromExpShip > 0
                                     ? "error"
                                     : String.Empty)">
                        <td>@Url.TrackingLink( curOrder )</td>
                        <td>@curOrder.customercode</td>
                        <td>@curOrder.Customer.name</td>
                        <td>@curOrder.expshipdate.ToShortDateString()</td>
                        <td>@curOrder.shipdate.Value.ToShortDateString()</td>
                        <td>@curOrder.DiffFromExpShip.ToLateEarlyString()</td>
                    </tr>
                }
            </table>
        </div>
    </div>

    if (String.IsNullOrEmpty( Model.CustomerCode ))
    {
        <div class="row-fluid">
            <div class="offset5 span2">
                <table class="table table-condensed table-bordered">
                    <thead>
                    <tr>
                        <th colspan="2">@terr Summary</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="wid50">
                            <b class="pull-right">Early</b>
                        </td>
                        <td>
                            @terrEarly @("({EarlyPercent:P2})".FormatWithName( new
                                         {
                                             EarlyPercent = terrEarly * 1.0 / ( terrEarly + terrOnTime + terrLate )
                                         } ))
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b class="pull-right">On-Time</b>
                        </td>
                        <td>
                            @terrOnTime @("({OnTimePercent:P2})".FormatWithName( new
                                          {
                                              OnTimePercent = terrOnTime * 1.0 / ( terrEarly + terrOnTime + terrLate )
                                          } ))
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b class="pull-right">Late</b>
                        </td>
                        <td>
                            @terrLate @("({LatePercent:P2})".FormatWithName( new
                                        {
                                            LatePercent = terrLate * 1.0 / ( terrEarly + terrOnTime + terrLate )
                                        } ))
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b class="pull-right">Total</b>
                        </td>
                        <td>@(terrEarly + terrOnTime + terrLate)</td>
                    </tr>
                    <tr>
                        <td>
                            <b class="pull-right">Median</b>
                        </td>
                        <td>@territoryOrders.Select( d => d.DiffFromExpShip ).Median().ToLateEarlyString()</td>
                    </tr>
                    <tr>
                        <td>
                            <b class="pull-right">Average</b>
                        </td>
                        <td>
                            @Math.Round( territoryOrders.Select( d => d.DiffFromExpShip ).Mean(),
                                2 ).ToLateEarlyString()</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
}

<div class="row-fluid">
    <div class="offset5 span2">
        <table class="table table-condensed table-bordered">
            <thead>
            <tr>
                <th colspan="2">
                    Summary
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="wid50">
                    <b class="pull-right">Early</b>
                </td>
                <td>
                    @totalEarly @("({EarlyPercent:P2})".FormatWithName( new
                                  {
                                      EarlyPercent = totalEarly * 1.0 / ( totalEarly + totalOnTime + totalLate )
                                  } ))
                </td>
            </tr>
            <tr>
                <td>
                    <b class="pull-right">On-Time</b>
                </td>
                <td>
                    @totalOnTime @("({OnTimePercent:P2})".FormatWithName( new
                                   {
                                       OnTimePercent = totalOnTime * 1.0 / ( totalEarly + totalOnTime + totalLate )
                                   } ))
                </td>
            </tr>
            <tr>
                <td>
                    <b class="pull-right">Late</b>
                </td>
                <td>
                    @totalLate @("({LatePercent:P2})".FormatWithName( new
                                 {
                                     LatePercent = totalLate * 1.0 / ( totalEarly + totalOnTime + totalLate )
                                 } ))
                </td>
            </tr>
            <tr>
                <td>
                    <b class="pull-right">Total</b>
                </td>
                <td>@(totalEarly + totalOnTime + totalLate)</td>
            </tr>
            <tr>
                <td>
                    <b class="pull-right">Median</b>
                </td>
                <td>@Model.Orders.Select( d => d.DiffFromExpShip ).Median().ToLateEarlyString()</td>
            </tr>
            <tr>
                <td>
                    <b class="pull-right">Average</b>
                </td>
                <td>
                    @Math.Round( Model.Orders.Select( d => d.DiffFromExpShip ).Mean(),
                        2 ).ToLateEarlyString()</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
