﻿@model OnTimeModel
@{
    ViewBag.Title = "Month On-Time By Customer";
}

<style type="text/css">
    .wid50 { width: 50%; }
</style>

@Html.PageRendered()

@Html.PageTitle( "Month On-Time Orders By Customer - {date}".FormatWithName( new
{
    date = Model.Date.ToTitleDate( DayMonthYearEnum.Month )
} ) )

<h2 class="text-center"></h2>

<div class="row-fluid">
    <div class="offset3 span6">
        <table class="table table-condensed table-bordered table-striped sortable">
            <thead>
            <tr>
                <th>Territory</th>
                <th>Customer</th>
                <th>% Early</th>
                <th>% On Time</th>
                <th>% Late</th>
                <th>Job Count</th>
            </tr>
            </thead>

            <tbody>
            @foreach (string territory in Model.Orders.Select( t => t.Customer.territory ).Distinct().OrderBy( x => x ))
            {
                var territoryOrders = Model.Orders.Where( o => o.Customer.territory == territory ).ToList();

                foreach (string customer in territoryOrders.Select( c => c.customercode ).Distinct())
                {
                    var customerOrders = territoryOrders.Where( o => o.customercode == customer ).ToList();
                    int earlyCount = customerOrders.Count( o => o.shipdate < o.expshipdate ),
                        onTimeCount = customerOrders.Count( o => o.shipdate == o.expshipdate ),
                        lateCount = customerOrders.Count( o => o.shipdate > o.expshipdate ),
                        totalCount = earlyCount + onTimeCount + lateCount;

                    <tr>
                        <td class="text-center">@territory</td>
                        <td>
                            <a href="@Url.DetailedOnTime( "Month",
                                         Model.Date,
                                         customer )">
                                @customer @customerOrders.Select( x => x.Customer.name ).ElementAt( 0 )</a>
                        </td>
                        <td>
                            <span class="pull-right">@(( earlyCount * 1.0 / totalCount ).ToString( "p" ))</span></td>
                        <td>
                            <span class="pull-right">@(( onTimeCount * 1.0 / totalCount ).ToString( "p" ))</span></td>
                        <td>
                            <span class="pull-right">@(( lateCount * 1.0 / totalCount ).ToString( "p" ))</span></td>
                        <td>
                            <span class="pull-right">@totalCount</span></td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>
