﻿@model OnTimeModel
@{
    ViewBag.Title = "On-Time Performance";

    int totalCount = Model.Orders.Count();
    decimal median,
            mean;
}

<style type="text/css">
    .wid50 { width: 50%; }

    .closerows {
        cursor: pointer;
        cursor: hand;
    }
</style>

@Html.PageRendered()

@Html.PageTitle( "{mode} On-Time Performance - {date}".FormatWithName( new
{
    mode = Model.Performance,
    date = Model.Date.ToTitleDate( Model.Mode )
} ) )

<div class="row-fluid">
    <div class="offset3 span6">
        <table class="table table-condensed table-bordered table-striped">
            <thead>
            <tr>
                <th>Status</th>
                <th>Details</th>
                <th>Percentage</th>
            </tr>
            </thead>

            @using (MiniProfiler.Current.Step( "Loop Orders" ))
            {
                IEnumerable<int> dateDifferences;

                using (MiniProfiler.Current.Step( "Calculating Date Differences" ))
                {
                    if (Model.Performance == OnTimePerformance.HotList)
                    {
                        dateDifferences = Model.Orders.Select( t => t.DiffFromHotList ).Distinct().OrderByDescending( x => x );
                        median = Model.Orders.Select( t => t.DiffFromHotList ).Median();
                        mean = Model.Orders.Select( t => t.DiffFromHotList ).Mean();
                    }
                    else
                    {
                        dateDifferences = Model.Orders.Select( t => t.DiffFromExpShip ).Distinct().OrderByDescending( x => x );
                        median = Model.Orders.Select( t => t.DiffFromExpShip ).Median();
                        mean = Model.Orders.Select( t => t.DiffFromExpShip ).Mean();
                    }
                }

                foreach (int DiffFromShip in dateDifferences)
                {
                    IEnumerable<d_order> orders;

                    using (MiniProfiler.Current.Step( "Selecting Orders" ))
                    {
                        orders = Model.Performance == OnTimePerformance.HotList
                                     ? Model.Orders.Where( t => t.DiffFromHotList == DiffFromShip )
                                     : Model.Orders.Where( t => t.DiffFromExpShip == DiffFromShip );
                    }

                    // Output Header
                    <tr class="closerows @(DiffFromShip > 0
                                               ? "error"
                                               : String.Empty)" data-target="#@DiffFromShip">
                        <td>@DiffFromShip.ToLateEarlyString()</td>
                        <td>&nbsp;</td>
                        <td>
                            <span class="pull-right">@(( orders.Count() * 1.0 / totalCount ).ToString( "p" ))</span></td>
                    </tr>

                    <tbody class="hiddenRow accordion-body" id="@DiffFromShip">
                    @foreach (d_order order in orders)
                    {
                        <tr id="@DiffFromShip">
                            <td>&nbsp;</td>
                            <td>
                                <a href="@Url.TrackByOrder( order.ordernumber )">@order.ordernumber</a> @order.customercode @order.Customer.name</td>
                            <td>&nbsp;</td>
                        </tr>
                    }
                    </tbody>
                }
            }

            <tr>
                <td>
                    Median: @median.ToLateEarlyString()
                </td>
                <td>
                    Average: @mean.ToLateEarlyString()
                </td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </div>
</div>

@section script
{
    <script type="text/javascript">
        $(document).ready(function() {
            $('.closerows').click(function() {
                console.log("Here");
                console.log($(this).data("target"));
                $($(this).data("target")).toggle();
            });
        });
    </script>
}