﻿@model IEnumerable<d_order>
@{
    ViewBag.Title = "FYTD On-Time";

    int totalOnTime = 0,
        totalEarly = 0,
        totalLate = 0;
}

<style type="text/css">
    .wid50 { width: 50%; }
</style>

@Html.PageRendered()

@Html.PageTitle( ViewBag.Title as string )

<div class="row-fluid">
    <div class="offset3 span6">
        <table class="table table-condensed table-bordered table-striped">
            <thead>
            <tr>
                <th>Territory</th>
                <th>% Early</th>
                <th>% On-Time</th>
                <th>% Late</th>
                <th># Early</th>
                <th># On-Time</th>
                <th># Late</th>
                <th>Total Jobs</th>
            </tr>
            </thead>

            <tbody>
            @foreach (string terr in Model.Select( t => t.Customer.territory ).Distinct())
            {
                var territoryOrders = Model.Where( t => t.Customer.territory == terr ).ToList();

                int terrEarly = territoryOrders.Count( x => x.shipdate < x.expshipdate );
                int terrOnTime = territoryOrders.Count( x => x.shipdate == x.expshipdate );
                int terrLate = territoryOrders.Count( x => x.shipdate > x.expshipdate );

                int terrTotal = terrEarly + terrOnTime + terrLate;

                <tr>
                    <td>@terr</td>
                    <td>
                        <span class="pull-right">@(( terrEarly * 1.0 / terrTotal ).ToString( "p" ))</span></td>
                    <td>
                        <span class="pull-right">@(( terrOnTime * 1.0 / terrTotal ).ToString( "p" ))</span></td>
                    <td>
                        <span class="pull-right">@(( terrLate * 1.0 / terrTotal ).ToString( "p" ))</span></td>
                    <td>
                        <span class="pull-right">@terrEarly</span></td>
                    <td>
                        <span class="pull-right">@terrOnTime</span></td>
                    <td>
                        <span class="pull-right">@terrLate</span></td>
                    <td>
                        <span class="pull-right">@terrTotal</span></td>
                </tr>

                totalEarly += terrEarly;
                totalOnTime += terrOnTime;
                totalLate += terrLate;
            }


            @{
                int totalCount = totalEarly + totalOnTime + totalLate;
            }
            <tr>
                <td colspan="8">&nbsp;</td>
            </tr>

            <tr>
                <td>
                    <b>Summary:</b>
                </td>
                <td>
                    <span class="pull-right">@(( totalEarly * 1.0 / totalCount ).ToString( "p" ))</span></td>
                <td>
                    <span class="pull-right">@(( totalOnTime * 1.0 / totalCount ).ToString( "p" ))</span></td>
                <td>
                    <span class="pull-right">@(( totalLate * 1.0 / totalCount ).ToString( "p" ))</span></td>
                <td>
                    <span class="pull-right">@totalEarly</span></td>
                <td>
                    <span class="pull-right">@totalOnTime</span></td>
                <td>
                    <span class="pull-right">@totalLate</span></td>
                <td>
                    <span class="pull-right">@totalCount</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
