﻿@model IEnumerable<scraplog>

@if (Model != null
     && Model.Any())
{
    <div class="row-fluid">
        <div class="offset2 span8">
            <table class="table table-condensed table-bordered">
                <thead>
                <tr>
                    <th colspan="6">
                        <h3>Notes/Errors</h3>
                    </th>
                </tr>
                <tr>
                    <th>Date</th>
                    <th>Area</th>
                    <th>Part</th>
                    <th>Problem</th>
                    <th>Correction Code</th>
                    <th>Employee</th>
                </tr>
                </thead>
                @foreach (scraplog error in Model)
                {
                    string rowClass = "warning";

                    if (error.correctioncode.Equals( "scrap",
                        StringComparison.InvariantCultureIgnoreCase ))
                    {
                        rowClass = "error";
                    }

                    <tr class="@rowClass">
                        <td>
                            <p class="text-center">@error.date</p>
                        </td>
                        <td>@error.department</td>
                        <td>@error.part</td>
                        <td>@error.problem.ToUpper()</td>
                        <td>
                            <p class="text-center">@error.correctioncode</p>
                        </td>
                        <td>
                            <p class="text-center">@error.Employee.Name</p>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}