﻿@model d_order
@using DecadeWeb
@using Mset.Extensions

<div class="row-fluid">
    <div class="span12 text-center">
        <h3>@Html.Raw("SO# {orderlink} {hold} {edit}".FormatWithName(new {
           orderlink = Html.LinkIf(Url.DisplayOrder(Model.ordernumber), Model.ordernumber, User.IsInRole(DecadeRole.ViewOrders)),
           hold = Html.OutputIf("<b><font color=\"red\">HOLD</font></b>", Model.onhold),
           edit = Html.OutputIf("<a href=\"{url}\" class=\"noprint\">Edit</a>".FormatWithName(new { url = Url.EditOrder(Model.ordernumber) }), !Model.invoicedate.HasValue && User.IsInRole(DecadeRole.ModOrders))
       }))</h3>
    </div>
</div>

@if (Model.invoicenumber.HasValue)
{
    <div class="row-fluid">
        <div class="span12 text-center">
            <h3>Invoice# @Model.invoicenumber.Value</h3>
        </div>
    </div>
}

@foreach (string curDieNumber in Model.DieNumbers)
{ 
    <div class="row-fluid">
        <div class="span12 text-center">
            @{
                var tmpDieNumber = curDieNumber;
                
                try
                {
                    var pdn = new ParseDieNumber(curDieNumber, Model.customercode);
                    
                    tmpDieNumber = pdn.DieNumber;
                }
                catch (System.Exception)
                {
                    // Do Nothing
                }
            }
            <h3><a href="@Url.TrackByDie(tmpDieNumber, Model.customercode)">@curDieNumber</a></h3>
        </div>
    </div>
}

<div class="row-fluid">
    <div class="span12 text-center">
        <h3>@Model.customercode (@Model.CustomerName)</h3>
    </div>
</div>

@if (Model.stock)
{ 
    <div class="row-fluid">
        <div class="span12 text-center">
            <h4>*Stock*</h4>
        </div>
    </div>
}

@* Model.ncr != null && !Model.ncr.HasValue && Model.ncr.Value) || (Model.ncrs.HasValue && Model.ncrs.Value)) *@
@if (Model.ncr.OrDefault(false) || Model.ncrs.OrDefault(false))
{ 
    <div class="row-fluid">
        <div class="span12 text-center">
            <h4>*NCR*</h4>
        </div>
    </div>
}

<div class="row-fluid">
    <div class="span12 text-center">
        &nbsp;
    </div>
</div>

<div class="row-fluid">
    <div class="offset4 span4">
        <table class="table table-condensed table-bordered">
            <tr>
                <td><b class="pull-right">Ordered</b></td>
                <td>@Model.orderdate</td>
            </tr>
            @if (Model.htdate.HasValue)
            {
                <tr>
                    <td><b class="pull-right">HT Date</b></td>
                    <td>@Model.htdate.Value.ToShortDateString()</td>
                </tr>
            }
            <tr>
                <td><b class="pull-right">Shop</b></td>
                <td>@Model.shopdate.ToShortDateString()</td>
            </tr>
            @if (Model.hotListDate.HasValue)
            { 
                <tr class="info">
                    <td><b class="pull-right">Hot List</b></td>
                    <td><b class="plus1">@Model.hotListDate.Value.ToShortDateString()</b></td>
                </tr>
            }
            @if (Model.noshipbefore.HasValue)
            { 
                <tr>
                    <td><b class="pull-right">No Ship Before</b></td>
                    <td><b class="plus1">@Model.noshipbefore.Value.ToShortDateString()</b></td>
                </tr>
            }
            @if (Model.ShipWithOrders.Any())
            { 
                <tr>
                    <td><b class="pull-right">Must Ship With</b></td>
                    <td><b>@Model.ShipWithOrders.JoinWith(", ")</b></td>
                </tr>
            }
            <tr @Html.OutputIf(Html.Raw("class=\"error\""), !Model.shipdate.HasValue && !Model.OnTime)>
                <td><b class="pull-right">Expected Ship</b></td>
                <td><b class="plus1">@Model.expshipdate.ToShortDateString()</b></td>
            </tr>
            @if (Model.PredictedShipDate.Date != Model.expshipdate.Date)
            { 
                <tr class="warning">
                    <td><b class="pull-right">(Test) Predicted Ship:</b></td>
                    <td><b class="plus1">@Model.PredictedShipDate.ToShortDateString()</b></td>
                </tr>
            }
            @if (Model.shipdate.HasValue)
            { 
                <tr class="success">
                    <td><b class="pull-right">Shipped</b></td>
                    <td><b class="plus1">@Model.shipdate.Value.ToShortDateString()</b></td>
                </tr>
            }
            @if (Model.invoicedate.HasValue)
            { 
                <tr>
                    <td><b class="pull-right">Invoiced</b></td>
                    <td>@Model.invoicedate.Value.ToShortDateString()</td>
                </tr>
            }
            @if (!String.IsNullOrEmpty(Model.note))
            { 
                <tr>
                    <td><b class="pull-right">Note</b></td>
                    <td>@Model.note</td>
                </tr>
            }
            @if (Model.DesignList.Any())
            {
                <tr>
                    <td><b class="pull-right">Design</b></td>
                    <td>@Html.Raw(Model.DesignList.Select(x => "<a href=\"/rdrive/{custcode}/{filename}.dwg\">{filename}</a>".FormatWithName(new { custcode = Model.customercode.Right(5), filename = x })).JoinWith(" "))</td>
                </tr>
            }
            @if (Model.ProcessNumbers.Any())
            {
                <tr>
                    <td><b class="pull-right">Process</b></td>
                    <td>@Model.ProcessNumbers.OrderBy(x => x).JoinWith(", ")</td>
                </tr>
            }
        </table>
    </div>
</div>