﻿@using System.Globalization
@model TrackingTable

@if (Model.Tasks.Any())
{
    <a id="@Model.PartCode"></a>
    <div class="row-fluid">
        <div class="offset2 span8">
            <table class="table table-condensed table-striped table-bordered">
                <thead>
                    <tr>
                        <th colspan="5" class="text-center">
                            <h4 style="display: inline;">@Model.Title</h4>
                            @if (Model.SteelCut.IsNotNull() && Model.SteelCut.NumID.IsNotNullOrEmpty())
                            {
                                <span style="float: right">(Bar ID: @Model.SteelCut.NumID.ToUpper())</span>
                            }
                        </th>
                    </tr>
                    @if (Model.DisplayProgressBar)
                    {
                        <tr class="noprint">
                            <th colspan="5">
                                <div class="progress progress-striped active progress-info">
                                    <div class="bar" style="width: @Model.PercentComplete%;">
                                        <div class="pull-right" style="padding-right: 5px;">
                                            @Model.PercentComplete.ToString("0.##") %
                                        </div>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    }
                    <tr>
                        <th><b class="text-center">Date</b></th>
                        <th><b class="text-center">Task</b></th>
                        <th><b class="text-center">Part</b></th>
                        <th><b class="text-center">Station</b></th>
                        <th><b class="text-center">Employee</b></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (d_task task in Model.Tasks)
                    { 
                        <tr>
                            <td class="cen">@task.tasktime</td>
                            <td>@task.TaskCode.taskname (@task.task)</td>
                            <td>@(task.PartType + (task.PartSide != PartSides.All ? " (" + task.PartSide + ")" : String.Empty))</td>
                            <td class="cen">@StationAliases.GetStationAlias(@task.station, false)</td>
                            <td class="cen">@(task.User != null ? task.User.Name : task.employeenumber.ToString(CultureInfo.InvariantCulture))</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="5" class="text-center">
                            @Model.Title
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
}