﻿@{
    ViewBag.Title = "Tracking";
}

<style type="text/css">
    .ui-autocomplete {
        max-height: 250px;
        overflow-x: hidden;
        overflow-y: auto;
        padding-right: 20px;
    }

    * html .ui-autocomplete { height: 250px; }
</style>

@Html.PageTitle( ViewBag.Title as string )

<div class="row-fluid">
    @using (Html.BeginForm( "TrackByOrder",
        "Tracking",
        FormMethod.Post,
        new
        {
            @class = "form form-inline text-center"
        } ))
    {
        <label for="ordernumber" class="control-label">
            SO #
        </label>
        <div class="input-append">
            <input type="text" name="ordernumber" class="input-medium focus" placeholder="Order Number"/>
            <button type="submit" class="btn" tabindex="-1">Track</button>
        </div>
    }
</div>


<div class="row-fluid">
    @using (Html.BeginForm( "TrackByDie",
        "Tracking",
        FormMethod.Post,
        new
        {
            @class = "form form-inline text-center"
        } ))
    {
        <label for="dienumber" class="control-label">
            <abbr title="Use *<die number> to match any Die Number instead of die number only starts with <die number>">Die #</abbr>
        </label>
        <div class="input-append">
            <input type="text" id="dienumber" name="dienumber" class="input-medium" placeholder="Die Number"/>
            <button type="submit" class="btn" tabindex="-1">Track</button>
        </div>
    }
</div>


<div class="row-fluid">
    @using (Html.BeginForm( "TrackByInvoice",
        "Tracking",
        FormMethod.Post,
        new
        {
            @class = "form form-inline text-center"
        } ))
    {
        <label for="invoicenumber" class="control-label">
            Invoice #
        </label>
        <div class="input-append">
            <input type="text" id="invoicenumber" name="invoicenumber" class="input-medium" placeholder="Invoice Number"/>
            <button type="submit" class="btn" tabindex="-1">Track</button>
        </div>
    }
</div>


<div class="row-fluid">
    @using (Html.BeginForm( "TrackByLoc",
        "Tracking",
        FormMethod.Post,
        new
        {
            @class = "form form-inline text-center"
        } ))
    {
        <label for="location" class="control-label">
            Location
        </label>
        <div class="input-append">
            <input type="text" id="location" name="location" class="input-medium" placeholder="Location Number"/>
            <button type="submit" class="btn" tabindex="-1">Track</button>
        </div>
    }
</div>


<div class="row-fluid">
    @using (Html.BeginForm( "TrackByCust",
        "Tracking",
        FormMethod.Post,
        new
        {
            @class = "form form-inline text-center"
        } ))
    {
        <label for="customercode" class="control-label">
            Customer
        </label>

        <div class="input-append">
            <input type="text" id="customercode" name="customercode" class="input-medium customerautocomplete" placeholder="Customer"/>
            <div class="input-prepend input-append">
                <select class="input-small" id="timefilter" name="timefilter">
                    <option value="2" selected="selected">2 Months</option>
                    <option value="6">6 Months</option>
                    <option value="12">1 Year</option>
                    <option value="24">2 Years</option>
                    <option value="all">All</option>
                </select>
                <select class="input-small" id="orderstatus" name="orderstatus">
                    <option value="all" selected="selected">All</option>
                    <option value="open">Open</option>
                </select>
            </div>
            <button type="submit" class="btn" tabindex="-1">Track</button>
        </div>
    }
</div>

@section script
{
    @Html.DisplayModelErrors()
}