﻿@model IEnumerable<d_orderitem>

@{
    ViewBag.Title = "Tracking";
}

<style type="text/css">
    table tr td a {
        display: block;
        height: 100%;
        width: 100%;
    }
</style>

<div class="row-fluid">
    <h2 class="span12 text-center">Tracking</h2>
</div>

<div class="row-fluid">
    <div class="offset2 span8">
        <table class="table table-condensed table-bordered table-hover sortable">
            <thead>
            <tr>
                <th class="text-center">SO #</th>
                <th>Die Number</th>
                <th>Customer</th>
                <th>PO#</th>
                <th>Order Date</th>
                <th>HT Date</th>
                <th>Shop Date</th>
                <th>Exp. Ship</th>
                <th>Ship Date</th>
            </tr>
            </thead>
            @foreach (d_orderitem orderItem in Model)
            {
                string strLink = Url.TrackByOrder( orderItem.Order.ordernumber );
                <tr>
                    <td>
                        <a href="@strLink">@orderItem.Order.ordernumber</a>
                    </td>
                    <td>
                        <a href="@strLink">@orderItem.dienumber</a>
                    </td>
                    <td>
                        <a href="@strLink">@orderItem.Order.customercode (@orderItem.Order.Customer.name)</a>
                    </td>
                    <td>
                        <a href="@strLink">@orderItem.Order.customerpo</a>
                    </td>
                    <td>
                        <a href="@strLink">@orderItem.Order.orderdate.ToShortDateString()</a>
                    </td>
                    <td>
                        <a href="@strLink">
                            @(orderItem.Order.htdate.HasValue
                                  ? orderItem.Order.htdate.Value.ToShortDateString()
                                  : String.Empty)
                        </a>
                    </td>
                    <td>
                        <a href="@strLink">@orderItem.Order.shopdate.ToShortDateString()</a>
                    </td>
                    <td>
                        <a href="@strLink">@orderItem.Order.expshipdate.ToShortDateString()</a>
                    </td>
                    <td>
                        <a href="@strLink">
                            @(orderItem.Order.shipdate.HasValue
                                  ? orderItem.Order.shipdate.Value.ToShortDateString()
                                  : String.Empty)
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
