﻿@model d_order

@{
    StationAliases.GetStationAlias( "DS101",
        true ); // Make sure the Station Aliases are up-to-date
    ViewBag.Title = "Track " + Model.ordernumber;
}

<style type="text/css">
    .table .cen, .table th { text-align: center; }

    h1, h2, h3, h4, h5, h6 {
        line-height: initial;
        margin: 0;
    }

    .plus1 { font-size: large; }

    .bar { color: black !important; }

    .progress { margin-bottom: 0 !important; }
</style>

@****    This has to be before the Print button, because the diver overlaps and disallows clicking on the print button.  ****@
@* Used to Subscribe to the job *@

@* Subscribe *@
<div style="float: right; padding-top: 50px; position: fixed; right: 20px;" class="noprint" data-bind="visible: CanSubscribe() && !IsSubscribed()">
    <a class="btn btn-small pull-right btn-primary dropdown-toggle" data-toggle="dropdown" href="#">Subscribe</a>
    <ul class="dropdown-menu pull-right">
        <li>
            <a href="#" data-bind="click: function() { Subscribe('watch'); return false; }"><span class="icon-search"></span> Watch Only</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#" data-bind="click: function() { Subscribe('email'); return false; }"><span class="icon-envelope"></span> Watch and alert</a>
        </li>
    </ul>
</div>
@* Subscribe *@


@* UnSubscribe *@
<div style="float: right; padding-top: 50px; position: fixed; right: 20px;" class="noprint" data-bind="visible: CanSubscribe() && IsSubscribed()">
    <button class="btn btn-small pull-right btn-danger" data-bind="click: function() { Subscribe('remove'); return false; }"><i class="icon-off icon-white"></i> Un-subscribe</button>
</div>
@* UnSubscribe *@

@* End of Subscription helpers *@




@Html.PrintButton()

@Html.PageRendered()


@using (MiniProfiler.Current.Step( "Track Other" ))
{
    @Html.Partial( "TrackOther",
        new TrackOtherModel( Model.ordernumber,
            TrackOtherViewType.Track ) )
}

@using (MiniProfiler.Current.Step( "Order Tracking Header" ))
{
    @Html.Partial( "_TrackingHeader",
        Model )
}

@******* Order Item Output ********@
<div class="row-fluid">
    <div class="offset3 span6">
        <table class="table table-condensed table-bordered">
            <thead>
            <tr>
                <th>
                    Qty
                </th>
                <th>
                    Description
                </th>
                <th>
                    Note
                </th>
            </tr>
            </thead>
            @foreach (d_orderitem curItem in Model.OrderItems)
            {
                <tr>
                    <td>
                        <div class="text-center">@curItem.qty</div>
                    </td>
                    <td>
                        @curItem.description
                    </td>
                    <td>
                        @curItem.note
                    </td>
                </tr>

                foreach (d_orderitemcharges curCharge in curItem.Charges)
                {
                    <tr>
                        <td>
                            <div class="text-center">@curCharge.qty</div>
                        </td>
                        <td>@curCharge.chargename</td>
                        <td>&nbsp;</td>
                    </tr>
                }
            }

            @if (Model.fasttrack)
            {
                <tr>
                    <td>&nbsp;</td>
                    <td>Fasttrack</td>
                    <td>&nbsp;</td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row-fluid noprint">
    <div class="offset3 span6">
        <table class="table">
            <thead>
            <tr>
                <th class="text-center">
                    Order Completion
                </th>
            </tr>
            </thead>
            <tr>
                <th>
                    <div class="progress progress-striped active">
                        @if (Model.Parts.IsNotNull())
                        {
                            foreach (var part in Model.Parts.OrderBy( x => Part.PART_CODE_SORT_ORDER.IndexOf( x.PartCode,
                                StringComparison.Ordinal ) ))
                            {
                                string colorClass = "";

                                switch (part.PartCode)
                                {
                                    case "F":
                                        colorClass = "bar-info";
                                        break;

                                    case "M":
                                        colorClass = "bar-success";
                                        break;

                                    case "P":
                                        colorClass = "bar-warning";
                                        break;

                                    case "B":
                                        colorClass = "bar-danger";
                                        break;

                                    case "O":
                                        break;

                                    case "R":
                                        break;

                                    case "S":
                                        break;
                                }

                                if (part.PercentComplete > 0)
                                {
                                    <div class="bar @colorClass" style="width: @(part.PercentComplete * 1.0 / Model.Parts.Count())%">@part.PartCode (@part.PercentComplete.ToString( "0.##" ) %)</div>
                                }
                            }
                        }
                    </div>
                </th>
            </tr>
        </table>
    </div>
</div>


@using (MiniProfiler.Current.Step( "Printing Tracking Table" ))
{
    @Model.PrintTrackTable( Html )
}

@if (Model.shipdate.HasValue)
{
    <div class="row-fluid">
        <div class="offset2 span8">
            <table class="table table-condensed table-bordered">
                <tr class="success">
                    <td>
                        <h3 class="text-center">Shipped @Model.shipdate.Value</h3>
                    </td>
                </tr>
            </table>
        </div>
    </div>
}

@section script
{
    <script type="text/javascript">
        var VM = new TrackingViewModel(@Model.ordernumber);
    </script>
}

@Model.PrintErrorsTable( Html )
