﻿@{
    ViewBag.Title = "View Bar";
}

@Html.PageTitle( ViewBag.Title as string )

@using (Html.BeginForm())
{
    <div class="row-fluid">
        <div class="span6">
            <label class="pull-right" for="barid">
                Bar ID:
            </label>
        </div>
        <div class="span6">
            <input type="text" class="input-small" name="barid" id="barid" placeholder="Bar ID"/>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 text-center">
            <button type="submit" class="btn btn-primary">View</button>
        </div>
    </div>
}

@section script
{
    @Html.DisplayModelErrors()
}