﻿@model IEnumerable<inv_vendors>
@{
    ViewBag.Title = "Steel Inventory - Add";
}

@Html.PrintButton()

@Html.PageTitle( ViewBag.Title as string )

@using (Html.BeginForm( "Add",
    "SteelInventory",
    FormMethod.Post,
    new
    {
        id = "addform"
    } ))
{
    <div class="row-fluid">
        <div class="offset1 span10">
            <table class="table" id="newbars">
                <thead>
                <tr>
                    <th>Material</th>
                    <th>Diameter</th>
                    <th>True Diameter</th>
                    <th>Length</th>
                    <th class="noprint">Vendor</th>
                    <th class="noprint">Price/lb.</th>
                    <th>Heat Number</th>
                    <th>Bar ID</th>
                </tr>
                </thead>

                <tbody data-bind="foreach: Bars">
                <tr>
                    <td>
                        <select class="input input-small" name="material" data-bind="value: Material">
                            <option value="H-13">H-13</option>
                            <option value="2714">2714</option>
                            <option value="QRO-90">QRO-90</option>
                            <option value="M2">M2</option>
                            <option value="HOT VAR">HOT VAR</option>
                            <option value="DV">Die Var</option>
                        </select>
                    </td>
                    <td>
                        <div class="control-group" data-bind="validationElement: Diameter, validationOptions: { insertMessages: false }">
                            <input type="text" class="input input-small controls focus" name="diameter" data-bind="value: Diameter"/>
                        </div>
                    </td>
                    <td>
                        <div class="control-group" data-bind="validationElement: TrueDia, validationOptions: { insertMessages: false }">
                            <input type="text" class="input input-small controls" name="truedia" data-bind="    value: TrueDia"/>
                        </div>
                    </td>
                    <td>
                        <div class="control-group" data-bind="validationElement: Length, validationOptions: { insertMessages: false }">
                            <input type="text" class="input input-small controls" name="length" data-bind="    value: Length"/>
                        </div>
                    </td>
                    <td class="noprint">
                        <select class="input input-medium" name="vendor" data-bind="value: vendorid">
                            @foreach (inv_vendors vendor in Model)
                            {
                                <option value="@vendor.VendorID">@vendor.VendorName</option>
                            }
                        </select>
                    </td>
                    <td class="noprint">
                        <div class="control-group" data-bind="validationElement: lbPrice, validationOptions: { insertMessages: false }">
                            <input type="text" class="input input-small controls" name="priceperlb" data-bind="    value: lbPrice"/>
                        </div>
                    </td>
                    <td>
                        <div class="control-group" data-bind="validationElement: heatnumber, validationOptions: { insertMessages: false }">
                            <input type="text" class="input input-small controls" name="heatnumber" data-bind="    value: heatnumber"/>
                        </div>
                    </td>
                    <td>
                        <b id="barid" data-bind="text: NumID"></b>
                    </td>
                </tr>
                </tbody>

                <tfoot>
                <tr class="noprint">
                    <td colspan="8">
                        <p class="text-center">
                            <button type="button" class="btn btn-primary" id="addbars">Enter Into System</button>
                        </p>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
}

@section script
{
    <script type="text/javascript">
        var VM = new SteelInventoryAddBarViewModel();

        $(document).ready(function() {
            $("#newbars").on("keydown", "input", function() {
                AddRow();
            });

            $("#addbars").click(function() {
                $("#addbars").attr('disabled', 'disabled');
                var json = ko.toJSON(VM.Bars());

                $.post("/api/SteelInventory/InsertBars", { "": json }, function() {
                }).done(function(data) {
                    // Update BarID's

                    for (var i = 0; i < data.length; i++) {
                        if (data[i] !== null) {
                            VM.Bars()[i].NumID(data[i].NumID);
                        }
                    }
                    $("#addbars").removeAttr('disabled');
                }).fail(function(jqXHR, textStatus, errorThrown) {
                    $.pnotify({
                        title: "Error",
                        text: "Error while saving.",
                        type: "error"
                    });
                    console.log("Error in Post " + textStatus + " - " + errorThrown + " - " + jqXHR);
                    console.log(jqXHR);
                    $("#addbars").removeAttr('disabled');
                });
            });
        });

        function AddRow() {
            if (!AllRowsFull())
                return;

            VM.AddBar();
        }

        function AllRowsFull() {
            for (var i = 0; i < VM.Bars().length; i++) {
                if (VM.Bars()[i].errors().length > 0) {
                    return false;
                }
            }

            return true;
        }
    </script>
}