﻿@model IEnumerable<inv_steel>

@{
    ViewBag.Title = "Steel Inventory";
}

@Html.PrintButton()

@Html.PageRendered()

<h2 class="text-center">@GlobalResources.SteelInv_Title</h2>
<table class="table table-condensed table-striped table-hover table-bordered sortable">
    <thead>
    <tr>
        <th>@GlobalResources.SteelInv_Bar_ID</th>
        <th>@GlobalResources.SteelInv_Material</th>
        <th>@GlobalResources.SteelInv_Diameter</th>
        <th>@GlobalResources.SteelInv_True_Dia</th>
        <th>@GlobalResources.SteelInv_Current_Length</th>
        <th>@GlobalResources.SteelInv_Total_Length</th>
        <th>@GlobalResources.SteelInv_Date_In</th>
        <th>@GlobalResources.SteelInv_Weight</th>
        @if (User.IsInRole( DecadeRole.SteelPricing ))
        {
            <th>@GlobalResources.SteelInv_Price_Per_LB</th>
            <th>@GlobalResources.SteelInv_Bar_Value</th>
        }
        <th>@GlobalResources.SteelInv_Vendor</th>
        <th>@GlobalResources.SteelInv_Heat_Number</th>
    </tr>
    </thead>
    @foreach (var steel in Model)
    {
        <tr>
            <td>
                <a href="@Url.SteelInventoryViewBar( steel.NumID )">@steel.NumID</a>
            </td>
            <td>@steel.SteelInformation.Material</td>
            <td>@steel.SteelInformation.Dia.ToString( "#.###\"" )"</td>
            <td>@steel.TrueDia.ToString( "#.###" )"</td>
            <td>@steel.PrevLength.ToString( "#.###" )"</td>
            <td>@steel.Length.ToString( "#.###" )"</td>
            <td>@steel.DateIn.ToShortDateString()</td>
            <td>@(( steel.TrueDia * steel.TrueDia * steel.PrevLength * .224 ).ToString( "#.##" )) lbs.</td>
            @if (User.IsInRole( DecadeRole.SteelPricing ))
            {
                <td>
                    @(steel.lbPrice.HasValue
                          ? steel.lbPrice.Value.ToString( "C" )
                          : String.Empty)
                </td>
                <td>
                    @(( steel.TrueDia * steel.TrueDia * steel.PrevLength * .224 * ( steel.lbPrice.HasValue
                                                                                        ? steel.lbPrice.Value
                                                                                        : 1.5 ) ).ToString( "C" ))
                </td>
            }
            <td>
                @(steel.VendorInformation != null
                      ? steel.VendorInformation.VendorName
                      : String.Empty)
            </td>
            <td>@steel.heatnumber</td>
        </tr>
    }
</table>