﻿@model IEnumerable<inv_steel>
@{
    ViewBag.Title = "Steel Inventory - Edit";
}

@Html.PageTitle( "Steel Inventory - Edit" )

<div class="row-fluid">
    <div class="offset4 span4">
        <table class="table table-bordered table-condensed table-striped" id="editbars">
            <thead>
            <tr>
                <th>Bar ID</th>
                <th colspan="2">New Length</th>
            </tr>
            </thead>
            <tbody data-bind="foreach: Bars">
            <tr>
                <td>
                    <div class="control-group" data-bind="validationElement: NumID, validationOptions: { insertMessages: false }">
                        <input type="text" class="input-small controls focus" data-bind="value: NumID"/>
                    </div>
                </td>
                <td>
                    <div class="control-group" data-bind="validationElement: NewLength, validationOptions: { insertMessages: false }">
                        <input type="text" class="input-small controls" data-bind="value: NewLength"/>
                    </div>
                </td>
                <td>
                    <p data-bind="validationMessage: NumID"></p>
                    <p data-bind="validationMessage: NewLength"></p>
                </td>
            </tr>
            </tbody>

            <tfoot>
            <tr>
                <td colspan="3">
                    <p class="text-center">
                        <button type="submit" class="btn btn-primary" id="updateinventory">
                            Update
                        </button>
                    </p>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

@section script
{
    <script type="text/javascript">
        var VM = new SteelInventoryEditBarViewModel();

        $(document).ready(function() {
            $("#editbars").on("keydown", "input", function() {
                AddRow();
            });

            $("#updateinventory").click(function() {
                $("#updateinventory").attr('disabled', 'disabled');
                var json = ko.toJSON(VM.Bars());

                $.post("/api/SteelInventory/PostNewBarLengths", { "": json }, function() {
                }).done(function(data) {
                    if (data.error === true) {
                        for (var i = 0; i < data.errors.length; i++) {
                            $.pnotify({
                                title: "Error",
                                text: data.errors[i],
                                type: "error"
                            });
                        }
                    } else {
                        $.pnotify({
                            title: "Success",
                            text: "Information saved successfully",
                            type: "success"
                        });
                    }

                    $("#updateinventory").removeAttr('disabled');
                }).fail(function(jqXHR, textStatus, errorThrown) {
                    $.pnotify({
                        title: "Error",
                        text: "Error while saving.",
                        type: "error"
                    });
                    console.log("Error in Post " + textStatus + " - " + errorThrown + " - " + jqXHR);
                    console.log(jqXHR);

                    $("#updateinventory").removeAttr('disabled');
                });
            });

            // Allow Enter to Move to next Input
            EnterAsATab(jQuery);
        });

        function AddRow() {
            if (!AllRowsFull())
                return;

            VM.AddBar();
        }

        function AllRowsFull() {
            for (var i = 0; i < VM.Bars().length; i++) {
                if (VM.Bars()[i].errors().length > 0) {
                    return false;
                }
            }

            return true;
        }
    </script>
}