﻿@{
    ViewBag.Title = "Index";
}

<h2>Steel Inventory Options</h2>

<div class="row-fluid">
    @Html.ActionLink( "View Steel Inventory",
        "Display" )
</div>
@if (User.IsInRole( DecadeRole.SteelPricing ))
{
    <div class="row-fluid">
        @Html.ActionLink( "Add Bar Steel",
            "Add" )
    </div>
}
<div class="row-fluid">
    @Html.ActionLink( "Modify Current Bar Stock",
        "Edit" )
</div>
<div class="row-fluid">
    @Html.ActionLink( "View Bar Information",
        "ViewBarForm" )
</div>