﻿@model inv_steel
@{
    ViewBag.Title = "View Bar";
}

@Html.PageTitle( ViewBag.Title as string )

<div class="row-fluid">
    <div class="span6">
        <p class="pull-right">Bar ID</p>
    </div>
    <div class="span6">
        @Model.NumID
    </div>
</div>

<div class="row-fluid">
    <div class="span6">
        <p class="pull-right">Vendor</p>
    </div>
    <div class="span6">
        @(Model.VendorInformation != null
              ? Model.VendorInformation.VendorName
              : "<Unknown>")
    </div>
</div>

<div class="row-fluid">
    <div class="span6">
        <p class="pull-right">Heat Number</p>
    </div>
    <div class="span6">
        @Model.heatnumber
    </div>
</div>

<div class="row-fluid">
    <div class="span6">
        <p class="pull-right">Date In</p>
    </div>
    <div class="span6">
        @Model.DateIn
    </div>
</div>

@if (Model.DateFin.HasValue)
{
    <div class="row-fluid">
        <div class="span6">
            <p class="pull-right">Date Finished</p>
        </div>
        <div class="span6">
            @Model.DateFin.Value
        </div>
    </div>
}

<div class="row-fluid">
    <div class="span6">
        <p class="pull-right">Initial Length</p>
    </div>
    <div class="span6">
        @Model.Length
    </div>
</div>

<div class="row-fluid">
    <div class="span6">
        <p class="pull-right">Previous Length</p>
    </div>
    <div class="span6">
        @Model.PrevLength
    </div>
</div>