﻿@if (ViewData.ModelState.Values.Any( x => x.Errors.Count != 0 ))
{
    <script>
        $(document).ready(function() {
            @foreach (var error in ViewData.ModelState.Values.Where( x => x.Errors.Count != 0 ))
            {
                foreach (var tmpError in @error.Errors)
                {
                    try
                    {
                        <text>
                    $.pnotify({
                        title: "Error",
                        text: "@tmpError.ErrorMessage",
                        type: "error"
                        });
                    </text>
                    }
                    catch (Exception e)
                    {
                        Html.Raw( e );
                    }
                }
            }
        });
    </script>
}