﻿@{
    // Html.ViewContext.HttpContext.Response.AddHeader("cache-control", "no-cache");
    string Title = "ETS Tracking ({FacilityName}){PageTitle}".FormatWithName(new { Settings.FacilityName, PageTitle = (!String.IsNullOrEmpty(ViewBag.Title) ? " - " + ViewBag.Title : "") });
}
<!DOCTYPE html>
<html lang="@Settings.UserCulture" xml:lang="@Settings.UserCulture">
<head>
    <meta charset="utf-8" />
    <!-- <meta name="google" content="notranslate" /> -->
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    @Html.MetaAcceptLanguage()
    <title>@Title</title>
    <link rel="shortcut icon" href="~/Content/images/favicon.ico" />

    @if (IsSectionDefined("AddToHead"))
    { 
        @RenderSection("AddToHead", required: false)
    }

    @Styles.Render("~/Content/css")

    @Html.Partial("_html5shiv")

    <!--[if IE 6]>
    @Styles.Render("~/Content/ie6.min.css")
    <![endif]-->

    <style type="text/css">
        @@media (min-width: 979px)
        {
            body
            {
                padding-top: 40px;
            }
        }

        @@media (max-width: 500px)
        {
            .nomobile
            {
                display: none !important;
            }
        }

        @@media (max-width: 979px)
        {
            .navbar-search
            {
                display: none;
            }
        }
        /* Remove that annoying dotted outline from IE */
        input:focus, select:focus, textarea:focus, button:focus
        {
            outline: none !important;
        }

        .cen
        {
            text-align: center;
        }

        .center
        {
            display: inline-block;
        }

        .table thead th
        {
            text-align: center;
            vertical-align: middle;
        }

        td.ralign
        {
            text-align: right;
        }

        /* Used for aligning table cells */
        td > p
        {
            margin: 0 0 0 0;
        }

        .ui-autocomplete
        {
            max-height: 200px;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        .ui-pnotify-history-container
        {
            display: none;
        }

        .ui-pnotify
        {
            top: 45px;
        }

        .anchor
        {
            padding-top: 45px;
            margin-top: -45px;
        }

        .popover
        {
            width: 800px;
        }

        .table-sorter-header.tablesorter-reorder-helper
        {
            cursor: move;
        }

        .tablesorder-reorder-helper-bar
        {
            width: 1px;
            background: #000;
        }

        /* Used for Search Bar */
        .form-search .input-append .fixed-btn, .form-search .input-prepend .btn-group .fixed-btn
        {
            margin-left: -1px !important;
            -webkit-border-radius: 0 !important;
            -moz-border-radius: 0 !important;
            border-radius: 0 !important;
        }

        .form-search > .input-append > .btn-group .btn:last-child
        {
            -webkit-border-radius: 0 14px 14px 0 !important;
            -moz-border-radius: 0 14px 14px 0 !important;
            border-radius: 0 14px 14px 0 !important;
        }

        .dropup-menu
        {
            bottom: 100%;
            top: auto !important;
        }

            .dropup-menu:before
            {
                border-bottom: none;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-top: 7px solid rgba(0, 0, 0, 0.2);
                left: 7px;
                top: 100%;
            }

            .dropup-menu:after
            {
                border-bottom: none;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 6px solid #fff;
                /*left: 10px;*/
                top: 100%;
                left: 6px;
            }

        .input-mini
        {
            width: 60px;
        }

        @@media print
        {
            body
            {
                padding-top: 10px !important;
            }

            .noprint
            {
                display: none !important;
            }

            a[href]:after
            {
                content: none;
            }

            div[class*='profiler-']
            {
                display: none;
            }

            .table-condensed th, .table-condensed td
            {
                line-height: normal !important;
                padding: 1px 5px !important;
            }

            .tablesorter-filter-row
            {
                display: none;
            }

            .table td, .table th
            {
                background-color: #fff !important;
            }
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        @if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
            @Html.Partial("_Menu")
        }

        @RenderBody()
    </div>

    @* Load Library JS *@
    @Scripts.Render("~/Scripts/js")

    <script type="text/javascript">
        @* Setup a Global JavaScript Variable for Debug Mode *@
        var _DebugMode = @(((DecadeWeb.d_user)User.Identity).debugmode ? "!0" : "0");

        // Used for Form State
        var store;
        var storeName = $(location).attr('href') + '.formdata';
    </script>

    @* Load Project Library JS *@
    @Scripts.Render("~/Scripts/custjs")
    
    @{
        if (!Settings.UserCulture.EqualsIgnoreCase("en-US"))
        {
            @Scripts.Render("~/Scripts/globalize/cultures/globalize.culture.{0}.js".FormatWith(Settings.UserCulture));
        }
    }

    @RenderSection("scripts", required: false)

    @*
    <!--[if IE 6]>
    @Scripts.Render("~/Scripts/ie6.min.js")
    <![endif]-->
    *@

    <script type="text/javascript">
        // Apply Keyboard Shortcuts
        @{
            var shortcutBindings = new List<Tuple<string, string, bool>>
            {
                new Tuple<string, string, bool>("t r", "/Tracking", User.IsInRole(DecadeRole.Tracking)),
                new Tuple<string, string, bool>("s i", "/SteelInventory", User.IsInRole(DecadeRole.Steel) || User.IsInRole(DecadeRole.SteelPricing)),
                new Tuple<string, string, bool>("n c", "/NonConformance", User.IsInRole(DecadeRole.NonConf)),
                new Tuple<string, string, bool>("r e", "/Reports", User.IsInRole(DecadeRole.ReportsAdmin) || User.IsInRole(DecadeRole.ReportsShop)),
                new Tuple<string, string, bool>("o e", "/OrderEntry", User.IsInRole(DecadeRole.ModOrders)),
                new Tuple<string, string, bool>("a d", "/Admin", User.IsInRole(DecadeRole.Admin))
            };
        }
        Mousetrap.bind('/', function() {
            $("#searchbar").focus();
            return false;
        });
    @foreach (Tuple<string, string, bool> shortcut in shortcutBindings.Where(shortcut => shortcut.Item3))
    {
        @Html.Raw("Mousetrap.bind('{shortcut}', function() {{ window.location = '{url}'; return false; }});\n".FormatWithName(new { shortcut = shortcut.Item1.ToLower(), url = shortcut.Item2 }))
        @Html.Raw("Mousetrap.bind('{shortcut}', function() {{ window.location = '{url}'; return false; }});\n".FormatWithName(new { shortcut = shortcut.Item1.ToUpper(), url = shortcut.Item2 }))
    }
    </script>

    @* Send a keep alive packet if logged in *@
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        @Html.KeepAlive()
    }

    <script type="text/javascript">
        //#region Save and Restore Forms
        //Restore form data
        if ($(":input.savedata").length > 0) {
            store = new Persist.Store('DecadeWeb');
            var formDataStr = store.get(storeName);
            if (formDataStr !== null) {
                var formData = eval('(' + formDataStr + ')');
                if (formData.hasData) {
                    $(':input.savedata').each(function() {
                        if (this.name != undefined && this.name != "") {
                            try {
                                if ($(this).is(':checkbox')) {
                                    var tmpVal = $(this).val();
                                    if (formData[this.name][tmpVal] != undefined) {
                                        if (formData[this.name][tmpVal])
                                            $(this).attr('checked', 'checked');
                                        else
                                            $(this).removeAttr('checked');
                                    }
                                } else if ($(this).is(':radio')) {
                                    var tmpVal = $(this).val();
                                    if (formData[this.name] != undefined) {
                                        if (formData[this.name].value == tmpVal)
                                            $(this).attr('checked', 'checked');
                                        else
                                            $(this).removeAttr('checked');
                                    }
                                } else {
                                    if (formData[this.name] != undefined) {
                                        $(this).val(formData[this.name].value);
                                    }
                                }
                            } catch (err) {
                                console.log("Error restoring " + this.name);
                            }
                        }
                    });
                }
            }

            //Persist form data
            $(window).unload(function() {
                var formData = {};
                $(':input.savedata').each(function() {
                    if (this.name != undefined && this.name != "") {
                        if ($(this).is(':checkbox')) {
                            var tmpVal = $(this).val();
                            if (formData[this.name] == undefined)
                                formData[this.name] = {};
                            formData[this.name][tmpVal] = $(this).is(':checkbox:checked');
                        } else if ($(this).is(':radio')) {
                            if (formData[this.name] == undefined)
                                formData[this.name] = {};
                            if ($(this).is(':checked'))
                                formData[this.name].value = $(this).val();
                        } else {
                            formData[this.name] = {};
                            formData[this.name].value = $(this).val();
                        }
                    }
                });
                formData.hasData = true;
                store.set(storeName, JSON.stringify(formData));
            });
        }
        //#endregion
    </script>

    @RenderSection("script", required: false)
    @RenderSection("errorDisplay", required: false)

    @MiniProfiler.RenderIncludes()
</body>
</html>
