﻿<div class="navbar navbar-fixed-top noprint" id="main_menu">
    <div class="navbar-inner">
        <div class="container-fluid">
            @Html.ActionLink( "ETS Tracking",
                "Index",
                "Main",
                null,
                new
                {
                    @class = "brand"
                } )

            <!-- Used for responsive menubar -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    @Html.MenuLink( "Tracking",
                        "Index",
                        "Tracking" ).If( User.IsInRole( DecadeRole.Tracking ) )
                    @Html.MenuLink( "Reports",
                        "Index",
                        "Reports" ).If( User.IsInRole( DecadeRole.ReportsAdmin ) || User.IsInRole( DecadeRole.ReportsShop ) )
                    @Html.MenuLink( "Order Entry",
                        "Index",
                        "OrderEntry",
                        new
                        {
                            @class = "nomobile"
                        } ).If( User.IsInRole( DecadeRole.ModOrders ) )

                    @if (Settings.OldDecadeHost.IsNotNullOrEmpty())
                    {
                        <li>
                            <a href="http://@Settings.OldDecadeHost/" target="_blank">Old Decade</a>
                        </li>
                    }
                </ul>
                <ul class="nav pull-right">
                    @Html.MenuLink( @GlobalResources.SteelInv_Title,
                        "Index",
                        "SteelInventory" ).If( User.IsInRole( DecadeRole.Steel ) )
                    @Html.MenuLink( "Non-Conformance",
                        "Index",
                        "NonConformance" ).If( User.IsInRole( DecadeRole.NonConf ) )
                    @Html.MenuLink( "Admin",
                        "Index",
                        "Admin",
                        new
                        {
                            @class = "nomobile"
                        } ).If( User.IsInRole( DecadeRole.Admin ) )
                    @using (Html.BeginForm( "Query",
                        "Search",
                        FormMethod.Post,
                        new
                        {
                            @class = "navbar-search form-search"
                        } ))
                    {
                        <li>
                            <input type="text" class="search-query input-small" id="searchbar" name="query" placeholder="Search" autocomplete="off"/>
                        </li>
                    }
                    @Html.MenuLink( "Setup",
                        "Edit",
                        "Account" )
                    @Html.MenuLink( "Log Out",
                        "Logout",
                        "Account" )
                </ul>
            </div>
        </div>
    </div>
</div>

@*
<div style="position: fixed; bottom: 5px; left: 5px; opacity: .4;" class="nomobile">
    <div class="btn-group">
        <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="icon-off"></span>
        </button>
        <ul class="dropdown-menu dropup-menu">
            <li><a href="#">Test</a></li>
            <li><a href="#">Test</a></li>
            <li><a href="#">Test</a></li>
            <li><a href="#">Test</a></li>
        </ul>
    </div>
</div>
*@