﻿@using System.Globalization
<div id="pagerendered" style="bottom: 5px; opacity: .4; position: fixed; right: 5px;" class="noprint nomobile">
    <abbr title="@DateTime.Now.ToString( CultureInfo.InvariantCulture )" data-livestamp="@DateTime.Now.ToNotifyDate()"></abbr>
</div>