﻿<div style="float: right; padding-top: 20px; position: fixed; right: 20px;" class="noprint nomobile">
    <button class="btn btn-small pull-right" onclick=" window.print(); return false; "><i class="icon-print"></i> Print</button>
</div>