﻿@model TrackOtherModel
@{
    string action = Model.ViewType == TrackOtherViewType.Order
                        ? "DisplayOrder"
                        : "TrackByOrder",
           controller = Model.ViewType == TrackOtherViewType.Order
                            ? "Order"
                            : "Tracking";
}
<div class="noprint nomobile">
    @using (Html.BeginForm( action,
        controller,
        FormMethod.Post ))
    {
        <input type="hidden" name="mode" value="order"/>
        <div class="row-fluid text-center">
            <a href="@(Model.ViewType == TrackOtherViewType.Order
                           ? Url.DisplayOrder( Model.OrderNumber - 1 )
                           : Url.TrackByOrder( Model.OrderNumber - 1 ))">
                [&lt;&lt; @(Model.OrderNumber - 1)]
            </a>
            <a href="@Url.Action( "Index",
                         "Tracking" )">
                [TRACK ANOTHER]
            </a>
            <a href="@(Model.ViewType == TrackOtherViewType.Order
                           ? Url.DisplayOrder( Model.OrderNumber + 1 )
                           : Url.TrackByOrder( Model.OrderNumber + 1 ))">
                [@(Model.OrderNumber + 1) &gt;&gt;]
            </a>
        </div>
        <div class="row-fluid text-center">
            <input type="text" name="ordernumber" class="input-small focus"/>
        </div>
    }
</div>