﻿@{
    ViewBag.Title = "Login";
}

<style type="text/css">
    body { padding-top: 0; }
</style>

<div class="cen form-horizontal">
    <h2>Login</h2>
    @using (Html.BeginForm())
    {
        <div class="center">
            <p>Welcome to <b>ETS Tracking</b>, Exco @Settings.FacilityName's account and job tracking software. Please login with your employee number and password below.
            </p>
        </div>
        if (ViewData.ModelState.Values.Any( x => x.Errors.Count != 0 ))
        {
            <div class="row-fluid">
                <div class="span12 center alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    @Html.ValidationSummary()
                </div>
            </div>
        }
        <div class="row-fluid">
            <div class="control-group center">
                <label for="username" class="control-label">
                    Employee
                </label>
                <div class="controls">
                    <input type="text" name="username" id="username" class="focus"/>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="control-group center">
                <label for="password" class="control-label">
                    Password
                </label>
                <div class="controls">
                    <input type="password" name="password"/>
                </div>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Login"/>
    }
</div>