﻿@using Mset.Exco.Decade
@using Mset.Extensions
@model DecadeWeb.Models.ConfirmationModel

<html>
<head>
    <title>@Model.ConfirmationTitle</title>
    <style>
        body {
            color: black;
            font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
            font-size: 10px;
        }

        a:visited, a:active, a:link { color: black; }

        h1 { font-size: 175%; }

        h2 { font-size: 125%; }

        tr.d0 td {
            background-color: #FFF;
            color: black;
        }

        tr.d1 td {
            background-color: #F2F2F2;
            color: black;
        }

        th, td { padding: 5px 10px 5px 10px; }

        table, th, td { border: 1px solid black; }

        table { border-collapse: collapse; }

        .no-border td, .no-border table { border: none; }

        .center { text-align: center; }

        .right { text-align: right; }
    </style>
</head>
<body>
<center>
    <h3>@Model.ConfirmationTitle</h3>
</center>
<p>
    @Model.Customer.name<br/>
    ATTN: @Model.Contacts.Where( x => x.displayname.IsNotNullOrEmpty() ).Select( d => d.displayname ).JoinWith( ", " )
</p>

<p>
    <b>@Model.DateTitle: @Model.ConfirmationDate.ToShortDateString()</b>
</p>
<br/>

<table>
    <thead>
    <tr>
        <th>
            <b>
                <u>Job Number</u>
            </b>
        </th>
        <th>
            <b>
                <u>Customer PO Number</u>
            </b>
        </th>
        <th>
            <b>
                <u>Delivery Date</u>
            </b>
        </th>
        @if (Model.IsOrderConfirmation)
        {
            <th>
                <b>
                    <u>Order Total</u>
                </b>
            </th>
        }
        else
        {
            <th>
                <b>
                    <u>Tracking Number</u>
                </b>
            </th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (d_order order in Model.Orders)
    {
        decimal total = order.sales + order.steelsurcharge + order.fasttrackcharge.OrDefault( 0m );

        if (Model.Customer.confIncludeFreight)
        {
            total += order.freight;
        }

        <tr>
            <td>
                @(order.DieNumbers.Count > 0
                      ? order.DieNumbers[0]
                      : "<Unknown>".ToHTMLEncoded())
            </td>
            <td class="center">
                @(!order.customerpo.IsNullOrEmpty()
                      ? order.customerpo
                      : "<Pending>".ToHTMLEncoded())
            </td>
            <td class="center">@order.expreceiveddate.ToShortDateString()</td>
            @if (Model.IsOrderConfirmation)
            {
                <td class="right">@total.ToCurrency()</td>
            }
            else
            {
                string trackingLink = ( !order.trackingnumber.IsNullOrEmpty() && !order.ShipVendor.IsNull() && !order.ShipVendor.trackingpage.IsNullOrEmpty() )
                                          ? "<a href=\"{link}{tracknumber}\">{tracknumber}</a>".FormatWithName( new
                                          {
                                              link = order.ShipVendor.trackingpage,
                                              tracknumber = order.trackingnumber
                                          } )
                                          : order.trackingnumber;

                <td class="right">
                    @trackingLink
                </td>
            }
        </tr>
    }
    </tbody>
</table>
</body>
</html>