﻿@model d_order
@{
    ViewBag.Title = String.Format("Order Information - {0}", Model.ordernumber );
}

<style>
    h1, h2, h3, h4, h5, h6 {
        line-height: initial;
        margin: 0;
    }

    .table-condensed td { padding: 0 10px; }
</style>

@Html.PrintButton()

@Html.PageRendered()

@Html.Partial( "TrackOther",
    new TrackOtherModel( Model.ordernumber,
        TrackOtherViewType.Order ) )

<center>
    <h3>DETAILS</h3>
    <h3>
        SO# <a href="@Url.TrackByOrder( Model.ordernumber )">@Model.ordernumber</a> @Html.OutputIf( "<b><font color=\"red\">HOLD</font></b>",
                                                                                        Model.onhold ) @Html.OutputIf( "<a href=\"{url}\" class=\"noprint\">Edit</a>".FormatWithName( new
                                                                                                       {
                                                                                                           url = Url.EditOrder( Model.ordernumber )
                                                                                                       } ),
                                                                                                           !Model.invoicedate.HasValue && User.IsInRole( DecadeRole.ModOrders ) )</h3>
    <h3>@Model.customercode (@Model.Customer.name)</h3>
    @Html.OutputIf( "<h4>*Stock*</h4>",
        Model.stock )
    @Html.OutputIf( "<h4>*NCR*</h4>",
        ( Model.ncr.OrDefault( false ) || Model.ncrs.OrDefault( false ) ) )
</center>

<br/>
<br/>

<div class="row-fluid">
    <div class="span6">
        <table class="table-condensed">
            <tr>
                <td>Bill To:</td>
                <td>
                    <strong>@Model.Customer.name</strong>
                </td>
                <td>Ship To:</td>
                <td>
                    <strong>@Model.Customer.name</strong>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>@Model.baddress1</td>
                <td>&nbsp;</td>
                <td>@Model.saddress1</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>@Model.baddress2</td>
                <td>&nbsp;</td>
                <td>@Model.saddress2</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>@Model.baddress3</td>
                <td>&nbsp;</td>
                <td>@Model.saddress3</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>@Model.baddress4</td>
                <td>&nbsp;</td>
                <td>@Model.saddress4</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>@Model.bpostalcode</td>
                <td>&nbsp;</td>
                <td>@Model.spostalcode</td>
            </tr>
        </table>
    </div>
</div>

<br/>

<table>
    <tr>
        <td align="right">
            <b>Order Date:</b>
        </td>
        <td>@Model.orderdate.ToShortDateString()</td>
    </tr>

    @if (Model.htdate.HasValue)
    {
        <tr>
            <td align="right">
                <b>HT Date:</b>
            </td>
            <td>@Model.htdate.Value.ToShortDateString()</td>
        </tr>
    }

    <tr>
        <td align="right">
            <b>Shop Date:</b>
        </td>
        <td>@Model.shopdate.ToShortDateString()</td>
    </tr>

    @if (Model.hotListDate.HasValue)
    {
        <tr>
            <td align="right">
                <b>Hot List Date:</b>
            </td>
            <td>@Model.hotListDate.Value.ToShortDateString()</td>
        </tr>
    }

    @if (Model.noshipbefore.HasValue)
    {
        <tr>
            <td align="right">
                <b>No Ship Before:</b>
            </td>
            <td>@Model.noshipbefore.Value.ToShortDateString()</td>
        </tr>
    }

    <tr>
        <td align="right">
            <b>Expected Ship:</b>
        </td>
        <td>@Model.expshipdate.ToShortDateString()</td>
    </tr>

    <tr>
        <td align="right">
            <b>Expected Rec'd:</b>
        </td>
        <td>@Model.expreceiveddate.ToShortDateString()</td>
    </tr>

    @if (Model.shipdate.HasValue)
    {
        <tr>
            <td align="right">
                <b>Ship Date:</b>
            </td>
            <td>@Model.shipdate.Value.ToShortDateString()</td>
        </tr>
    }

    @if (Model.invoicedate.HasValue)
    {
        <tr>
            <td align="right">
                <b>Invoice Date:</b>
            </td>
            <td>@Model.invoicedate.Value.ToShortDateString()</td>
        </tr>
    }

    <tr>
        <td align="right">
            <b>Customer PO:</b>
        </td>
        <td>
            @Html.LinkIf( "/ydrive/{customercode}/PO/{poscanname}".FormatWithName( new
            {
                customercode = Model.customercode.Right( 5 ),
                poscanname = Model.polink
            } ),
                !Model.customerpo.IsNullOrEmpty()
                    ? Model.customerpo
                    : "(No PO)",
                Model.poscanned && Model.polink.IsNotNullOrEmpty(),
                true )</td>
    </tr>

    <tr>
        <td align="right">
            <b>Ship Via:</b>
        </td>
        <td>@Model.shipvia</td>
    </tr>

    <tr>
        <td align="right">
            <b>Note:</b>
        </td>
        <td>@Model.note</td>
    </tr>

    @if (!Model.trackingnumber.IsNullOrEmpty()
         && Model.shipvendorid.HasValue)
    {
        <tr>
            <td align="right">
                <b>Tracking Number:</b>
            </td>
            <td>
                @Html.LinkIf( "{trackpage}{trackingnumber}".FormatWithName( new
                {
                    trackpage = Model.ShipVendor.trackingpage,
                    Model.trackingnumber
                } ),
                    "{vendorname} - {trackingnumber}".FormatWithName( new
                    {
                        vendorname = Model.ShipVendor.name,
                        Model.trackingnumber
                    } ),
                    !Model.ShipVendor.trackingpage.IsNullOrEmpty(),
                    true )</td>

        </tr>
    }
</table>

<br/>

<div class="row-fluid">
    <div class="span8">
        <table class="table-condensed">
            <thead>
            <tr>
                <th>Line</th>
                <th>Qty</th>
                <th>Die #</th>
                <th>Description/Location</th>
                <th>Unit</th>
                <th>Extended</th>
            </tr>
            </thead>
            <tbody>
            @foreach (d_orderitem curItem in Model.OrderItems)
            {
                <tr>
                    <td>
                        <p>@curItem.line</p>
                    </td>
                    <td>
                        <p>@curItem.qty</p>
                    </td>
                    <td>
                        <p>@curItem.dienumber</p>
                    </td>
                    <td>
                        <p>@curItem.description</p>
                    </td>
                    <td>
                        <p class="pull-right">@(( curItem.baseprice.OrDefault( curItem.price ) ).ToCurrency())</p>
                    </td>
                    <td>
                        <p class="pull-right">@(( curItem.baseprice.OrDefault( curItem.price ) * curItem.qty ).ToCurrency())</p>
                    </td>
                </tr>

                if (!curItem.location.IsNullOrEmpty())
                {
                    <tr>
                        <td colspan="3">
                            <p>&nbsp;</p>
                        </td>
                        <td colspan="3">
                            <p>Location: @curItem.location</p>
                        </td>
                    </tr>
                }

                foreach (d_orderitemcharges curCharge in curItem.Charges)
                {
                    <tr>
                        <td>
                            <p>&nbsp;</p>
                        </td>
                        <td>
                            <p>@curCharge.qty</p>
                        </td>
                        <td>
                            <p>&nbsp;</p>
                        </td>
                        <td>
                            <p>
                            @curCharge.chargename</td>
                        <td>
                            <p class="pull-right">
                                @(curCharge.chargepercentage > 0
                                      ? ( curCharge.chargepercentage / 100 ).ToString( "P2" )
                                      : curCharge.chargeprice.ToCurrency())
                            </p>
                        </td>
                        <td>
                            <p class="pull-right">@curCharge.price.ToCurrency()</p>
                        </td>
                    </tr>
                }
            }

            <tr>
                <td colspan="6">&nbsp;</td>
            </tr>

            <tr>
                <td colspan="5">
                    <b class="pull-right">Sub Total:</b>
                </td>
                <td>
                    <p class="pull-right">@Model.sales.ToCurrency()</p>
                </td>
            </tr>

            <tr>
                <td colspan="5">
                    <b class="pull-right">Discount:</b>
                </td>
                <td>
                    <p class="pull-right">@Model.discountamount.ToCurrency()</p>
                </td>
            </tr>

            <tr>
                <td colspan="5">
                    <b class="pull-right">Steel Surcharge:</b>
                </td>
                <td>
                    <p class="pull-right">@Model.steelsurcharge.ToCurrency()</p>
                </td>
            </tr>

            <tr>
                <td colspan="5">
                    <b class="pull-right">Fast Track:</b>
                </td>
                <td>
                    <p class="pull-right">@Model.fasttrackcharge.ToCurrency()</p>
                </td>
            </tr>

            <tr>
                <td colspan="5">
                    <b class="pull-right">Freight:</b>
                </td>
                <td>
                    <p class="pull-right">@Model.freight.ToCurrency()</p>
                </td>
            </tr>

            <tr>
                <td colspan="5">
                    <b class="pull-right">GST:</b>
                </td>
                <td>
                    <p class="pull-right">@Model.gst.ToCurrency()</p>
                </td>
            </tr>

            <tr>
                <td colspan="5">
                    <b class="pull-right">Total:</b>
                </td>
                <td>
                    <p class="pull-right">@Model.total.ToCurrency()</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>