﻿@model OrderEntryOrderModel
<div class="row-fluid" id="row_addresses">
    <div class="accordion" id="addresses">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#addresses" href="#collapseAddresses">Address Info</a>
            </div>
            <div id="collapseAddresses" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label" for="billingaddr">
                                    <a href="#addresses" class="addr_sel" rel="tooltip" id="billing" title="Select Different Address">Billing Address:</a>
                                </label>
                                <div class="controls">
                                    <textarea id="billingaddr" cols="30" rows="5" data-bind="value: BillingAddress" disabled="disabled">@Model.Order.BillingAddress</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label" for="shippingaddr">
                                    <a href="#addresses" class="addr_sel" rel="tooltip" id="shipping" title="Select Different Address">Shipping Address:</a>
                                </label>
                                <div class="controls">
                                    <textarea id="shippingaddr" cols="30" rows="5" data-bind="value: ShippingAddress" disabled="disabled">@Model.Order.ShippingAddress</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="control-group">
                                <div class="controls">
                                    <input type="text" id="billingpostal" disabled="disabled" data-bind="value: bpostalcode" placeholder="@Model.Order.bpostalcode"/>
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="control-group">
                                <div class="controls">
                                    <input type="text" id="shippingpostal" disabled="disabled" data-bind="value: spostalcode" placeholder="@Model.Order.spostalcode"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
