﻿@model OrderEntryOrderModel
<div class="row-fluid" id="row_checklist">
    <div class="row-fluid" id="grp_checklist">
        <div class="accordion" id="checklist">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#checklist" href="#collapseChecklist">Check List </a>
                </div>
                <div id="collapseChecklist" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <div class="row-fluid" id="checkList_msgs">
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label" for="cl_die">
                                        Drawing Name:
                                    </label>
                                    <div class="controls">
                                        <input type="text" class="input-medium autocomplete-file" id="cl_die" name="cl_die" data-bind="valueplaceholder: CheckList().dienumber, enable: FieldsEnabled()" data-mode="dienumber" placeholder="@Model.Order.CheckList.dienumber"/>
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label" for="cl_alloy">
                                        Alloy
                                    </label>
                                    <div class="controls">
                                        <input type="text" class="input-medium" id="cl_alloy" data-bind="valueplaceholder: CheckList().alloy, enable: FieldsEnabled()" placeholder="@Model.Order.CheckList.alloy"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label" for="cl_feeder">
                                        Feeder Number:
                                    </label>
                                    <div class="controls">
                                        <input type="text" class="input-medium  autocomplete-file" id="cl_feeder" data-bind="valueplaceholder: CheckList().feeder, enable: FieldsEnabled()" data-mode="feeder" placeholder="@Model.Order.CheckList.feeder"/>
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label" for="cl_backer">
                                        Backer Number:
                                    </label>
                                    <div class="controls">
                                        <input type="text" class="input-medium  autocomplete-file" id="cl_backer" data-bind="valueplaceholder: CheckList().backer, enable: FieldsEnabled()" data-mode="backer" placeholder="@Model.Order.CheckList.backer"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label" for="cl_bolster">
                                        Bolster:
                                    </label>
                                    <div class="controls">
                                        <input type="text" class="input-medium  autocomplete-file" id="cl_bolster" data-bind="valueplaceholder: CheckList().bolster, enable: FieldsEnabled()" data-mode="bolster" placeholder="@Model.Order.CheckList.bolster"/>
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label" for="cl_press">
                                        Press:
                                    </label>
                                    <div class="controls">
                                        <input type="text" class="input-xlarge  autocomplete-press" id="cl_press" data-bind="valueplaceholder: CheckList().press, enable: FieldsEnabled()" placeholder="@Model.Order.CheckList.press"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
