﻿@model OrderEntryOrderModel
<div class="row-fluid" id="row_dates">
    <div class="accordion" id="dates">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#dates" href="#collapseDates">Date Info</a>
            </div>
            <div id="collapseDates" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <div class="row-fluid">
                        <div class="span6">
                            <div id="grp_shopdate" class="control-group">
                                <label class="control-label" for="shopdate">
                                    Shop Date:
                                </label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input type="text" id="shopdate" class="datepicker localedate clearondblclick" data-bind="valueplaceholder: shopdate, enable: FieldsEnabled()" data-type="date" placeholder="@Model.Order.shopdate.ToShortDateString()" data-date='{ "numberOfMonths": 2, "showButtonPanel": true, "showCurrentAtPos": 0, "defaultDate": "@DateTime.Now.ToURLDate()" }'/>
                                        <span id="sched" class="add-on"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div id="grp_orderdate" class="control-group">
                                <label class="control-label" for="orderdate">
                                    Order Date:
                                </label>
                                <div class="controls">
                                    <input type="text" id="orderdate" class="datepicker localedate clearondblclick" data-bind="valueplaceholder: orderdate, enable: FieldsEnabled()" data-type="date" placeholder="@Model.Order.orderdate.ToShortDateString()" data-date='{ "numberOfMonths": 2, "showButtonPanel": true, "showCurrentAtPos": 0, "defaultDate": "@DateTime.Now.ToURLDate()" }'/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <div id="grp_noshipbefore" class="control-group" data-bind="validationElement: noshipbefore, validationOptions: { insertMessages: false }">
                                <label class="control-label" for="noshipbefore">
                                    No Ship Before:
                                </label>
                                <div class="controls">
                                    <input type="text" id="noshipbefore" class="datepicker localedate clearondblclick" data-bind="datepicker: noshipbefore, enable: FieldsEnabled()" data-type="date" value="@(Model.Order.noshipbefore.HasValue
                                                                                                                                                                                                                   ? Model.Order.noshipbefore.Value.ToShortDateString()
                                                                                                                                                                                                                   : String.Empty)" data-date='{ "numberOfMonths": 2, "showButtonPanel": true, "showCurrentAtPos": 0 }'/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <div id="grp_expshipdate" class="control-group" data-bind="validationElement: expshipdate, validationOptions: { insertMessages: false }">
                                <label class="control-label" for="expshipdate">
                                    Expected Ship:
                                </label>
                                <div class="controls">
                                    <input type="text" id="expshipdate" class="datepicker localedate clearondblclick" data-bind="valueplaceholder: expshipdate, enable: FieldsEnabled()" data-type="date" placeholder="@Model.Order.expshipdate.ToShortDateString()" data-date='{ "numberOfMonths": 2, "showButtonPanel": true, "showCurrentAtPos": 0, "defaultDate": "@DateTime.Now.ToURLDate()" }'/>
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div id="grp_shipdate" class="control-group">
                                <label class="control-label" for="shipdate">
                                    Ship Date:
                                </label>
                                <div class="controls">
                                    <input type="text" id="shipdate" class="datepicker localedate clearondblclick" data-bind="datepicker: shipdate, enable: FieldsEnabled()" data-type="date" value="@(Model.Order.shipdate.HasValue
                                                                                                                                                                                                           ? Model.Order.shipdate.Value.ToShortDateString()
                                                                                                                                                                                                           : String.Empty)" data-date='{ "numberOfMonths": 2, "showButtonPanel": true, "showCurrentAtPos": 0 }'/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <div id="grp_exprecvdate" class="control-group" data-bind="validationElement: expreceiveddate, validationOptions: { insertMessages: false }">
                                <label class="control-label" for="exprecvdate">
                                    Expected Received Date:
                                </label>
                                <div class="controls">
                                    <input type="text" id="exprecvdate" class="datepicker localedate clearondblclick" data-bind="valueplaceholder: expreceiveddate, enable: FieldsEnabled()" data-type="date" placeholder="@Model.Order.expreceiveddate.ToShortDateString()" data-date='{ "numberOfMonths": 2, "showButtonPanel": true, "showCurrentAtPos": 0, "defaultDate": "@DateTime.Now.ToURLDate()" }'/>
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div id="grp_invoicedate" class="control-group" data-bind="validationElement: invoicedate, validationOptions: { insertMessages: false }">
                                <label class="control-label" for="invoicedate">
                                    Invoice Date:
                                </label>
                                <div class="controls">
                                    <input type="text" id="invoicedate" class="datepicker localedate clearondblclick" data-bind="datepicker: invoicedate, enable: InvoiceEnabled()" data-type="date" value="@(Model.Order.invoicedate.HasValue
                                                                                                                                                                                                                  ? Model.Order.invoicedate.Value.ToShortDateString()
                                                                                                                                                                                                                  : String.Empty)" data-date='{ "numberOfMonths": 2, "showButtonPanel": true, "showCurrentAtPos": 0 }'/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
