﻿@model OrderEntryOrderModel
<div class="row-fluid" id="row_header">
    <div class="row-fluid">
        <div class="accordion" id="header">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#header" href="#collapseHeader">Header</a>
                </div>
                <div id="collapseHeader" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <div class="row-fluid">
                            <div class="span4">
                                <div id="grp_ordernumber" class="control-group">
                                    <label class="control-label" for="ordernumber">
                                        Order Number:
                                    </label>
                                    <div class="controls">
                                        <input type="text" id="ordernumber" data-bind="value: OrderNumber" placeholder="@(Model.Order.ordernumber == 0
                                                                                                                              ? "<Auto>"
                                                                                                                              : Model.Order.ordernumber.ToString())" disabled="disabled"/>
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div id="grp_customercode" class="control-group">
                                    <label class="control-label" for="customercode">
                                        Customer Code:
                                    </label>
                                    <div class="controls">
                                        <div class="input-append">
                                            <input type="text" class="input-append input-small focus customerautocomplete" id="customercode" data-bind="valueplaceholder: customercode, enable: CustomerEnabled()" placeholder="@Model.Order.customercode"/>
                                            <span class="add-on"><a href="#" id="custname" rel="tooltip" title="Edit Customer Information" data-bind="html: Customer().name">@Model.Order.CustomerName</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="span2" data-bind="visible: invoicenumber()">
                                <div id="grp_invoicenumber" class="control-group">
                                    <label class="control-label" for="invoicenumber">
                                        Invoice Number:
                                    </label>
                                    <div class="controls">
                                        <input type="text" class="input-small" id="invoicenumber" data-bind="value: invoicenumber" disabled="disabled" placeholder="@Model.Order.invoicenumber"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span4">
                                <div id="grp_customerpo" class="control-group">
                                    <label class="control-label" for="customerpo">
                                        Customer PO#:
                                    </label>
                                    <div class="controls">
                                        <input type="text" id="customerpo" class="keep_val" data-bind="valueplaceholder: customerpo, enable: FieldsEnabled()" placeholder="@Model.Order.customerpo"/>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div id="grp_designtype" class="control-group">
                                    <label class="control-label" for="designtype">
                                        Design Type:
                                    </label>
                                    <div class="controls">
                                        <select id="designtype" class="" data-bind="value: DesignType, enable: FieldsEnabled()">
                                            <option value="1">New</option>
                                            <option value="2">Repeat</option>
                                            <option value="3">Re-Design</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="span4 @(Model.Order.ordernumber == 0
                                                    ? ""
                                                    : "hidden")">
                                <div id="grp_ordercopies" class="control-group">
                                    <label class="control-label" for="ordercopies">
                                        Copies:
                                    </label>
                                    <div class="controls">
                                        <input type="text" class="input-small" id="ordercopies" data-bind="valueplaceholder: OrderCopies, enable: FieldsEnabled()" data-type="int" placeholder="1"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span4">
                                <div id="grp_notes" class="control-group">
                                    <label class="control-label" for="notes">
                                        Notes:
                                    </label>
                                    <div class="controls">
                                        <textarea id="notes" cols="30" rows="5" class="keep_val" data-bind="valueplaceholder: note, enable: FieldsEnabled()" placeholder="@Model.Order.note"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div id="grp_charge_type" class="control-group">
                                    <label class="control-label">
                                        Charge Type:
                                    </label>
                                </div>
                                <div class="controls">
                                    <div class="inline">
                                        <fieldset>
                                            <label class="radio">
                                                Charge
                                                <input type="radio" name="charge_type" id="charge_type_charge" value="0" data-bind="checked: ChargeType, enable: FieldsEnabled()"/>
                                            </label>
                                            <label class="radio">
                                                NCR
                                                <input type="radio" name="charge_type" id="charge_type_ncr" value="1" data-bind="checked: ChargeType, enable: FieldsEnabled()"/>
                                            </label>
                                            <label class="radio">
                                                NCR Scrap
                                                <input type="radio" name="charge_type" id="charge_type_ncrs" value="2" data-bind="checked: ChargeType, enable: FieldsEnabled()"/>
                                            </label>
                                            <label class="radio">
                                                No Charge
                                                <input type="radio" name="charge_type" id="charge_type_nocharge" value="3" data-bind="checked: ChargeType, enable: FieldsEnabled()"/>
                                            </label>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="span2">
                                <div class="control-group">
                                    <label class="control-label">
                                        Options:
                                    </label>
                                    <div class="controls">
                                        <div class="inline">
                                            <label class="checkbox">
                                                Shelf / Stock
                                                <input type="checkbox" id="shelf" data-bind="checked: shelf, enable: FieldsEnabled()"/>
                                            </label>
                                            <label class="checkbox">
                                                Priority
                                                <input type="checkbox" id="priority" data-bind="checked: priority, enable: FieldsEnabled()"/>
                                            </label>
                                            <label class="checkbox">
                                                Fast Track
                                                <input type="checkbox" id="fasttrack" data-bind="checked: fasttrack, enable: FieldsEnabled()"/>
                                            </label>
                                            <label class="checkbox">
                                                On Hold
                                                <input type="checkbox" id="onhold" data-bind="checked: onhold, enable: FieldsEnabled()"/>
                                            </label>
                                            <label class="checkbox">
                                                Canceled
                                                <input type="checkbox" id="canceled" data-bind="checked: canceled, enable: FieldsEnabled()"/>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
