﻿@model OrderEntryOrderModel

<style>
    .pagination { margin: 0; }

    #item_charges input { margin-bottom: 0; }
</style>

<div class="row-fluid" id="row_orderitem_edit">
<div class="row-fluid" id="grp_edititem">
<div class="accordion" id="edititem">
<div class="accordion-group">
<div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#edititem" href="#collapseEdit">Edit Order Item </a>
</div>
<div id="collapseEdit" class="accordion-body collapse in" style="/*height: 0px; */">
<div class="accordion-inner">
<div id="loading_Charges" style="position: absolute; right: 10px; top: 10px; z-index: 10;"
     class="hide">
    <!-- <img src="/Content/images/loading.gif" alt="Loading..."/> -->
</div>
<div class="row-fluid" id="item_msgs">
</div>
<div class="row-fluid">
    <div class="span3">
        <div class="control-group" id="grp_dietype">
            <label class="control-label" for="item_dietype">
                Die Type:
            </label>
            <div class="controls">
                <input type="text" id="item_dietype" class=" input-mini" data-bind="value: CurrentOrderItem().DieType, enable: FieldsEnabled()"/>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="control-group" id="grp_diameter">
            <label class="control-label" for="item_diameter">
                Diameter:
            </label>
            <div class="controls">
                <input type="text" id="item_diameter" class="input-mini localenumber" data-bind="datavalue: CurrentOrderItem().Diameter, enable: FieldsEnabled()" data-type="number"/>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="control-group" id="grp_thickness">
            <label class="control-label" for="item_thickness">
                Thickness:
            </label>
            <div class="controls">
                <input type="text" id="item_thickness" class="input-mini localenumber" data-bind="datavalue: CurrentOrderItem().Thickness, enable: FieldsEnabled()" data-type="number"/>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="control-group" id="grp_cav_id">
            <label class="control-label" for="item_cav_id">
                Cavities / I.D.:
            </label>
            <div class="controls">
                <input type="text" id="item_cav_id" class="input-mini localenumber" data-bind="datavalue: CurrentOrderItem().CavID, enable: FieldsEnabled()" data-type="number"/>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
<div id="itms" class="span12">
<div class="row-fluid">
    <div class="span4">
        <div class="control-group">
            <div class="control-label">
                <label class="control-label" for="item_name">
                    Name / Number:
                </label>
                <div class="controls">
                    <input type="text" id="item_name" class="input" data-bind="value: CurrentOrderItem().dienumber, enable: FieldsEnabled()"/>
                </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="control-group">
            <div class="control-label">
                <label class="control-label" for="item_location">
                    Location:
                </label>
                <div class="controls">
                    <input type="text" id="item_location" class="input" data-bind="value: CurrentOrderItem().location, enable: FieldsEnabled()"/>
                </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="control-group">
            <div class="control-label">
                <label class="control-label" for="item_tariff">
                    Tariff Code:
                </label>
                <div class="controls">
                    <input type="text" id="item_tariff" class="input" data-bind="value: CurrentOrderItem().tariffcode, enable: FieldsEnabled()"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span4">
        <div class="control-group">
            <label class="control-label" for="item_description">
                Description:
            </label>
            <div class="controls">
                <input type="text" id="item_description" data-bind="value: CurrentOrderItem().description, enable: FieldsEnabled()"/>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="control-group">
            <label class="control-label" for="item_note">
                Note:
            </label>
            <div class="controls">
                <input type="text" id="item_note" data-bind="value: CurrentOrderItem().note, enable: FieldsEnabled()"/>
            </div>
        </div>
    </div>
    <div class="span2">
        <div class="control-group">
            <label class="control-label" for="item_price">
                Price:
            </label>
            <div class="controls">
                <input type="text" id="item_price" class="input-small localenumber" data-bind="datavalue: CurrentOrderItem().baseprice, enable: FieldsEnabled()" data-type="number"/>
            </div>
        </div>
    </div>
    <div class="span2">
        <div class="control-group">
            <label class="control-label" for="item_qty">
                Qty:
            </label>
            <div class="controls">
                <input type="text" id="item_qty" class="input-small" placeholder="1" data-bind="valueplaceholder: CurrentOrderItem().qty, enable: FieldsEnabled()" data-type="number"/>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span4">
        <div class="control-group">
            <label class="control-label" for="item_freightweight">
                <a href="#edititem" class="weight_calc" rel="tooltip" id="A1" title="Custom Weight Calc">Freight Weight:</a>
            </label>
            <div class="controls">
                <div class="input-append">
                    <input type="text" id="item_freightweight" class="input-small input-append localenumber" data-bind="datavalue: CurrentOrderItem().freightweight, enable: FieldsEnabled()" data-type="number"/><span
                                                        class="add-on">lbs.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="control-group">
            <label class="control-label" for="item_nitrideweight">
                <a href="#edititem" class="weight_calc" rel="tooltip" id="A2" title="Custom Weight Calc">Nitride Weight:</a>
            </label>
            <div class="controls">
                <div class="input-append">
                    <input type="text" id="item_nitrideweight" class="input-small input-append localenumber" data-bind="datavalue: CurrentOrderItem().nitrideweight, enable: FieldsEnabled()" data-type="number"/><span
                                                        class="add-on">lbs.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="control-group">
            <label class="control-label" for="item_steelsurchargeweight">
                <a href="#edititem" class="weight_calc" rel="tooltip" id="A3" title="Custom Weight Calc">Steel Surcharge Weight:</a>
            </label>
            <div class="controls">
                <div class="input-append">
                    <input type="text" id="item_steelsurchargeweight" class="input-small input-append localenumber" data-bind="datavalue: CurrentOrderItem().steelsurchargeweight, enable: FieldsEnabled()" data-type="number"/><span
                                                        class="add-on">lbs.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6 control-group form-inline">
        <div class="controls" data-bind="visible: CurrentOrderItem()._ItemsPerPageOptions()[0] < CurrentOrderItem().ChargeList().length">
            <select class="input-small savedata" name="itemsperpage" data-bind="value: CurrentOrderItem()._ItemsPerPage, foreach: CurrentOrderItem()._ItemsPerPageOptions">
                <option data-bind="value: $data, text: $data"></option>
            </select>
        </div>
    </div>
    <div class="span6">
        <div class="pull-right">
            <input type="text" placeholder="Search" data-bind="value: CurrentOrderItem()._SearchText"/>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <table id="item_charges" class="table table-striped table-bordered table-condensed">
            <thead>
            <tr>
                <th style="width: 150px;">
                    Charge / Qty:
                </th>
                <th>
                    Description
                </th>
                <th style="width: 250px;">
                    Charge Value
                </th>
            </tr>
            </thead>
            <!-- ko if: CurrentOrderItem().ChargeList().length > 0 -->
            <tbody data-bind="visible: CurrentOrderItem().ChargeList().length > 0, foreach: CurrentOrderItem()._ItemsToDisplay()">
            <tr>
                <td>
                    <div data-bind="if: maxqty() == 1">
                        <label data-bind="attr: { for: 'charge_' + $index() }">
                            <input type="checkbox" data-bind="checked: IsChecked, attr: { id: 'charge_' + $index() }"/>
                        </label>
                    </div>
                    <div data-bind="if: maxqty() > 1">
                        <label data-bind="    attr: { for: 'charge_' + $index() }">
                            <input type="text" class="input-small selectall" data-bind="    value: Quantity, attr: { id: 'charge_' + $index() }"/>
                        </label>
                    </div>
                </td>
                <td>
                    <label data-bind="text: chargename, attr: { for: 'charge_' + $index() }"></label>
                </td>
                <td>
                    <div>
                        <label style="text-align: right" class="currency" data-bind="attr: { for: 'charge_' + $index() }, text: ChargeText">

                        </label>
                    </div>
                </td>
            </tr>
            </tbody>
            <!-- /ko -->
            <tfoot>
            <tr>
                <th>
                    Charge / Qty:
                </th>
                <th>
                    Description
                </th>
                <th>
                    Charge Value
                </th>
                <th style="display: none;">
                    Hidden
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<div data-bind="template: { name: 'pagination', data: CurrentOrderItem() }, style: { display: CurrentOrderItem()._LastPage() > 1 ? '' : 'none' }"></div>
<div class="row-fluid" style="height: 50px;" data-bind="style: { display: CurrentOrderItem()._LastPage() > 1 ? '' : 'none' }">
    &nbsp;
</div>
<div class="row-fluid">
    <div>
        <input type="button" id="item_remove" class="btn" value="Remove Item" data-bind="enable: FieldsEnabled()"/>
        <input type="button" id="item_addcust" class="btn btn-info" value="Add Custom Charge" data-bind="enable: FieldsEnabled()"/>
        <input type="button" id="item_removeall" class="btn" value="Remove All Items" data-bind="enable: FieldsEnabled()"/>
        <input type="button" id="item_save" class="btn btn-success" style="float: right;"
               value="Save Item" data-bind="enable: FieldsEnabled() && CurrentOrderItem().CanSave()"/>
        <input type="button" id="item_clear" class="btn" style="float: right;" value="Clear" data-bind="enable: FieldsEnabled()"/>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<script id="pagination" type="text/html">
    <div class="row-fluid">
        <div class="span12 pagination pull-right">
            <div class="pull-right">
                <ul data-bind="visible: _LastPage() > 1">
                    <li data-bind="css: { disabled: _CurrentPage() == 1 }, click: LastPage">
                        <a href="#">&laquo;</a>
                    </li>
                    <!-- ko foreach: ko.utils.range(1, _LastPage()) -->
                    <li data-bind="css: { active: $data == $parent._CurrentPage() }">
                        <a href="#" data-bind="text: $data, click: $parent.GoToPage.bind($data, $parent)"></a>
                    </li>
                    <!-- /ko -->
                    <li data-bind="css: { disabled: _CurrentPage() == _LastPage() }, click: NextPage">
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</script>