﻿@model OrderEntryOrderModel
<div class="row-fluid" id="row_orderitems">
    <div class="accordion" id="orderitems">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#orderitems" href="#collapseItems">Order Items </a>
            </div>
            <div id="collapseItems" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <div class="row-fluid">
                        <div class="span12">
                            <table class="table table-condensed tbody_hover" style="width: 100%" id="orderinfo">
                                <thead>
                                <tr>
                                    <th style="width: 20px;">
                                        Ln
                                    </th>
                                    <th>
                                        Qty
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Name / Number
                                    </th>
                                    <th>
                                        Location
                                    </th>
                                    <th>
                                        Note
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                </tr>
                                </thead>
                                <!-- ko foreach: OrderItems() -->
                                <tbody class="dragable">
                                <tr>
                                    <td rowspan="2" data-bind="text: line()"></td>
                                    <td data-bind="text: qty">
                                        Qty
                                    </td>
                                    <td data-bind="text: description">
                                        Description
                                    </td>
                                    <td data-bind="text: dienumber">
                                        Dienumber
                                    </td>
                                    <td data-bind="text: location">
                                        Location
                                    </td>
                                    <td data-bind="text: note">
                                        Note
                                    </td>
                                    <td>
                                        <p class="pull-right" data-bind="currency: ExtendedPrice, currencyOptions: { symbol: $parent.Symbol() }">Price</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5">
                                        <table class="table-bordered table-condensed" style="width: 100%">
                                            <thead>
                                            <tr>
                                                <th>
                                                    Charge Description
                                                </th>
                                                <th>
                                                    Charge Value
                                                </th>
                                                <th>
                                                    Charge Qty
                                                </th>
                                                <th>
                                                    Total
                                                </th>
                                            </tr>
                                            </thead>
                                            <tr>
                                                <td>
                                                    BASE PRICE
                                                </td>
                                                <td data-bind="currency: baseprice, currencyOptions: { symbol: $parent.Symbol() }">
                                                    Base Price
                                                </td>
                                                <td data-bind="text: qty">
                                                    Qty
                                                </td>
                                                <td>
                                                    <p class="pull-right" data-bind="currency: baseprice, currencyOptions: { symbol: $parent.Symbol() }">Base Price</p>
                                                </td>
                                            </tr>
                                            <!-- ko foreach: Charges -->
                                            <tr>
                                                <td data-bind="text: chargename">Charge Name</td>
                                                <td data-bind="text: ChargeText">Charge Price</td>
                                                <td data-bind="text: qty"><%= curCharge.chargetype.ToLower() == "nitride" ? curItem.nitrideweight.ToString() : curCharge.qty.ToString() %></td> @* Review This *@
                                                <td>
                                                    <p class="pull-right" data-bind="currency: ExtendedPrice, currencyOptions: { symbol: $parent._order.Symbol() }">Price</p>
                                                </td>
                                            </tr>
                                            <!-- /ko -->
                                        </table>
                                    </td>
                                    <td>&nbsp;</td>
                                </tr>
                                </tbody>
                                <!-- /ko -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
