﻿@model OrderEntryOrderModel
<div class="row-fluid" id="row_pricinginfo">
    <div class="accordion" id="pricinginfo">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#pricinginfo" href="#collapsePricing">Pricing </a>
            </div>
            <div id="collapsePricing" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <div class="row-fluid">
                        <div class="span8">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label" for="in_discountpercentage">
                                            Discount Percentage:
                                        </label>
                                        <div class="controls">
                                            <input type="text" id="in_discountpercentage" class="input-small localenumber selectall" data-bind="valueplaceholder: DiscountInput, enable: FieldsEnabled()" placeholder="@(Model.Order.discountpercentage.HasValue
                                                                                                                                                                                                                             ? Model.Order.discountpercentage.Value
                                                                                                                                                                                                                             : 0)@(Model.Order.discountontotal
                                                                                                                                                                                                                                       ? "T"
                                                                                                                                                                                                                                       : "")" value="@(Model.Order.discountpercentage.HasValue
                                                                                                                                                                                                                                                           ? Model.Order.discountpercentage.Value.ToString()
                                                                                                                                                                                                                                                           : "")@(Model.Order.discountontotal
                                                                                                                                                                                                                                                                      ? "T"
                                                                                                                                                                                                                                                                      : "")"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label" for="in_nitriderate">
                                            Nitride Rate:
                                        </label>
                                        <div class="controls">
                                            <input type="text" id="in_nitriderate" class="input-small localenumber selectall" data-bind="valueplaceholder: nitridecharge, enable: FieldsEnabled()" data-type="number" value="@(Model.Order.nitridecharge.HasValue
                                                                                                                                                                                                                                   ? Model.Order.nitridecharge.Value.ToString()
                                                                                                                                                                                                                                   : "")"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label" for="in_steelsurchargerate">
                                            Steel Surcharge Rate:
                                        </label>
                                        <div class="controls">
                                            <input type="text" id="in_steelsurchargerate" class="input-small localenumber selectall" data-bind="valueplaceholder: steelrate, enable: FieldsEnabled()" data-type="number" value="@(Model.Order.ordernumber != 0
                                                                                                                                                                                                                                      ? Model.Order.steelrate.ToString()
                                                                                                                                                                                                                                      : "")"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label" for="in_freightrate">
                                            Freight Rate:
                                        </label>
                                        <div class="controls">
                                            <input type="text" id="in_freightrate" class="input-small localenumber selectall" data-bind="valueplaceholder: freightcharge, enable: FieldsEnabled()" data-type="number" value="@(Model.Order.freightcharge.HasValue
                                                                                                                                                                                                                                   ? Model.Order.freightcharge.Value.ToString()
                                                                                                                                                                                                                                   : "")"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label" for="in_fasttrackpercentage">
                                            Fast Track Percentage:
                                        </label>
                                        <div class="controls">
                                            <input type="text" id="in_fasttrackpercentage" class="input-small localenumber selectall" data-bind="valueplaceholder: fasttrackpercentage, enable: FieldsEnabled()" data-type="number" value="@Model.Order.fasttrackpercentage"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <table style="width: 100%;" class="table-condensed table">
                                <thead>
                                <tr>
                                    <th colspan="2" style="text-align: center !important;">
                                        Order Pricing
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        Parts:
                                    </td>
                                    <td>
                                        <p class="pull-right" id="sales" data-bind="currency: sales, currencyOptions: { symbol: Symbol() }">@Model.Order.sales</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Discount:
                                    </td>
                                    <td>
                                        <p class="pull-right override_charge" id="discountamount" data-bind="currency: discountamount, currencyOptions: { symbol: Symbol() }">@Model.Order.discountamount</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Steel Surcharge:
                                    </td>
                                    <td>
                                        <p class="pull-right override_charge" id="steelsurcharge" data-bind="currency: steelsurcharge, currencyOptions: { symbol: Symbol() }">@Model.Order.steelsurcharge</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Fast Track:
                                    </td>
                                    <td>
                                        <p class="pull-right" data-bind="currency: fasttrackcharge, currencyOptions: { symbol: Symbol() }">@Model.Order.fasttrackcharge</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Sub Total:
                                    </td>
                                    <td>
                                        <p class="pull-right" data-bind="currency: SubTotal, currencyOptions: { symbol: Symbol() }">@Model.Order.SubTotal</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Freight:
                                    </td>
                                    <td>
                                        <p class="pull-right override_charge" id="freight" data-bind="currency: freight, currencyOptions: { symbol: Symbol() }">@Model.Order.freight</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Tax/GST:
                                    </td>
                                    <td>
                                        <p class="pull-right" data-bind="currency: gst, currencyOptions: { symbol: Symbol() }">@Model.Order.gst</p>
                                    </td>
                                    <!-- ko foreach: TaxItems -->

                                    <!-- /ko -->
                                    @*
                                        <td id="subtaxes" class="hidden"><% foreach (Mset.Exco.Decade.d_ordertaxes curTax in order.TaxItems) { %>
                                                                <input type="hidden" class="taxes" taxtype="<%= curTax.taxtype %>" taxrate="<%= curTax.rate %>" value="<%= curTax.taxamount %>" />
                                            <% } %>
                                        </td>
                                        *@
                                </tr>
                                <tr>
                                    <td>
                                        Total:
                                    </td>
                                    <td>
                                        <p class="pull-right" data-bind="currency: total, currencyOptions: { symbol: Symbol() }">@Model.Order.total</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
