﻿@model OrderEntryOrderModel
<div class="row-fluid" id="row_shipping">
    <div class="accordion" id="shipping">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#shipping" href="#collapseShipping">Shipping Info </a>
            </div>
            <div id="collapseShipping" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label" for="shipvia">
                                    Ship Via:
                                </label>
                                <div class="controls">
                                    <input type="text" id="shipvia" data-bind="valueplaceholder: shipvia, enable: FieldsEnabled() && !shipdate()" placeholder="@Model.Order.shipvia"/>
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="control-group" id="grp_shipwith" data-bind="validationElement: shipwithorder, validationOptions: { insertMessages: false }">
                                <label class="control-label" for="shipwith" rel="tooltip" title="Ordernumber this job needs to ship with">
                                    Ship With:
                                </label>
                                <div class="controls">
                                    <input type="text" id="shipwith" data-bind="datavalue: shipwithorder, enable: FieldsEnabled() && !shipdate()" data-type="int" value="@Model.Order.shipwithorder"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label" for="shipvendor">
                                    Ship Vendor:
                                </label>
                                <div class="controls">
                                    <select id="shipvendor" name="shipvendor" data-bind="value: shipvendorid, enable: FieldsEnabled() && shipdate(), options: ShipVendors, optionsText: 'name', optionsValue: 'shipvendorid'">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label" for="trackingnumber">
                                    Tracking Number:
                                </label>
                                <div class="controls">
                                    <input type="text" id="trackingnumber" data-bind="valueplaceholder: trackingnumber, enable: FieldsEnabled() && shipdate()" placeholder="@Model.Order.trackingnumber"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
