﻿@{
    ViewBag.Title = "Order Entry";
}

<style type="text/css">
    @@media (min-width: 979px) {
        body { padding-top: 60px !important; }
    }

    .well-condensed {
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .well-condensed button, .well-condensed .btn-group { width: 100%; }

    .shrink {
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .sidebar-nav { padding: 9px 0; }

    .sidebar-nav-fixed {
        position: fixed;
        top: 60px;
        width: 16%;
    }

    .fixed { position: fixed; }

    .dropdown-toggle { width: 2em !important; }

    .dropdown-parent {
        width: -moz-calc(100% - 2em + 2px) !important;
        width: -webkit-calc(100% - 2em + 2px) !important;
        width: calc(100% - 2em + 2px) !important;
    }

    #orders label { width: 100%; }

    #orders {
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
</style>

<div class="row-fluid">
<div class="offset1 span2">
    <div class="sidebar-nav-fixed">
        <div class="row-fluid">
            <div class="well well-condensed">
                <div class="row-fluid">
                    <button type="button" id="neworder" class="btn btn-primary">New Order</button>
                </div>
                <div class="row-fluid">
                    <button type="button" id="edit" class="btn btn-primary">Edit</button>
                </div>
                <div class="row-fluid">
                    <button type="button" id="editbyso" class="btn btn-primary">Edit by SO</button>
                </div>
                <div class="row-fluid">
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-parent choosecopies" id="print" name="pint">Print Orders</button>
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <!-- dropdown menu links -->
                            <li>
                                <a href="#" id="pdforder" name="pdforder" class="choosecopies">Download PDF</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-parent choosecopies" id="printinvoice" name="printinvoice">Print Invoice</button>
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <!-- dropdown menu links -->
                            <li>
                                <a href="#" id="pdfinvoice" name="pdfinvoice" class="choosecopies">Download PDF</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--
                <div class="row-fluid">
                    <button type="button" id="print" class="btn btn-primary choosecopies">Print Orders</button>
                </div>
                <div class="row-fluid">
                    <button type="button" id="printinvoice" class="btn btn-primary choosecopies">Print Invoices</button>
                </div>
                -->
                <div class="row-fluid">
                    <button type="button" id="track" class="btn btn-primary">Track</button>
                </div>
                <div class="row-fluid">
                    <button type="button" id="schedule" class="btn btn-primary">Schedule</button>
                </div>
                <div class="row-fluid">
                    <button type="button" id="copyorder" class="btn btn-primary">Copy Order</button>
                </div>
                <div class="row-fluid">
                    <button type="button" id="confirmations" class="btn btn-primary">Confirmations</button>
                </div>
                <div class="row-fluid">
                    <button type="button" id="editcustomers" value="Edit Customers" class="btn btn-primary">Edit Customers</button>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="well form-inline well-condensed">
                <div class="row-fluid">
                    <fieldset id="orderfilter">
                        <div class="row-fluid">
                            <label class="radio">
                                <input type="radio" name="filtertype" id="openorders" value="openorders" checked="checked" class="savedata"/>
                                Open Orders
                            </label>
                        </div>
                        <div class="row-fluid">
                            <label class="radio">
                                <input type="radio" name="filtertype" id="shippedorders" value="shippedorders" class="savedata"/>
                                Shipped
                            </label>
                        </div>
                        <div class="row-fluid">
                            <label class="radio">
                                <input type="radio" name="filtertype" id="closedorders" value="closedorders" class="savedata"/>
                                Closed
                            </label>
                        </div>
                        <div class="row-fluid">
                            <label class="radio">
                                <input type="radio" name="filtertype" id="allorders" value="allorders" class="savedata"/>
                                All Orders
                            </label>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="well form-inline well-condensed">
                <div class="row-fluid">
                    <fieldset id="durationfilter">
                        <div class="row-fluid">
                            <label class="radio">
                                <input type="radio" name="filterduration" id="1week" value="1week" class="savedata" checked="checked"/>
                                1 Week
                            </label>
                        </div>
                        <div class="row-fluid">
                            <label class="radio">
                                <input type="radio" name="filterduration" id="2week" value="2week" class="savedata"/>
                                2 Weeks
                            </label>
                        </div>
                        <div class="row-fluid">
                            <label class="radio">
                                <input type="radio" name="filterduration" id="1month" value="1month" class="savedata"/>
                                1 Month
                            </label>
                        </div>
                        <div class="row-fluid">
                            <label class="radio">
                                <input type="radio" name="filterduration" id="3month" value="3month" class="savedata"/>
                                3 Months
                            </label>
                        </div>
                        <div class="row-fluid">
                            <label class="radio">
                                <input type="radio" name="filterduration" id="6month" value="6month" class="savedata"/>
                                6 Months
                            </label>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="well well-condensed">
                <div class="row-fluid text-center" id="ordercount" data-bind="text: ordercount()">
                    0 Orders
                </div>
            </div>
        </div>
    </div>
</div>

<div class="span8">
    <div class="row-fluid">
        <div class="span6 control-group form-inline">
            <div class="controls" data-bind="visible: _ItemsPerPageOptions()[0] < Orders().length">
                <select class="input-small savedata" name="optionsperpage" data-bind="value: _ItemsPerPage, foreach: _ItemsPerPageOptions">
                    <option data-bind="value: $data, text: $data"></option>
                </select>
            </div>
        </div>
        <div class="span6">
            <div class="pull-right">
                <input type="text" placeholder="Search" data-bind="value: _SearchText"/>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <table id="orders" class="table table-condensed table-striped table-bordered form-inline" style="width: 100%;">
            <thead class="fixedHeader">
            <tr style="cursor: pointer">
                <th data-bind="click: function () { SortTable('id'); }">
                    <span data-bind="text: title"></span>
                    <i data-bind="visible: _SortingColumn() === 'id', css: { 'icon-chevron-up': _SortingDirection(), 'icon-chevron-down': !_SortingDirection(), 'pull-right': 0 === 0 }"></i>
                </th>
                <th data-bind="click: function () { SortTable('code'); }">
                    Customer
                    <i data-bind="visible: _SortingColumn() === 'code', css: { 'icon-chevron-up': _SortingDirection(), 'icon-chevron-down': !_SortingDirection(), 'pull-right': 0 === 0 }"></i>
                </th>
                <th data-bind="click: function () { SortTable('name'); }">
                    Name
                    <i data-bind="visible: _SortingColumn() === 'name', css: { 'icon-chevron-up': _SortingDirection(), 'icon-chevron-down': !_SortingDirection(), 'pull-right': 0 === 0 }"></i>
                </th>
                <th data-bind="click: function () { SortTable('date'); }">
                    <span data-bind="text: datetitle"></span>
                    <i data-bind="visible: _SortingColumn() === 'date', css: { 'icon-chevron-up': _SortingDirection(), 'icon-chevron-down': !_SortingDirection(), 'pull-right': 0 === 0 }"></i>
                </th>
            </tr>
            </thead>
            <tbody data-bind="foreach: _ItemsToDisplay()">
            <tr data-bind="attr: { id: 'row' + $data.ordernumber() }">
                <td>
                    <label data-bind="attr: { for: 'chk' + $data.ordernumber() }">
                        <input type="checkbox" data-bind="attr: { id: 'chk' + $data.ordernumber() }, checked: Selected"/>
                        <span data-bind="text: $data[$root.numberfield()]"></span>
                    </label>
                </td>
                <td>
                    <label data-bind="text: customercode, attr: { for: 'chk' + $data.ordernumber() }"></label>
                </td>
                <td>
                    <label data-bind="text: CustomerName, attr: { for: 'chk' + $data.ordernumber() }"></label>
                </td>
                <td>
                    <label data-bind="date: $data[$root.datefield()], attr: { for: 'chk' + $data.ordernumber() }"></label>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row-fluid">
        <div class="span12 pagination pull-right">
            <div class="pull-right">
                <ul data-bind="visible: _LastPage() > 1">
                    <li data-bind="css: { disabled: _CurrentPage() == 1 }, click: FirstPage">
                        <a href="#">&laquo; &laquo;</a>
                    </li>
                    <li data-bind="css: { disabled: _CurrentPage() == 1 }, click: PrevPage">
                        <a href="#">&laquo;</a>
                    </li>
                    <!-- ko foreach: ko.utils.range(_FirstDispPage, _LastDispPage) -->
                    <li data-bind="css: { active: $data === $parent._CurrentPage() }">
                        <a href="#" data-bind="text: $data, click: $root.GoToPage.bind($root, $data)"></a>
                    </li>
                    <!-- /ko -->
                    <li data-bind="css: { disabled: _CurrentPage() == _LastPage() }, click: NextPage">
                        <a href="#">&raquo;</a>
                    </li>
                    <li data-bind="css: { disabled: _CurrentPage() == _LastPage() }, click: LastPage">
                        <a href="#">&raquo; &raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>


@section script
{
    <script type="text/javascript">
        var VM = null;
        $(document).ready(function() {
            VM = new OrderEntryMenuViewModel();

            // Keyboard Shortcuts
            Mousetrap.bind('left', function() {
                {
                    VM.PrevPage();
                    return false;
                }
            });
            Mousetrap.bind('right', function() {
                {
                    VM.NextPage();
                    return false;
                }
            });

            //#region Restore Display Option
            var formDataStr = store.get(storeName);
            if (formDataStr !== null) {
                var formData = eval('(' + formDataStr + ')');
                if (formData.hasData) {
                    VM._ItemsPerPage(formData.optionsperpage.value);
                }
            }
            //#endregion
        });
    </script>

    @Html.DisplayModelErrors()
}