﻿@using Newtonsoft.Json
@model OrderEntryOrderModel
@{
    ViewBag.Title = "Order";
}

<style type="text/css">
    @@media (min-width: 979px) {
        body { padding-top: 60px !important; }
    }

    .well-condensed {
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .well-condensed button, .well-condensed .btn-group { width: 100%; }

    .datepicker { width: 100px; }

    #item_charges label {
        height: 100%;
        width: 100%;
    }

    .tbody_hover tbody tr:hover td, .tbody_hover tbody tr:hover th { background-color: inherit; }

    .tbody_hover tbody:hover { background-color: whiteSmoke; }

    .dragable {
        cursor: pointer;
        display: table-row-group;
    }

    .shrink {
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .sidebar-nav { padding: 9px 0; }

    .sidebar-nav-fixed {
        position: fixed;
        top: 60px;
        width: 16%;
    }

    .fixed { position: fixed; }

    .sidebar-nav-fixed label { width: 100%; }

    .ui-state-highlight {
        display: table-row-group;
        height: 1.5em;
        line-height: 1.2em;
    }

    .control-label {
        display: inline-block;
        width: auto !important;
    }


    .dropdown-toggle { width: 2em !important; }

    .dropdown-parent {
        width: -moz-calc(100% - 2em + 2px) !important;
        width: -webkit-calc(100% - 2em + 2px) !important;
        width: calc(100% - 2em + 2px) !important;
    }

    #orders {
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }

    #orderinfo { height: auto !important; }
</style>

<div class="row-fluid">
    <div class="offset1 span2">
        <div class="sidebar-nav-fixed">
            <div class="well well-condensed" id="editmenu">
                <div class="row-fluid">
                    <button class="btn btn-primary" id="ok" name="ok" data-bind="enable: errors().length === 0">Ok</button>
                </div>
                <div class="row-fluid">
                    <button class="btn btn-primary" id="track" name="track">Track</button>
                </div>
                <div class="row-fluid">
                    <button class="btn btn-primary" id="schedule" name="schedule">Schedule</button>
                </div>
                <div class="row-fluid">
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-parent" id="printorder" name="printorder" data-bind="enable: errors().length === 0">Print Order</button>
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" data-bind="enable: false && errors().length === 0">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <!-- dropdown menu links -->
                            <li>
                                <a href="#" id="pdforder" name="pdforder">Download PDF</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-parent" id="printinvoice" name="printinvoice" data-bind="enable: errors().length === 0">Print Invoice</button>
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" data-bind="enable: false && errors().length === 0">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <!-- dropdown menu links -->
                            <li>
                                <a href="#" id="pdfinvoice" name="pdfinvoice">Download PDF</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--
                <div class="row-fluid">
                    <button class="btn btn-primary" id="printorder" name="printorder" data-bind="enable: errors().length === 0">Print Order</button>
                </div>
                <div class="row-fluid">
                    <button class="btn btn-primary" id="printinvoice" name="printinvoice" data-bind="enable: errors().length === 0">Print Invoice</button>
                </div>
                -->
                <div class="row-fluid">
                    <button class="btn btn-primary" id="cancel" name="cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="span8" id="main_form">
        @Html.Partial( "_Header",
            Model )
        @Html.Partial( "_Checklist",
            Model )
        @Html.Partial( "_Addresses",
            Model )
        @Html.Partial( "_Dates",
            Model )
        @Html.Partial( "_Shipping",
            Model )
        @Html.Partial( "_OrderItems",
            Model )
        @Html.Partial( "_OrderItemEdit",
            Model )
        @Html.Partial( "_PricingInfo",
            Model )
    </div>
</div>

<div class="modal hide" id="modal_address">
    <form>
        <div class="modal-header">
            <a class="close" data-dismiss="modal">x</a>
            <h3>
                Select Address
            </h3>
        </div>
        <div class="modal-body" id="modal_address_body">
            <table>
                <tr>
                    <td rowspan="2" valign="top">
                        <select id="sel_addresses" class="controls" size="7" data-bind="value: TempAddressKey">
                            <!-- ko foreach: Customer().Addresses() -->
                            <option data-bind="value: name, text: name"></option>
                            <!-- /ko -->
                        </select>
                    </td>
                    <td>
                        <textarea id="tmp_address" cols="30" rows="5" disabled="disabled" data-bind="value: TempAddress()"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="tmp_postal" class="controls" disabled="disabled" data-bind="value: TempAddressPostalCode()"/>
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" style="float: left;" data-dismiss="modal">Cancel</a> <a href="#"
                                                                                            class="btn btn-success save_addr" data-dismiss="modal">
                Save
            </a>
        </div>
    </form>
</div>
<div class="modal hide" id="modal_weightcalc">
    <form>
        <div class="modal-header">
            <a class="close" data-dismiss="modal">x</a>
            <h3>
                Custom Weight Calculator
            </h3>
        </div>
        <div class="modal-body" id="modal_weightcalc_body">
            <div class="row-fluid form-inline">
                <div class="span3">
                    <div class="control-group">
                        <div class="control-label">
                            <label for="calc_dietype">
                                Die Type:
                            </label>
                        </div>
                        <div class="controls">
                            <input type="text" id="calc_dietype" class="input-mini localenumber"/>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div class="control-group">
                        <div class="control-label">
                            <label for="calc_dia">
                                Diameter:
                            </label>
                        </div>
                        <div class="controls">
                            <input type="text" id="calc_dia" class="input-mini localenumber"/>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div class="control-group">
                        <div class="control-label">
                            <label for="calc_thk">
                                Thickness:
                            </label>
                        </div>
                        <div class="controls">
                            <input type="text" id="calc_thk" class="input-mini localenumber"/>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div class="control-group">
                        <div class="control-label">
                            <label for="calced_weight">
                                Weight:
                            </label>
                        </div>
                        <div class="controls">
                            <input type="text" id="calced_weight" class="input-mini localenumber"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" style="float: left;" data-dismiss="modal">Cancel</a> <a href="#"
                                                                                            class="btn btn-success weight_calc" data-dismiss="modal">
                Save
            </a>
        </div>
    </form>
</div>
<div class="modal hide" id="modal_CustomCharge" data-bind="with: CustomCharge">
    <form>
        <div class="modal-header">
            <a class="close" data-dismiss="modal">x</a>
            <h3>
                Custom Charge
            </h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid form-inline">
                <div class="span6">
                    <div class="control-group">
                        <div class="control-label">
                            <label for="charge_desc">
                                Charge Description:
                            </label>
                        </div>
                        <div class="controls">
                            <input type="text" id="charge_desc" class="input-xlarge charge_input" data-bind="value: chargename"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <div class="control-group">
                        <div class="control-label">
                            <label for="charge_val">
                                Charge Value:
                            </label>
                        </div>
                        <div class="controls">
                            <input type="text" id="charge_val" class="input-mini charge_input localenumber" data-bind="value: ChargeValue" data-type="number"/>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="control-group">
                        <div class="control-label">
                            <label for="charge_type">
                                Charge Type:
                            </label>
                        </div>
                        <div class="controls">
                            <select id="charge_type" class="input-small" data-bind="value: ChargeType">
                                <option value="fixed">Fixed</option>
                                <option value="percent">Percent</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="control-group">
                        <label class="control-label" for="charge_qty">
                            Qty:
                        </label>
                        <div class="controls">
                            <input type="text" id="charge_qty" class="input-mini charge_input" data-bind="value: Quantity" data-type="number"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" style="float: left;" data-dismiss="modal">Cancel</a> <a href="#"
                                                                                            class="btn btn-success charge_save" data-dismiss="modal">
                Save
            </a>
        </div>
    </form>
</div>


<div id="erroricon" style="bottom: 20px; left: 120px; opacity: 0; position: fixed;" class="noprint nomobile">
    <i class="fa fa-warning fa-4x"></i>
</div>

@section script
{
    <script type="text/javascript">
        var data = @Html.Raw( JsonConvert.SerializeObject( Model.Order ) );
        var vendors = @Html.Raw( JsonConvert.SerializeObject( Model.ShippingVendors ) );
        var ncrValue = @Html.Raw( JsonConvert.SerializeObject( Settings.OrderEntryNCRDiscount ) );
        var VM = new OrderViewModel();

        storeName = $(location).attr("host") + "/OrderEntry/EditPage";

        // Collapse un-neccessary sections if an existing order
        if (VM.Order.ordernumber() > 0) {
            $("#collapseChecklist").collapse({ hide: true });
            $("#collapseEdit").collapse({ hide: true });
        }

        @Html.OutputIf( Html.Raw( "VM.Order.CanClearInvoice(true);" ),
            User.IsInRole( DecadeRole.God ) )        ;
        VM.NCRRate(ncrValue);
        // VM.NCRRate = ncrValue;


        //#region Restore Display Option
        var formDataStr = store.get(storeName);
        if (formDataStr !== null) {
            var formData = eval('(' + formDataStr + ')');
            if (formData.hasData) {
                VM.Order.CurrentOrderItem()._ItemsPerPage(formData.itemsperpage.value);
            }
        }
        //#endregion
    </script>
}