﻿@model IEnumerable<d_order>
@{
    ViewBag.Title = "Open Orders";
}

@Html.PageTitle( ViewBag.Title as string )

<table>
    <thead>
    <tr>
        <th>Ordernumber</th>
        <th>Customer</th>
    </tr>
    </thead>

    <tbody>
    @foreach (d_order order in Model)
    {
        <tr>
            <td>@order.ordernumber</td>
            <td>@order.customercode</td>
            <td>@order.shipvia</td>
            <td>@order.expshipdate.ToShortDateString()</td>
        </tr>
    }
    </tbody>
</table>
