﻿@{
    ViewBag.Title = "Month End";
}

@Html.PageTitle( ViewBag.Title as string )

@using (Html.BeginForm())
{
    <div class="row-fluid">
        <div class="span6">
            <label class="pull-right" for="date">
                For Month:
            </label>
        </div>
        <div class="span6">
            <input type="text" class="input-small monthpicker" id="date" name="date" value="@DateTime.Now.ToFirstDayOfMonth().AddMonths( -1 ).ToString( "MM/yyyy" )"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label class="pull-right" for="labor">
                Labor Rate:
            </label>
        </div>
        <div class="span6 input-append">
            <input type="text" class="input-small savedata" id="labor" name="labor"/>
            <span class="add-on">%</span>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label class="pull-right" for="overhead">
                Overhead Rate:
            </label>
        </div>
        <div class="span6 input-append">
            <input type="text" class="input-small savedata" id="overhead" name="overhead"/>
            <span class="add-on">%</span>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label class="pull-right" for="smallSteelRate">
                &lt;= 24" $/lb.:
            </label>
        </div>
        <div class="span6 input-prepend">
            <span class="add-on">$</span>
            <input type="text" class="input-small savedata" id="smallSteelRate" name="smallSteelRate"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label class="pull-right" for="bigSteelRate">
                &gt; 24" $/lb.:
            </label>
        </div>
        <div class="span6 input-prepend">
            <span class="add-on">$</span>
            <input type="text" class="input-small savedata" id="bigSteelRate" name="bigSteelRate"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label class="pull-right" for="exchangeRate">
                Exchange (USD -&gt; Local):
            </label>
        </div>
        <div class="span6 input-prepend">
            <span class="add-on">$</span>
            <input type="text" class="input-small savedata" id="exchangeRate" name="exchangeRate"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12 text-center">
            <button type="submit" class="btn btn-primary">Generate</button>
        </div>
    </div>
}
