﻿@if (User.IsInRole( DecadeRole.ReportsAdmin ))
{
    <div class="span3">
        <h4>Admin</h4>
        <div class="row-fluid">
            @Html.ActionLink( "Invoice Audit",
                "InvoiceAuditForm",
                "Orders" )
        </div>
        <div class="row-fluid">
            @Html.ActionLink( "Sales",
                "Summary",
                "Sales" )
        </div>
        <div class="row-fluid">
            &nbsp;
        </div>
        <div class="row-fluid">
            @Html.ActionLink( "Daily Totals",
                "DailyTotals",
                "Orders" )
        </div>
        <div class="row-fluid">
            @Html.ActionLink( "Month End (WIP)",
                "MonthEnd",
                "Reports" )
        </div>
        <div class="row-fluid">
            &nbsp;
        </div>
        <div class="row-fluid">
            @Html.ActionLink("Zero Dollar Dies",
                "ZeroDollarDies",
                "Orders")
        </div>

    </div>
}