﻿@if (User.IsInRole( DecadeRole.ReportsAdmin ))
{
    <div class="span3">
        <h4>Order Reports</h4>
        <div class="row-fluid">
            @Html.ActionLink( "Open Orders",
                "Open",
                "Orders" )
        </div>
        <div class="row-fluid">
            @Html.ActionLink( "Order Action",
                "Action",
                "Orders" )
        </div>
        <div class="row-fluid">
            &nbsp;
        </div>
        @if (User.IsInRole( DecadeRole.ModOrders | DecadeRole.ViewOrders ))
        {
            <div class="row-fluid">
                @Html.ActionLink( "Surcharge Calculator",
                    "SurchargeCalculator",
                    "Orders" )
            </div>
            <div class="row-fluid">
                @Html.ActionLink( "Hold/Release Orders",
                    "ManageHold",
                    "Orders" )
            </div>
            <div class="row-fluid">
                &nbsp;
            </div>
        }
    </div>
}