﻿@Html.OutputIf( "<div class=\"offset2 span3\">",
    User.IsInRole( DecadeRole.ReportsShop | DecadeRole.HotListAdmin | DecadeRole.HotListView | DecadeRole.ReportsAdmin) )
@Html.OutputIf( "<h4>Shop</h4>",
    User.IsInRole( DecadeRole.ReportsShop | DecadeRole.HotListAdmin | DecadeRole.HotListView | DecadeRole.ReportsAdmin ) )

@if (User.IsInRole( DecadeRole.ReportsShop ))
{
    <div class="row-fluid">
        @Html.ActionLink( "Department Tasks",
            "Department",
            "Tasks" )
    </div>
    <div class="row-fluid">
        @Html.ActionLink( "Station Tasks",
            "Station",
            "Tasks" )
    </div>
    <div class="row-fluid">
        @Html.ActionLink( "Employee Tasks",
            "Employee",
            "Tasks" )
    </div>
    <div class="row-fluid">
        @Html.ActionLink( "On Time For Plant (FYTD)",
            "YTD",
            "OnTime" )
    </div>
    <div class="row-fluid">
        @Html.ActionLink( "Detailed On Time",
            "Detailed",
            "OnTime" )
    </div>
    <div class="row-fluid">
        @Html.ActionLink( "Month On Time By Customer",
            "MonthByCust",
            "OnTime" )
    </div>
    <div class="row-fluid">
        @Html.ActionLink( "Performance",
            "Performance",
            "OnTime" )
    </div>
    <div class="row-fluid">
        @Html.ActionLink( "View Steel Inventory",
            "Display",
            "SteelInventory" )
    </div>
    <div class="row-fluid">
        @Html.ActionLink( "Admin Schedule",
            "Admin",
            "Schedule" )
    </div>
    <div class="row-fluid">
        @Html.ActionLink( "HT Schedule",
            "HT",
            "Schedule" )
    </div>
}

@if (User.IsInRole(DecadeRole.ReportsAdmin))
{ 
    <div class="row-fluid">
        @Html.ActionLink("Order Schedule", "Order", "Schedule")
    </div>
}

    <div class="row-fluid">
        &nbsp;
    </div>

@if (User.IsInRole( DecadeRole.HotListView )
     || User.IsInRole( DecadeRole.HotListAdmin ))
{
    <div class="row-fluid">
        @Html.ActionLink( "Hot List",
            "HotList",
            "PartPosition" )
    </div>
}

@if (User.IsInRole( DecadeRole.ReportsShop ))
{
    <div class="row-fluid">
        @Html.ActionLink( "Part Positions",
            "Index",
            "PartPosition" )
    </div>

    <div class="row-fluid">
        @Html.ActionLink( "Watchlist",
            "WatchList",
            "PartPosition" )
    </div>

    <div class="row-fluid">
        &nbsp;
    </div>

    <div class="row-fluid">
        @Html.ActionLink( "Idle Orders",
            "Idle",
            "Orders" )
    </div>
    <div class="row-fluid">
        @Html.ActionLink( "On Hold Orders",
            "OnHold",
            "Orders" )
    </div>
    <div class="row-fluid">
        @Html.ActionLink( "Stock Orders",
            "Stock",
            "Orders" )
    </div>
    <div class="row-fluid">
        @Html.ActionLink( "NCR Orders",
            "NCR",
            "Orders" )
    </div>
    <div class="row-fluid">
        @Html.ActionLink( "FastTrack Orders",
            "FastTrack",
            "Orders" )
    </div>
    <div class="row-fluid">
        @Html.ActionLink( "Find Late Orders",
            "Late",
            "Orders" )
    </div>
}

@Html.OutputIf( "</div>",
    User.IsInRole( DecadeRole.ReportsShop | DecadeRole.HotListAdmin | DecadeRole.HotListView ) )