﻿@{
    ViewBag.Title = "Sales Summary";
}

@Html.PageTitle( ViewBag.Title as string )

@using (Html.BeginForm())
{
    <div class="row-fluid">
        <div class="span6">
            <label class="pull-right" for="date">
                Date:
            </label>
        </div>
        <div class="span6">
            <input type="text" class="input-small monthpicker" value="@DateTime.Now.ToFirstDayOfMonth().ToShortDateString()" id="date" name="date"/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12 text-center">
            <button type="submit" class="btn btn-primary">View</button>
        </div>
    </div>
}