﻿@model IEnumerable<SalesSummaryModel>
@{
    ViewBag.Title = "Sales Summary";
}

@Html.PageTitle( ViewBag.Title as string )

<div class="row-fluid">
    <div class="offset2 span8">
        <table class="table table-condensed table-striped sortable">
            <thead>
            <tr>
                <th>Customer</th>
                <th>Territory</th>
                <th>Sales</th>
                <th>Job Count</th>
                <th>FYTD Sales</th>
                <th>FYTD Job Count</th>
                <th>Last FY Sales</th>
                <th>Last FY Count</th>
            </tr>
            </thead>

            <tbody>
            @foreach (SalesSummaryModel curItem in Model)
            {
                if (curItem.Output)
                {
                    <tr>
                        <td>@curItem.Customer.name (@curItem.Customer.customercode)</td>
                        <td>@curItem.Customer.territory</td>
                        <td>
                            <p class="pull-right">@curItem.ThisMonthSales.ordertotal.ToCurrency()</p>
                        </td>
                        <td>
                            <p class="pull-right">@curItem.ThisMonthSales.ordercount</p>
                        </td>
                        <td>
                            <p class="pull-right">@curItem.ThisYearSales.ordertotal.ToCurrency()</p>
                        </td>
                        <td>
                            <p class="pull-right">@curItem.ThisYearSales.ordercount</p>
                        </td>
                        <td>
                            <p class="pull-right">@curItem.LastYearSales.ordertotal.ToCurrency()</p>
                        </td>
                        <td>
                            <p class="pull-right">@curItem.LastYearSales.ordercount</p>
                        </td>
                    </tr>
                }
            }
            </tbody>

            <tfoot>
            <tr>
                <th colspan="2">Totals</th>
                <th>
                    <p class="pull-right">@Model.Sum( x => x.ThisMonthSales.ordertotal ).ToCurrency()</p>
                </th>
                <th>
                    <p class="pull-right">@Model.Sum( x => x.ThisMonthSales.ordercount )</p>
                </th>
                <th>
                    <p class="pull-right">@Model.Sum( x => x.ThisYearSales.ordertotal ).ToCurrency()</p>
                </th>
                <th>
                    <p class="pull-right">@Model.Sum( x => x.ThisYearSales.ordercount )</p>
                </th>
                <th>
                    <p class="pull-right">@Model.Sum( x => x.LastYearSales.ordertotal ).ToCurrency()</p>
                </th>
                <th>
                    <p class="pull-right">@Model.Sum( x => x.LastYearSales.ordercount )</p>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>